Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, analysis, cycles, release

.gitlab-ci.yml:

image: registry.gitlab.com/soapbox-pub/rebased/ci

variables: &global_variables
  POSTGRES_DB: pleroma_test
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  DB_HOST: postgres
  DB_PORT: 5432
  MIX_ENV: test
  # Needed for Dokku deployment.
  # https://github.com/dokku/dokku/issues/2514#issuecomment-616775470
  GIT_DEPTH: 0

cache: &cache
  key:
    files:
      - mix.lock
  paths:
    - deps
    - _build
  policy: pull

stages:
  - deps
  - test
  - deploy

deps:
  stage: deps
  script:
    - mix deps.get
    - mix deps.compile
  cache:
    <<: *cache
    policy: pull-push
  only:
    changes:
      - mix.lock

openapi:
  stage: test
  only:
    changes:
      - ".gitlab-ci.yml"
      - "lib/pleroma/web/api_spec/**/*.ex"
      - "lib/pleroma/web/api_spec.ex"
  artifacts:
    paths:
      - spec.json
  script:
    - mix pleroma.openapi_spec spec.json

test:
  stage: test
  only:
    changes: &elixir-changes
      - ".gitlab-ci.yml"
      - "**/*.ex"
      - "**/*.exs"
      - "mix.lock"
  services: &db-services
    - name: postgres:13-alpine
      alias: postgres
      command: ["postgres", "-c", "fsync=off", "-c", "synchronous_commit=off", "-c", "full_page_writes=off"]
  before_script: &db-setup
    - mix ecto.create
    - mix ecto.migrate
  script:
    - mix test --cover --preload-modules
  coverage: '/^Line total: ([^ ]*%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

test-erratic:
  stage: test
  allow_failure: true
  only:
    changes: *elixir-changes
  services: *db-services
  before_script: *db-setup
  script:
    - mix test --only=erratic

lint:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix format --check-formatted

analysis:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

# Deploy with Dokku
# https://github.com/dokku/gitlab-ci
# https://github.com/dokku/ci-docker-image
review:
  image: dokku/ci-docker-image
  stage: test
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://rebased-$CI_COMMIT_REF_SLUG.dokku.soapbox.pub
  only:
    - branches
  except:
    - develop
  variables:
    GIT_REMOTE_URL: ssh://dokku@$DOKKU_HOST/rebased-$CI_COMMIT_REF_SLUG
    GIT_PUSH_FLAGS: --force
  script: dokku-deploy
  allow_failure: true

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
    - mix deps.get
    - mkdir release
    - mix release --path release
  artifacts:
    name: "rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME"
    paths:
      - release/*
  cache: {}
  only:
    refs:
      - develop
    changes: *elixir-changes

docker:
  stage: deploy
  image: docker:20.10.17
  cache: {}
  services:
    - docker:20.10.17-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE .
    - docker push $CI_REGISTRY_IMAGE
  only:
    refs:
      - develop

fix tag feeds: remote activities might not have a summary field
  lib/pleroma/web/feed/feed_view.ex
Due: test, test-erratic, lint, analysis, cycles, release

feed eex templates: use published field from @data, not @activity.data
  lib/pleroma/web/templates/feed/feed/_activity.atom.eex
  lib/pleroma/web/templates/feed/feed/_activity.rss.eex
  lib/pleroma/web/templates/feed/feed/_tag_activity.atom.eex
  lib/pleroma/web/templates/feed/feed/_tag_activity.xml.eex
Due: none

format feed_view.ex
  lib/pleroma/web/feed/feed_view.ex
Due: test, test-erratic, lint, analysis, cycles, release

modify Utils.scrub_html_and_truncate to take omission parameter
  lib/pleroma/web/metadata/utils.ex
  test/pleroma/web/metadata/utils_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

use scrub_html_and_truncate instead of scrub_html for feed item title
  lib/pleroma/web/feed/feed_view.ex
  test/pleroma/web/feed/user_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

oops, remove unused import
  lib/pleroma/web/feed/feed_view.ex
Due: test, test-erratic, lint, analysis, cycles, release

remove static_fe pipeline for /users/:nickname/feed
  lib/pleroma/web/router.ex
Due: test, test-erratic, lint, analysis, cycles, release

Sanitize filenames when uploading
  lib/pleroma/web/activity_pub/activity_pub.ex
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/mastodon_api/controllers/media_controller_test.exs
  test/pleroma/web/mastodon_api/update_credentials_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

AttachmentValidator: Add support for Honk "summary" + "name"
  lib/pleroma/web/activity_pub/object_validators/attachment_validator.ex
  test/pleroma/web/activity_pub/object_validators/attachment_validator_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

MastoAPI Attachment: Use "summary" for descriptions if present
  lib/pleroma/web/api_spec/schemas/attachment.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Add support for Image objects
  CHANGELOG.md
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/activity_pub/object_validator.ex
  lib/pleroma/web/activity_pub/object_validators/audio_image_video_validator.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
  lib/pleroma/web/activity_pub/utils.ex
  test/fixtures/hubzilla-actor.json
  test/fixtures/hubzilla-create-image.json
  test/pleroma/web/activity_pub/transmogrifier/image_handling_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Allow custom emoji reactions: Add pleroma_custom_emoji_reactions feature, review changes
  lib/pleroma/emoji.ex
  lib/pleroma/web/activity_pub/builder.ex
  lib/pleroma/web/activity_pub/object_validators/common_fields.ex
  lib/pleroma/web/activity_pub/object_validators/emoji_react_validator.ex
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/pleroma_api/views/emoji_reaction_view.ex
  test/pleroma/web/mastodon_api/views/notification_view_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Indicate in changelog that removal of crypt is breaking
  CHANGELOG.md
Due: none

fix: append field values to bio before parsing
  lib/pleroma/web/metadata/providers/rel_me.ex
  test/pleroma/web/metadata/providers/rel_me_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Display reposted replies with exclude_replies: true
  lib/pleroma/web/activity_pub/activity_pub.ex
Due: test, test-erratic, lint, analysis, cycles, release

Prevent moderators from deleting admins
  lib/pleroma/web/admin_api/controllers/user_controller.ex
  test/pleroma/web/admin_api/controllers/user_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

instances: Store some metadata based on NodeInfo
  lib/pleroma/instances/instance.ex
  priv/repo/migrations/20230306112859_instances_add_metadata.exs
  test/fixtures/mastodon-nodeinfo20.json
  test/fixtures/mastodon-well-known-nodeinfo.json
  test/fixtures/wildebeest-nodeinfo21.json
  test/fixtures/wildebeest-well-known-nodeinfo.json
  test/pleroma/instances/instance_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix api spec and tests
  lib/pleroma/web/api_spec.ex
  lib/pleroma/web/api_spec/operations/chat_operation.ex
  lib/pleroma/web/api_spec/operations/instance_operation.ex
  test/pleroma/user_test.exs
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
  test/pleroma/web/pleroma_api/controllers/event_controller_test.exs
  test/pleroma/webhook_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Fix profile fields update
  lib/pleroma/web/api_spec/schemas/status.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

No kurwa serio???
  lib/pleroma/web/api_spec/operations/admin/webhook_operation.ex
  lib/pleroma/web/api_spec/schemas/event.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Return `X-Total-Count` on GET `/api/v1/notifications`
  CHANGELOG_soapbox.md
  lib/pleroma/web/mastodon_api/controllers/notification_controller.ex
  lib/pleroma/web/mastodon_api/mastodon_api.ex
  test/pleroma/web/mastodon_api/controllers/notification_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Set background worker timeout to 15 minutes
  lib/pleroma/workers/background_worker.ex
Due: test, test-erratic, lint, analysis, cycles, release

Dedupe poll options
  lib/pleroma/web/common_api/utils.ex
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix existing tests
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix emoji reactions for legacy 2-tuple formats
  lib/pleroma/object.ex
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  lib/pleroma/web/pleroma_api/controllers/emoji_reaction_controller.ex
  test/pleroma/object_test.exs
  test/pleroma/web/activity_pub/utils_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
  test/pleroma/web/pleroma_api/controllers/emoji_reaction_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

List installed frontend refs in admin API
  docs/development/API/admin_api.md
  lib/pleroma/web/admin_api/controllers/frontend_controller.ex
  lib/pleroma/web/admin_api/views/frontend_view.ex
  lib/pleroma/web/api_spec/operations/admin/frontend_operation.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Also list frontends that are not in the config file
  lib/pleroma/web/admin_api/controllers/frontend_controller.ex
Due: test, test-erratic, lint, analysis, cycles, release

Merge branch 'tusooa/oban-common-pipeline' into 'develop'
  lib/pleroma/workers/receiver_worker.ex
  test/pleroma/web/federator_test.exs
  test/pleroma/workers/receiver_worker_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Merge branch 'fix/static-fe-feed-500' into 'develop'
  lib/pleroma/web/router.ex
Due: test, test-erratic, lint, analysis, cycles, release

Merge branch 'fix/tag-feed-crashes' into 'develop'
  lib/pleroma/web/feed/feed_view.ex
  lib/pleroma/web/metadata/utils.ex
  lib/pleroma/web/templates/feed/feed/_activity.atom.eex
  lib/pleroma/web/templates/feed/feed/_activity.rss.eex
  lib/pleroma/web/templates/feed/feed/_tag_activity.atom.eex
  lib/pleroma/web/templates/feed/feed/_tag_activity.xml.eex
  test/pleroma/web/feed/user_controller_test.exs
  test/pleroma/web/metadata/utils_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Merge branch 'remove-crypt' into 'develop'
  CHANGELOG.md
  lib/pleroma/web/plugs/authentication_plug.ex
  mix.exs
  mix.lock
  test/pleroma/web/plugs/authentication_plug_test.exs
Due: deps, test, test-erratic, lint, analysis, cycles, release

Merge branch 'docs-otp-support' into 'develop'
  docs/installation/otp_en.md
Due: none

Merge branch 'background-timeout' into 'develop'
  lib/pleroma/workers/background_worker.ex
Due: test, test-erratic, lint, analysis, cycles, release

Fix tests for frontend installation
  lib/pleroma/web/api_spec/operations/admin/frontend_operation.ex
  test/pleroma/web/admin_api/controllers/frontend_controller_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Add Fedistar as a desktop client in docs
  docs/clients.md
Due: none

Remove Roma from docs
  docs/clients.md
Due: none

Update contact information for Whalebird and Fedistar
  docs/clients.md
Due: none

mix: Update all dependencies
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, analysis, cycles, release

Allow more than 1 changelog entry
  tools/check-changelog
Due: none

Fix counting
  tools/check-changelog
Due: none
