Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, analysis, cycles, release

deps:
  stage: deps
  script:
  - mix deps.get
  - mix deps.compile
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull-push

openapi:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

test:
  stage: test
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --cover --preload-modules
  ...

test-erratic:
  stage: test
  allow_failure: true
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --only=erratic

lint:
  stage: test
  script:
  - mix format --check-formatted

analysis:
  stage: test
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  script:
  - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
  - mix deps.get
  - mkdir release
  - mix release --path release
  artifacts:
    name: rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME
    paths:
    - release/*
  cache: {}

Improve account header styles on authorization page
  priv/static/instance/static.css
Due: none

fix OTP install documentation
  docs/installation/otp_en.md
Due: none

Build images with kaniko
  .gitlab-ci.yml
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Combine images of different platforms into one
  .gitlab-ci.yml
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Skip changelog entry
  changelog.d/3870.skip
Due: none

Unify install guides using sudo to use `sudo -Hu`
  docs/installation/migrating_from_source_otp_en.md
  docs/installation/otp_en.md
Due: none

UploadedMedia: Add missing disposition_type to Content-Disposition
  changelog.d/3873.fix
  lib/pleroma/web/plugs/uploaded_media.ex
  test/pleroma/web/plugs/uploaded_media_plug_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

UploadedMedia: Increase readability via ~s sigil
  lib/pleroma/web/plugs/uploaded_media.ex
  test/pleroma/web/plugs/uploaded_media_plug_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Remove unused indexes
  priv/repo/migrations/20230422154018_drop_unused_indexes.exs
Due: test, test-erratic, lint, analysis, cycles, release

Use git diff to search for changelog entry
  .gitlab-ci.yml
  tools/check-changelog
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Fetch upstream in the repo
  tools/check-changelog
Due: none

Skip changelog
  changelog.d/changelog-improve.skip
Due: none

Explain changelog.d in merge request templates
  .gitlab/merge_request_templates/Default.md
Due: none

Skip changelog check for automated MRs
  .gitlab-ci.yml
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Remove SSH/BBS feature from core
  config/config.exs
  config/description.exs
  docs/configuration/cheatsheet.md
  lib/pleroma/bbs/authenticator.ex
  lib/pleroma/bbs/handler.ex
  mix.exs
  mix.lock
  test/pleroma/bbs/handler_test.exs
  test/pleroma/web/admin_api/controllers/config_controller_test.exs
Due: deps, test, test-erratic, lint, analysis, cycles, release

fix test after removing esshd/SSH feature
  test/pleroma/web/admin_api/controllers/config_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

add changelog entry for BBS/SSH feature remove
  changelog.d/3872.remove
Due: none

Do not use nested levels for arch
  .gitlab-ci.yml
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Use --custom-platform to replace the deprecated one
  .gitlab-ci.yml
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Use self-built elixir image for arm
  .gitlab-ci.yml
  Dockerfile
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Add ELIXIR_IMG arg to latest
  .gitlab-ci.yml
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Add changelog for 3876
  changelog.d/3876.skip
Due: none

Work around docker login needing daemon
  .gitlab-ci.yml
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Skip changelog entry for 3877
  changelog.d/3877.skip
Due: none

Do not use needs: in pipeline yaml
  .gitlab-ci.yml
  changelog.d/3878.skip
Due: openapi, test, test-erratic, lint, analysis, cycles, release

allow https: so that flash works across instances without need for media proxy
  lib/pleroma/web/plugs/http_security_plug.ex
Due: test, test-erratic, lint, analysis, cycles, release

changelog
  changelog.d/3879.fix
Due: none

Expose markup configuration in InstanceView
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: test, test-erratic, lint, analysis, cycles, release

Add extraction process for oauth scopes
  lib/pleroma/web/api_spec/scopes/compiler.ex
  lib/pleroma/web/api_spec/scopes/translator.ex
  test/pleroma/web/api_spec/scopes/compiler_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Add extracted pot
  priv/gettext/oauth_scopes.pot
Due: none

Make webui use translated scope descriptions
  lib/pleroma/web/templates/o_auth/o_auth/_scopes.html.eex
Due: none

Add changelog
  changelog.d/3848.add
Due: none

Add English translation for oauth scopes
  priv/gettext/en/LC_MESSAGES/oauth_scopes.po
Due: none

Fix MR pipelines not having build and test jobs
  .gitlab-ci.yml
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Do not count for renames when diffing
  tools/check-changelog
Due: none

User: Stop relying on ap_enabled
  lib/pleroma/user.ex
Due: test, test-erratic, lint, analysis, cycles, release

User: Remove ap_enabled?/1
  lib/pleroma/user.ex
Due: test, test-erratic, lint, analysis, cycles, release

Transmogrifier: Remove upgrade_user_from_ap_id
  lib/pleroma/web/activity_pub/transmogrifier.ex
  test/pleroma/web/activity_pub/transmogrifier_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Publisher: Stop filtering via ap_enabled?/1
  lib/pleroma/web/activity_pub/publisher.ex
Due: test, test-erratic, lint, analysis, cycles, release

AddRemoveValidator: Use User.fetch_by_ap_id instead of upgrade_user_from_ap_id
  lib/pleroma/web/activity_pub/object_validators/add_remove_validator.ex
Due: test, test-erratic, lint, analysis, cycles, release

Path conditions:
  deps: any of: mix.lock
  openapi: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  test: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  test-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  lint: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  analysis: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  release: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
