Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

build-1.13.4:
  tags:
  - amd64
  stage: build
  script:
  - mix compile --force

build-1.15.7-otp-25:
  tags:
  - amd64
  stage: build
  image: git.pleroma.social:5050/pleroma/pleroma/ci-base:elixir-1.15-otp25
  allow_failure: true
  script:
  - mix compile --force

spec-build:
  tags:
  - amd64
  stage: build
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

unit-testing-1.12.3:
  tags:
  - amd64
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  script:
  ...

unit-testing-1.15.7-otp-25:
  tags:
  - amd64
  stage: test
  image: git.pleroma.social:5050/pleroma/pleroma/ci-base:elixir-1.15-otp25
  allow_failure: true
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
  ...

unit-testing-1.12-erratic:
  tags:
  - amd64
  stage: test
  retry: 2
  allow_failure: true
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
  ...

formatting-1.13:
  image: elixir:1.13-alpine
  stage: lint
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  before_script:
  - apk update
  - apk add build-base cmake file-dev git openssl
  - mix local.hex --force
  - mix local.rebar --force
  - mix deps.get
  script:
  ...

cycles-1.13:
  image: elixir:1.13-alpine
  stage: lint
  cache: {}
  before_script:
  - apk update
  - apk add build-base cmake file-dev git openssl
  - mix local.hex --force
  - mix local.rebar --force
  - mix deps.get
  script:
  - mix compile
  ...

analysis:
  tags:
  - amd64
  stage: lint
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

dialyzer:
  tags:
  - feld
  stage: lint
  allow_failure: true
  when: manual
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix dialyzer

Include list id in StatusView
  changelog.d/list-id-visibility.add
  docs/development/API/differences_in_mastoapi_responses.md
  lib/pleroma/web/api_spec/schemas/status.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

fix instance replacement
  lib/pleroma/web/activity_pub/transmogrifier.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

prefer Pleroma assets
  CHANGELOG_soapbox.md
  priv/static/favicon.png
  priv/static/images/avi.png
  priv/static/images/banner.png
  priv/static/images/logo.png
  priv/static/images/rebased-wide.svg
  priv/static/index.html
  rebased.png
Due: none

Revert "Merge branch 'oauth-app-spam' into 'develop'"
  changelog.d/oauth-app.fix
  lib/pleroma/web/mastodon_api/controllers/app_controller.ex
  lib/pleroma/web/o_auth/app.ex
  test/pleroma/web/mastodon_api/controllers/app_controller_test.exs
  test/pleroma/web/o_auth/app_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Rate Limit the OAuth App spam
  changelog.d/oauth-app-spam.fix
  config/config.exs
  lib/pleroma/web/mastodon_api/controllers/app_controller.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Ensure apps are assigned to users
  changelog.d/oauth-app-spam.fix
  lib/pleroma/web/o_auth/app.ex
  lib/pleroma/web/o_auth/o_auth_controller.ex
  priv/repo/migrations/20240904142434_assign_app_user.exs
  test/pleroma/web/o_auth/o_auth_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add Cron worker to clean up orphaned apps hourly
  config/config.exs
  lib/pleroma/web/o_auth/app.ex
  lib/pleroma/workers/cron/app_cleanup_worker.ex
  test/pleroma/web/o_auth/app_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Limit the number of orphaned to delete at 100 every 10 mins due to the cascading queries that have to check oauth_authorizations and oauth_tokens tables.
  config/config.exs
  lib/pleroma/web/o_auth/app.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Test Account View does not indicate following if a FollowingRelationship is missing
  test/pleroma/web/mastodon_api/views/account_view_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix Following status bug
  changelog.d/following-state.fix
  lib/pleroma/web/mastodon_api/views/account_view.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

App orphans should only be removed if they are older than 15 mins
  lib/pleroma/web/o_auth/app.ex
  test/pleroma/web/o_auth/app_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Bump credo to prevent it from crashing
  mix.lock
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Credo: comment line length
  test/pleroma/web/mastodon_api/views/account_view_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Oban: more unique job constraints
  changelog.d/oban-uniques.change
  lib/pleroma/workers/receiver_worker.ex
  lib/pleroma/workers/remote_fetcher_worker.ex
  lib/pleroma/workers/rich_media_worker.ex
  lib/pleroma/workers/user_refresh_worker.ex
  lib/pleroma/workers/web_pusher_worker.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Dialyzer: the pattern can never match the type
  lib/pleroma/object/fetcher.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Dialyzer: the pattern can never match the type
  lib/pleroma/object/fetcher.ex
  lib/pleroma/web/activity_pub/pipeline.ex
  lib/pleroma/web/common_api.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Dialyzer: invalid contract
  lib/pleroma/user/import.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Dialyzer: The pattern variable _e@1 can never match the type, because it is covered by previous clauses.
  lib/pleroma/user/backup.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Dialyzer: The pattern variable _ can never match the type, because it is covered by previous clauses.
  lib/pleroma/user/backup.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Dialyzer: pattern_match The pattern can never match the type {:diff, false}.
  lib/pleroma/user/backup.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Changelog
  changelog.d/dialyzer.skip
Due: none

Add tests for Mastodon mention hashtag class
  test/pleroma/html_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

StatusView: Fall back to attachment type if no mimetype present
  lib/pleroma/web/mastodon_api/views/status_view.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Support migration from Akkoma
  docs/installation/migrating_from_akkoma.md
  priv/repo/migrations/20230306112859_instances_add_metadata.exs
  priv/repo/optional_migrations/akkoma_rollbacks/20220108213213_add_mastofe_settings.exs
  priv/repo/optional_migrations/akkoma_rollbacks/20220718102634_upgrade_oban_to_v11.exs
  priv/repo/optional_migrations/akkoma_rollbacks/20220805123645_remove_remote_cancelled_follow_requests.exs
  priv/repo/optional_migrations/akkoma_rollbacks/20220831170605_remove_local_cancelled_follows.exs
  priv/repo/optional_migrations/akkoma_rollbacks/20220911195347_add_user_frontend_profiles.exs
  priv/repo/optional_migrations/akkoma_rollbacks/20220916115149_ensure_mastofe_settings.exs
  priv/repo/optional_migrations/akkoma_rollbacks/20221020135943_add_nodeinfo.exs
  priv/repo/optional_migrations/akkoma_rollbacks/20221123221956_add_has_request_signatures.exs
  priv/repo/optional_migrations/akkoma_rollbacks/20221128103145_add_per_user_post_expiry.exs
  priv/repo/optional_migrations/akkoma_rollbacks/20221129105331_add_notification_activity_id_index.exs
  priv/repo/optional_migrations/akkoma_rollbacks/20221129110627_add_bookmarks_activity_id_index.exs
  priv/repo/optional_migrations/akkoma_rollbacks/20221129110727_add_report_notes_activity_id_index.exs
  priv/repo/optional_migrations/akkoma_rollbacks/20221129112022_add_cascade_to_report_notes_on_activity_delete.exs
  priv/repo/optional_migrations/akkoma_rollbacks/20221203232118_add_user_follows_hashtag.exs
  priv/repo/optional_migrations/akkoma_rollbacks/20221211234352_remove_unused_indices.exs
  priv/repo/optional_migrations/akkoma_rollbacks/20230127143303_rename_index_users_ap_id_coalesce_follower_address_index.exs
  priv/repo/optional_migrations/akkoma_rollbacks/20230522213837_add_unfollowed_dm_restrictions.exs
  priv/repo/optional_migrations/akkoma_rollbacks/20240210000000_drop_chat_tables.exs
  priv/repo/optional_migrations/akkoma_rollbacks/20240213120000_add_permit_followback.exs
  priv/repo/optional_migrations/akkoma_rollbacks/20240425120000_upload_filter_exiftool_to_exiftool_strip_location_real.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Akkoma rollbacks: Remove migrations used by pl
  priv/repo/optional_migrations/akkoma_rollbacks/20221203232118_add_user_follows_hashtag.exs
  priv/repo/optional_migrations/akkoma_rollbacks/20240213120000_add_permit_followback.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Update docs
  changelog.d/akkoma-migration.add
  docs/installation/migrating_from_akkoma.md
Due: none

update akkoma migration docs
  docs/installation/migrating_from_akkoma.md
Due: none

Argon2 password support
  lib/pleroma/web/plugs/authentication_plug.ex
  mix.exs
  mix.lock
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Authentication: convert argon2 passwords, add tests
  lib/pleroma/web/plugs/authentication_plug.ex
  test/pleroma/web/plugs/authentication_plug_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Changelog
  changelog.d/argon2-passwords.add
Due: none

Add localBubbleInstances to nodeinfo
  lib/pleroma/web/nodeinfo/nodeinfo.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Support Akkoma translation routes
  lib/pleroma/web/akkoma_compat_controller.ex
  lib/pleroma/web/api_spec/operations/akkoma_compat_operation.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/akkoma_compat_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Allow installing akkoma-fe
  config/config.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

expose bubble timeline availability
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

we're not soapbox actually
  README.md
  config/config.exs
  config/pl-fe.exs
  lib/pleroma/web/plugs/http_security_plug.ex
  lib/pleroma/web/templates/layout/app.html.eex
  lib/pleroma/web/utils/colors.ex
  test/pleroma/web/mastodon_api/controllers/instance_controller_test.exs
  test/pleroma/web/utils/colors_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

yes, i'm not a big fan of this `api_versions` thing, how did you know?
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Akkoma migration: Move mastofe settings to settings store
  priv/repo/optional_migrations/akkoma_rollbacks/20220108213213_add_mastofe_settings.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

LDAP Auth: fix TLS certificate verification
  changelog.d/ldap-tls.fix
  lib/pleroma/web/auth/ldap_authenticator.ex
  mix.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

update test
  test/pleroma/web/utils/colors_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Include Pleroma logo in .svg
  priv/static/static/logo.svg
Due: none

Path conditions:
  build-1.13.4: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  build-1.15.7-otp-25: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  spec-build: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing-1.12.3: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  unit-testing-1.15.7-otp-25: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  unit-testing-1.12-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  formatting-1.13: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles-1.13: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  analysis: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  dialyzer: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
