Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Path conditions:
  build: any of: **/*.ex, **/*.exs, mix.lock
  spec-build: any of: lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing: any of: **/*.ex, **/*.exs, mix.lock
  unit-testing-rum: any of: **/*.ex, **/*.exs, mix.lock
  lint: any of: **/*.ex, **/*.exs, mix.lock
  analysis: any of: **/*.ex, **/*.exs, mix.lock
  cycles: any of: **/*.ex, **/*.exs, mix.lock

Check for changelog in ci
  .gitlab-ci.yml
Due: none

Prevent duplicate pipelines
  .gitlab-ci.yml
Due: none

Allow to explicitly skip changelog
  .gitlab-ci.yml
  changelog.d/3739.skip
Due: none

Display error info
  .gitlab-ci.yml
Due: none

Fix {} not working with alpine sh
  .gitlab-ci.yml
Due: none

Use dedicated script
  .gitlab-ci.yml
  tools/check-changelog
Due: none

Update @context
  priv/static/schemas/litepub-0.1.jsonld
Due: none

README: check Rebased logo into repo
  README.md
  rebased.png
Due: none

GitLab CI: try copying prod build for test
  .gitlab-ci.yml
Due: none

GitLab CI: don't use cached deps for release
  .gitlab-ci.yml
Due: none

Don't warn importing prod.secret.exs if CI=true
  config/prod.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Export to ical
  config/config.exs
  lib/pleroma/application.ex
  lib/pleroma/web/activity_pub/object_validators/place_validator.ex
  lib/pleroma/web/api_spec/operations/pleroma_event_operation.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/pleroma_api/controllers/event_controller.ex
  lib/pleroma/web/pleroma_api/views/event_view.ex
  lib/pleroma/web/router.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Handle banner_id
  lib/pleroma/web/common_api/activity_draft.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Do not stream out Announces to public timelines
  lib/pleroma/activity/ir/topics.ex
  test/pleroma/activity/ir/topics_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Exclude Announce instead of restricting to Create in visibility_tags
  lib/pleroma/activity/ir/topics.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix SideEffectsTest
  test/pleroma/web/activity_pub/side_effects_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Use "Pleroma" in user-agent
  lib/pleroma/application.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

EventController.create: Use location_id
  lib/pleroma/web/api_spec/operations/pleroma_event_operation.ex
  lib/pleroma/web/api_spec/schemas/location_result.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/pleroma_api/controllers/event_controller.ex
  lib/pleroma/web/pleroma_api/views/search_view.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Translated using Weblate (Dutch)
  priv/gettext/nl/LC_MESSAGES/posix_errors.po
Due: none

Translated using Weblate (Dutch)
  priv/gettext/nl/LC_MESSAGES/errors.po
Due: none

Translated using Weblate (Dutch)
  priv/gettext/nl/LC_MESSAGES/static_pages.po
Due: none

Added translation using Weblate (Dutch)
  priv/gettext/nl/LC_MESSAGES/posix_errors.po
Due: none

Added translation using Weblate (Dutch)
  priv/gettext/nl/LC_MESSAGES/static_pages.po
Due: none

Bump minimum Elixir version to 1.10
  .gitlab-ci.yml
  CHANGELOG.md
  Dockerfile
  ci/Dockerfile
  config/config.exs
  docs/configuration/howto_database_config.md
  docs/installation/generic_dependencies.include
  elixir_buildpack.config
  lib/mix/tasks/pleroma/config.ex
  lib/pleroma/config/loader.ex
  lib/pleroma/web/activity_pub/object_validator.ex
  mix.exs
  priv/templates/sample_config.eex
  restarter/mix.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Revert "Merge branch 'rewrite/integration-test-websocket-client' into 'develop'"
  mix.exs
  mix.lock
  test/pleroma/integration/mastodon_websocket_test.exs
  test/support/websocket_client.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Use Websockex to replace websocket_client
  mix.exs
  mix.lock
  test/pleroma/integration/mastodon_websocket_test.exs
  test/support/websocket_client.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

script_test: Fix %ErlangError for Elixir 1.14
  test/pleroma/web/media_proxy/invalidation/script_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

timeline_controller_test: Fix test name for elixir 1.14
  test/pleroma/web/mastodon_api/controllers/timeline_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

mix: Switch prometheus_ex to fix/elixir-1.14 branch
  mix.exs
  mix.lock
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Elixir 1.14 formatting
  lib/mix/tasks/pleroma/user.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Bump minimum Elixir version to 1.10
  CHANGELOG.md
  Dockerfile
  ci/Dockerfile
  docs/installation/generic_dependencies.include
  elixir_buildpack.config
  lib/pleroma/config/loader.ex
  mix.exs
  restarter/mix.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Lint
  test/pleroma/web/activity_pub/side_effects_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Test coverage: Switch to covertool to get cobertura output
  .gitignore
  .gitlab-ci.yml
  mix.exs
  mix.lock
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Metadata/Utils: use summary as description if set
  lib/pleroma/web/metadata/utils.ex
  test/pleroma/web/metadata/providers/twitter_card_test.exs
  test/pleroma/web/metadata/utils_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

ci-base: Document building and pushing a new image
  ci/Dockerfile
  ci/README
Due: none

GitLab CI: only run release on develop branch
  .gitlab-ci.yml
Due: none

User: generate private keys on user creation
  lib/pleroma/signature.ex
  lib/pleroma/user.ex
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
  lib/pleroma/web/activity_pub/views/user_view.ex
  lib/pleroma/web/federator.ex
  lib/pleroma/web/web_finger.ex
  test/pleroma/user_test.exs
  test/pleroma/web/activity_pub/views/user_view_test.exs
  test/support/factory.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Migrations: generate unset user keys
  priv/repo/migrations/20220905011454_generate_unset_user_keys.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

GitLab CI: try using Elixir 1.12 base image
  .gitlab-ci.yml
  ci/Dockerfile
Due: none

GitLab CI: move review to test stage
  .gitlab-ci.yml
Due: none
