Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, analysis, cycles, release

deps:
  stage: deps
  script:
  - mix deps.get
  - mix deps.compile
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull-push

openapi:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

test:
  stage: test
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --cover --preload-modules
  ...

test-erratic:
  stage: test
  allow_failure: true
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --only=erratic

lint:
  stage: test
  script:
  - mix format --check-formatted

analysis:
  stage: test
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  script:
  - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
  - mix deps.get
  - mkdir release
  - mix release --path release
  artifacts:
    name: rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME
    paths:
    - release/*
  cache: {}

Version 2.5.2
  CHANGELOG.md
  mix.exs
Due: test, test-erratic, lint, analysis, cycles, release

Add instructions to serve media on another domain
  docs/configuration/hardening.md
  installation/pleroma-mediaproxy.nginx
Due: none

Recommend users to serve media on another domain in guide
  docs/installation/otp_en.md
Due: none

Add changelog
  changelog.d/media-altdomain.skip
Due: none

Add route to revoke all tokens
  lib/pleroma/web/router.ex
  lib/pleroma/web/twitter_api/controller.ex
  test/pleroma/web/twitter_api/controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Add instructions to other distro's guides
  docs/installation/alpine_linux_en.md
  docs/installation/arch_linux_en.md
  docs/installation/debian_based_en.md
  docs/installation/freebsd_en.md
  docs/installation/gentoo_en.md
  docs/installation/netbsd_en.md
  docs/installation/openbsd_en.md
Due: none

Remove test, we don't drop fep-e232 quotes
  test/pleroma/web/activity_pub/transmogrifier_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

add url to Metadata.build_tags call
  lib/pleroma/web/static_fe/static_fe_controller.ex
Due: test, test-erratic, lint, analysis, cycles, release

fix meta tag for twitter cards and image attachments
  lib/pleroma/web/metadata/providers/twitter_card.ex
Due: test, test-erratic, lint, analysis, cycles, release

twitter card: handle case where image has no alt text
  lib/pleroma/web/metadata/providers/twitter_card.ex
Due: test, test-erratic, lint, analysis, cycles, release

changelog entry
  changelog.d/3885.fix
Due: none

oops, forgot the test cases
  test/pleroma/web/metadata/providers/twitter_card_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

ConnCase: Make sure the host we use in tests is the actual Endpoint host
  test/support/conn_case.ex
Due: test, test-erratic, lint, analysis, cycles, release

Validate Host header matches expected value before allowing access to MediaProxy
  lib/pleroma/web/media_proxy/media_proxy_controller.ex
  test/pleroma/web/media_proxy/media_proxy_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Validate Host header matches expected value before allowing access to Uploads
  lib/pleroma/web/plugs/uploaded_media.ex
  test/pleroma/web/plugs/uploaded_media_plug_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Host header validation is now required for MediaProxy and Uploads
  changelog.d/3896.add
Due: none

Remove unwanted parameter
  test/support/conn_case.ex
Due: test, test-erratic, lint, analysis, cycles, release

Fix unused assignment
  lib/pleroma/web/plugs/uploaded_media.ex
Due: test, test-erratic, lint, analysis, cycles, release

Add OnlyMedia Upload Filter to simplify restricting uploads to audio, image, and video types
  changelog.d/3897.add
  docs/configuration/cheatsheet.md
  lib/pleroma/upload/filter.ex
  lib/pleroma/upload/filter/only_media.ex
  test/pleroma/upload/filter/only_media_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Esacpe the asterisks in Markdown
  docs/configuration/cheatsheet.md
Due: none

Switch from serving a 400 to a 302
  changelog.d/3896.add
  lib/pleroma/web/media_proxy/media_proxy_controller.ex
  lib/pleroma/web/plugs/uploaded_media.ex
  test/pleroma/web/media_proxy/media_proxy_controller_test.exs
  test/pleroma/web/plugs/uploaded_media_plug_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

installation/debian_based_jp: Elixir 1.11 means Debian 12+ and Ubuntu 22.04+
  changelog.d/distro-docs-elixir-1.11.skip
  docs/installation/debian_based_jp.md
Due: none

installation/debian_based_en: Elixir 1.11 means Debian 12+ and Ubuntu 22.04+
  docs/installation/debian_based_en.md
Due: none

Use Phoenix.ConnTest.redirected_to/2
  changelog.d/3899.skip
  test/pleroma/web/media_proxy/media_proxy_controller_test.exs
  test/pleroma/web/plugs/uploaded_media_plug_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Update to Phoenix 1.7
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, analysis, cycles, release

Remove unnecessary compilers as of Phoenix 1.7
  mix.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix deprecated calls to get_flash/2
  lib/pleroma/web.ex
  lib/pleroma/web/templates/o_auth/mfa/recovery.html.eex
  lib/pleroma/web/templates/o_auth/mfa/totp.html.eex
  lib/pleroma/web/templates/o_auth/o_auth/register.html.eex
  lib/pleroma/web/templates/o_auth/o_auth/show.html.eex
  test/pleroma/web/o_auth/o_auth_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

No user facing changes
  changelog.d/3900.skip
Due: none

Phoenix.Endpoint.Cowboy2Handler -> Plug.Cowboy.Handler
  config/config.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix base media and proxy URL in instructions to serve media on another domain
  docs/configuration/hardening.md
Due: none

Remove locked version of plug
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, analysis, cycles, release

Move websocket config for Shoutbox to the Endpoint
  config/config.exs
  lib/pleroma/web/endpoint.ex
Due: test, test-erratic, lint, analysis, cycles, release

Clean up Plug.Parsers.MULTIPART deprecation warnings
  lib/pleroma/web/endpoint.ex
Due: test, test-erratic, lint, analysis, cycles, release

Fix test warnings
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/timeline_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Bump minimum Elixir to 1.12
  .gitlab-ci.yml
  Dockerfile
  ci/Dockerfile
  mix.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Phoenix.Socket.Transport.force_ssl/4 no longer exists
  lib/phoenix/transports/web_socket/raw.ex
Due: test, test-erratic, lint, analysis, cycles, release

Fix compile warning
  lib/pleroma/web/router.ex
Due: test, test-erratic, lint, analysis, cycles, release

Media proxy base URL doesn't need /proxy
  docs/configuration/hardening.md
Due: none

mix: bump gettext to ~0.20
  changelog.d/3831.skip
  mix.exs
  mix.lock
  priv/gettext/en_test/LC_MESSAGES/default.po
  priv/gettext/en_test/LC_MESSAGES/errors.po
  priv/gettext/en_test/LC_MESSAGES/posix_errors.po
  priv/gettext/en_test/LC_MESSAGES/static_pages.po
  priv/gettext/ru/LC_MESSAGES/errors.po
  priv/gettext/zh_Hans/LC_MESSAGES/static_pages.po
Due: deps, test, test-erratic, lint, analysis, cycles, release

B Preload: Make sure that the preloaded json is html safe
  lib/pleroma/web/preload.ex
Due: test, test-erratic, lint, analysis, cycles, release

Path conditions:
  deps: any of: mix.lock
  openapi: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  test: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  test-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  lint: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  analysis: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  release: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
