Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, analysis, cycles, release

.gitlab-ci.yml:

image: registry.gitlab.com/soapbox-pub/rebased/ci

variables: &global_variables
  POSTGRES_DB: pleroma_test
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  DB_HOST: postgres
  DB_PORT: 5432
  MIX_ENV: test
  # Needed for Dokku deployment.
  # https://github.com/dokku/dokku/issues/2514#issuecomment-616775470
  GIT_DEPTH: 0

cache: &cache
  key:
    files:
      - mix.lock
  paths:
    - deps
    - _build
  policy: pull

stages:
  - deps
  - test
  - deploy

deps:
  stage: deps
  script:
    - mix deps.get
    - mix deps.compile
  cache:
    <<: *cache
    policy: pull-push
  only:
    changes:
      - mix.lock

openapi:
  stage: test
  only:
    changes:
      - ".gitlab-ci.yml"
      - "lib/pleroma/web/api_spec/**/*.ex"
      - "lib/pleroma/web/api_spec.ex"
  artifacts:
    paths:
      - spec.json
  script:
    - mix pleroma.openapi_spec spec.json

test:
  stage: test
  only:
    changes: &elixir-changes
      - ".gitlab-ci.yml"
      - "**/*.ex"
      - "**/*.exs"
      - "mix.lock"
  services: &db-services
    - name: postgres:13-alpine
      alias: postgres
      command: ["postgres", "-c", "fsync=off", "-c", "synchronous_commit=off", "-c", "full_page_writes=off"]
  before_script: &db-setup
    - mix ecto.create
    - mix ecto.migrate
  script:
    - mix test --cover --preload-modules
  coverage: '/^Line total: ([^ ]*%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

test-erratic:
  stage: test
  allow_failure: true
  only:
    changes: *elixir-changes
  services: *db-services
  before_script: *db-setup
  script:
    - mix test --only=erratic

lint:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix format --check-formatted

analysis:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

# Deploy with Dokku
# https://github.com/dokku/gitlab-ci
# https://github.com/dokku/ci-docker-image
review:
  image: dokku/ci-docker-image
  stage: test
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://rebased-$CI_COMMIT_REF_SLUG.dokku.soapbox.pub
  only:
    - branches
  except:
    - develop
  variables:
    GIT_REMOTE_URL: ssh://dokku@$DOKKU_HOST/rebased-$CI_COMMIT_REF_SLUG
    GIT_PUSH_FLAGS: --force
  script: dokku-deploy
  allow_failure: true

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
    - mix deps.get
    - mkdir release
    - mix release --path release
  artifacts:
    name: "rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME"
    paths:
      - release/*
  cache: {}
  only:
    refs:
      - develop
    changes: *elixir-changes

docker:
  stage: deploy
  image: docker:20.10.17
  cache: {}
  services:
    - docker:20.10.17-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE .
    - docker push $CI_REGISTRY_IMAGE
  only:
    refs:
      - develop

Initial draft on frontends management
  docs/administration/frontends-management.md
Due: none

Add tests for domain controller
  lib/pleroma/domain.ex
  lib/pleroma/web/admin_api/controllers/domain_controller.ex
  lib/pleroma/web/api_spec/operations/admin/domain_operation.ex
  test/pleroma/web/admin_api/controllers/domain_controller_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Add more tests
  lib/pleroma/user.ex
  lib/pleroma/web/twitter_api/twitter_api.ex
  test/pleroma/user_test.exs
  test/pleroma/web/mastodon_api/controllers/instance_controller_test.exs
  uploads/.gitignore
Due: test, test-erratic, lint, analysis, cycles, release

Add changelog entry
  changelog.d/multitenancy.add
Due: none

lint
  config/description.exs
  lib/pleroma/web/api_spec.ex
  lib/pleroma/web/api_spec/operations/admin/domain_operation.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

B Getting: Add default implementation, delegate, prepare test support.
  config/test.exs
  lib/pleroma/config/getting.ex
  test/support/mocks.ex
Due: test, test-erratic, lint, analysis, cycles, release

B MeiliSearch, SearchIndexingWorker: Use Config.Getting, make tests async.
  lib/pleroma/search/meilisearch.ex
  lib/pleroma/workers/search_indexing_worker.ex
  test/pleroma/search/meilisearch_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Add changelog.
  changelog.d/meilisearch.add
Due: none

Fix most tests that call SearchIndexWorker.
  test/mix/tasks/pleroma/digest_test.exs
  test/mix/tasks/pleroma/user_test.exs
  test/pleroma/conversation_test.exs
  test/pleroma/notification_test.exs
  test/pleroma/user_test.exs
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
  test/pleroma/web/admin_api/controllers/user_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/notification_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/search_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
  test/pleroma/web/mastodon_api/views/notification_view_test.exs
  test/pleroma/web/pleroma_api/controllers/emoji_reaction_controller_test.exs
  test/pleroma/workers/cron/digest_emails_worker_test.exs
  test/pleroma/workers/cron/new_users_digest_worker_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

B DatabaseSearch: Fix local-only search.
  lib/pleroma/search/database_search.ex
  test/pleroma/search/database_search_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

B Meilisearch: Update to current API responses.
  lib/pleroma/search/meilisearch.ex
  test/pleroma/search/meilisearch_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Credo fixes.
  lib/pleroma/config/getting.ex
  lib/pleroma/search/database_search.ex
  test/pleroma/search/meilisearch_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Count and display post quotes
  changelog.d/quotes-count.skip
  lib/pleroma/object.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/activity_pub/object_validators/common_fields.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/api_spec/operations/pleroma_status_operation.ex
  lib/pleroma/web/api_spec/schemas/status.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  lib/pleroma/web/pleroma_api/controllers/status_controller.ex
  lib/pleroma/web/router.ex
  priv/repo/migrations/20220527134341_add_quote_url_index_to_objects.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
  test/pleroma/web/pleroma_api/controllers/status_controller_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Fix GenerateUnsetUserKeys migration
  changelog.d/generate-unset-user-keys-migration.skip
  priv/repo/migrations/20220905011454_generate_unset_user_keys.exs
Due: test, test-erratic, lint, analysis, cycles, release

Switch to PromEx for prometheus metrics
  changelog.d/promex.add
  config/config.exs
  lib/pleroma/application.ex
  lib/pleroma/config/transfer_task.ex
  lib/pleroma/prom_ex.ex
  lib/pleroma/repo.ex
  lib/pleroma/web/endpoint.ex
  mix.exs
  mix.lock
  test/pleroma/web/endpoint/metrics_exporter_test.exs
Due: deps, test, test-erratic, lint, analysis, cycles, release

Use the "change" type
  changelog.d/promex.add
  changelog.d/promex.change
Due: none

Replace ImageMagick with Vips for Media Preview Proxy
  Dockerfile
  lib/pleroma/helpers/media_helper.ex
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, analysis, cycles, release

Add Pleroma.Upload.Filter.HeifToJpeg based on vips
  CHANGELOG.md
  lib/pleroma/upload/filter/heif_to_jpeg.ex
  test/fixtures/image.heic
  test/pleroma/upload/filter/heif_to_jpeg_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Override elixir_make version
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, analysis, cycles, release

Revert "Add Pleroma.Upload.Filter.HeifToJpeg based on vips"
  CHANGELOG.md
  lib/pleroma/upload/filter/heif_to_jpeg.ex
  test/fixtures/image.heic
  test/pleroma/upload/filter/heif_to_jpeg_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Change mediaproxy previews to use vips to generate thumbnails instead of ImageMagick
  changelog.d/mediaproxy_preview.change
Due: none

mix: cherry-pick eblurhash latest git for system-CFLAGS
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, analysis, cycles, release

mix: Bump elixir-captcha for system-CFLAGS
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, analysis, cycles, release

changelog.d/system-cflags.fix: New entry
  changelog.d/system-cflags.fix
Due: none

docs: Put a max version on erlang and elixir
  changelog.d/docs-max-elixir-erlang.change
  docs/installation/generic_dependencies.include
Due: none

docs: clang is also supported
  docs/installation/generic_dependencies.include
Due: none

router: Make /federation_status publicly available
  changelog.d/federation_status-access.change
  lib/pleroma/web/router.ex
  test/pleroma/web/pleroma_api/controllers/instances_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Add support for configuring a favicon and embed PWA manifest in server-generated-meta
  changelog.d/favicon.add
  config/config.exs
  config/description.exs
  lib/pleroma/web/fallback/redirect_controller.ex
Due: test, test-erratic, lint, analysis, cycles, release

RedirectController: Unify server-generated-meta insertion code
  lib/pleroma/web/fallback/redirect_controller.ex
Due: test, test-erratic, lint, analysis, cycles, release

Check if domains resolve correctly
  config/config.exs
  lib/pleroma/domain.ex
  lib/pleroma/web/admin_api/controllers/domain_controller.ex
  lib/pleroma/web/admin_api/views/domain_view.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/workers/check_domain_resolve_worker.ex
  lib/pleroma/workers/cron/check_domains_resolve_worker.ex
  priv/repo/migrations/20230618190919_create_domains.exs
Due: test, test-erratic, lint, analysis, cycles, release

Set domain timestamps type to utc_datetime
  lib/pleroma/domain.ex
  priv/repo/migrations/20230618190919_create_domains.exs
Due: test, test-erratic, lint, analysis, cycles, release

Add tests
  lib/pleroma/workers/check_domain_resolve_worker.ex
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
  test/pleroma/web/web_finger_test.exs
  test/pleroma/workers/check_domains_resolve_worker_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix tests for Add support for configuring a favicon and embed PWA manifest in server-generated-meta
  test/pleroma/web/fallback_test.exs
  test/pleroma/web/o_status/o_status_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

MastoAPI AccountView: Change last_status_at to be a date
  changelog.d/last_status_at.change
  lib/pleroma/web/mastodon_api/views/account_view.ex
Due: test, test-erratic, lint, analysis, cycles, release

Optionally filter local timelines according to domain
  config/description.exs
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/mastodon_api/controllers/timeline_controller.ex
  priv/repo/migrations/20230618190919_create_domains.exs
  test/pleroma/web/mastodon_api/controllers/timeline_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

scrubbers/default: Add more formatting elements from HTML4 / GoToSocial
  changelog.d/scrubbers-html4-GtS.add
  priv/scrubbers/default.ex
Due: test, test-erratic, lint, analysis, cycles, release

Add optional URL value for scrobbles
  changelog.d/scrobble-url.add
  lib/pleroma/web/api_spec/operations/pleroma_scrobble_operation.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/pleroma_api/views/scrobble_view.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Upload.Filter.AnalyzeMetadata: Blurhash with a Rust NIF, and use Vix to retrieve image metadata
  lib/pleroma/upload/filter/analyze_metadata.ex
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, analysis, cycles, release

Resize images to 100 pixels before hashing
  lib/pleroma/upload/filter/analyze_metadata.ex
Due: test, test-erratic, lint, analysis, cycles, release

Fetch the library from the Pleroma repository
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, analysis, cycles, release
