Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

build:
  stage: build
  script:
  - mix compile --force

spec-build:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

unit-testing:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  script:
  ...

unit-testing-rum:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: minibikini/postgres-with-rum:12
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  variables:
  ...

lint:
  image: elixir:1.12
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix format --check-formatted

analysis:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  image: elixir:1.11
  cache: {}
  script:
  - mix deps.get
  - mix compile
  - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

Update changelog
  CHANGELOG.md
  mix.lock
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

CI: Use own package as base
  .gitlab-ci.yml
  ci/Dockerfile
  ci/build_and_push.sh
Due: none

CI: Fix the broken tasks.
  .gitlab-ci.yml
Due: none

Revert "Merge branch 'notice-routes' into 'develop'"
  CHANGELOG.md
  lib/pleroma/web/router.ex
  lib/pleroma/web/static_fe/static_fe_controller.ex
  test/pleroma/web/o_status/o_status_controller_test.exs
  test/pleroma/web/plugs/frontend_static_plug_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Configurability of slow queries logging ([:pleroma, :telemetry, :slow_queries_logging]). Adjusted log messages truncation to 65 kb (was default: 8 kb). Non-truncated logging of slow query params.
  config/config.exs
  lib/pleroma/telemetry/logger.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

API: optionally restrict moderators from accessing sensitive data
  CHANGELOG.md
  config/config.exs
  config/description.exs
  lib/pleroma/web/plugs/ensure_staff_privileged.ex
  lib/pleroma/web/router.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

API: show info about privileged staff in instance metadata
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/nodeinfo/nodeinfo.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

API: fix duplicate :get_password_token route
  lib/pleroma/web/router.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix lint errors
  config/description.exs
  lib/pleroma/web/plugs/ensure_staff_privileged_plug.ex
  lib/pleroma/web/router.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Made slow queries logging disabled by default.
  config/config.exs
  lib/pleroma/telemetry/logger.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

EnsureStaffPrivilegedPlug: add tests
  test/pleroma/web/plugs/ensure_staff_privileged_plug_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

ConnectionPoolTest: tag erratic test
  test/pleroma/gun/connection_pool_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

AdminAPI: fix duplicated routes
  lib/pleroma/web/router.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Soapbox: configure privileged_staff: true
  config/soapbox.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

EnsureStaffPrivilegedPlug: don't let non-moderators through
  lib/pleroma/web/plugs/ensure_staff_privileged_plug.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Apps: add user_id index
  priv/repo/migrations/20210818023112_add_user_id_to_apps.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

AppController: test creating with and without a user
  lib/pleroma/web/mastodon_api/controllers/app_controller.ex
  test/pleroma/web/mastodon_api/controllers/app_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Apps: add test for get_user_apps/1
  test/pleroma/web/o_auth/app_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

AppController: remove unnecessary `require Logger`
  lib/pleroma/web/mastodon_api/controllers/app_controller.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

PleromaAPI.AppView: add test
  test/pleroma/web/pleroma_api/views/app_view_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Implement moving account
  lib/pleroma/web/api_spec/operations/twitter_util_operation.ex
  lib/pleroma/web/router.ex
  lib/pleroma/web/twitter_api/controllers/util_controller.ex
  test/pleroma/web/twitter_api/util_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Document move_account API
  docs/development/API/pleroma_api.md
Due: none

Add changelog
  CHANGELOG.md
Due: none

Add User.add_alias/2 and User.alias_users/1
  lib/pleroma/user.ex
  test/pleroma/user_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Document aliases endpoints
  docs/development/API/pleroma_api.md
Due: none

Test that the target account is re-fetched in move_account
  test/fixtures/tesla_mock/https___lm.kazv.moe_users_mewmew.xml
  test/fixtures/tesla_mock/lm.kazv.moe_host_meta
  test/fixtures/tesla_mock/mewmew@lm.kazv.moe.json
  test/pleroma/web/twitter_api/util_controller_test.exs
  test/support/http_request_mock.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Federate unfollow activity in move_following properly
  lib/pleroma/following_relationship.ex
  test/pleroma/web/activity_pub/activity_pub_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add deleting alias endpoint
  lib/pleroma/user.ex
  lib/pleroma/web/api_spec/operations/twitter_util_operation.ex
  lib/pleroma/web/router.ex
  lib/pleroma/web/twitter_api/controllers/util_controller.ex
  test/pleroma/user_test.exs
  test/pleroma/web/twitter_api/util_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Deal with target not found error in add_alias
  lib/pleroma/web/api_spec/operations/twitter_util_operation.ex
  lib/pleroma/web/twitter_api/controllers/util_controller.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make move_following worker follow then unfollow
  lib/pleroma/following_relationship.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add get and add aliases endpoints
  lib/pleroma/web/api_spec/operations/twitter_util_operation.ex
  lib/pleroma/web/router.ex
  lib/pleroma/web/twitter_api/controllers/util_controller.ex
  test/pleroma/web/twitter_api/util_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make Move activity federate properly
  lib/pleroma/web/activity_pub/activity_pub.ex
  test/pleroma/web/activity_pub/activity_pub_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make move_account endpoint process non-existent users properly
  lib/pleroma/web/api_spec/operations/twitter_util_operation.ex
  lib/pleroma/web/twitter_api/controllers/util_controller.ex
  test/pleroma/web/twitter_api/util_controller_test.exs
  test/support/http_request_mock.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

MastoAPI: Add `GET /api/v1/accounts/lookup`
  lib/pleroma/web/api_spec/operations/account_operation.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

AccountController.lookup: skip visibility check
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

AccountController.lookup: skip auth
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Update CHANGELOG.md
  CHANGELOG.md
Due: none

AddActivityFieldToObjects --> CombineActivitiesAndObjects
  priv/repo/migrations/20211218181647_combine_activities_and_objects.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add ObjectId migration helper module
  lib/pleroma/migrators/support/object_id.ex
  test/pleroma/migrators/support/object_id_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Scaffold ResolveActivityObjectConflicts migration
  priv/repo/migrations/20211218181640_resolve_activity_object_conflicts.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Path conditions:
  build: any of: **/*.ex, **/*.exs, mix.lock
  spec-build: any of: lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing: any of: **/*.ex, **/*.exs, mix.lock
  unit-testing-rum: any of: **/*.ex, **/*.exs, mix.lock
  lint: any of: **/*.ex, **/*.exs, mix.lock
  analysis: any of: **/*.ex, **/*.exs, mix.lock
  cycles: any of: **/*.ex, **/*.exs, mix.lock
