Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

build:
  stage: build
  script:
  - mix compile --force

spec-build:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

unit-testing:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  script:
  ...

unit-testing-rum:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: minibikini/postgres-with-rum:12
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  variables:
  ...

lint:
  image: elixir:1.12
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix format --check-formatted

analysis:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  image: elixir:1.11
  cache: {}
  script:
  - mix deps.get
  - mix compile
  - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

InlineQuotePolicy: improve the way Markdown quotes are displayed by other software
  lib/pleroma/web/activity_pub/mrf/inline_quote_policy.ex
  test/pleroma/web/activity_pub/mrf/inline_quote_policy_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Actually, don't send _misskey_quote anymore
  lib/pleroma/web/activity_pub/transmogrifier.ex
  priv/static/schemas/litepub-0.1.jsonld
  test/pleroma/web/activity_pub/transmogrifier_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

InlineQuotePolicy: skip objects which already have an .inline-quote span
  lib/pleroma/web/activity_pub/mrf/inline_quote_policy.ex
  test/fixtures/quote_post/fedibird_quote_mismatched.json
  test/pleroma/web/activity_pub/mrf/inline_quote_policy_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Birthdays: Fix outgoing federation of birth dates
  lib/pleroma/web/activity_pub/views/user_view.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix credo warnings
  lib/mix/tasks/pleroma/instance.ex
  lib/pleroma/web.ex
  mix.lock
  test/pleroma/web/mastodon_api/controllers/timeline_controller_test.exs
  test/pleroma/web/pleroma_api/controllers/account_controller_test.exs
  test/pleroma/web/pleroma_api/controllers/chat_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

mix format
  lib/pleroma/web.ex
  test/pleroma/web/mastodon_api/controllers/timeline_controller_test.exs
  test/pleroma/web/pleroma_api/controllers/account_controller_test.exs
  test/pleroma/web/pleroma_api/controllers/chat_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add HellthreadPolicy by default
  config/soapbox.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Test that a Note from Roadhouse validates
  test/fixtures/roadhouse-create-activity.json
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Test that a Create/Note from Roadhouse validates
  test/pleroma/web/activity_pub/object_validators/create_generic_validator_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add tests for mismatched context in replies
  test/fixtures/tesla_mock/gleasonator-AG3RzWfwEKKrY63qj2.json
  test/fixtures/tesla_mock/macgirvin@gleasonator.com.json
  test/pleroma/web/activity_pub/object_validators/create_generic_validator_test.exs
  test/pleroma/web/activity_pub/transmogrifier_test.exs
  test/support/http_request_mock.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Tag erratic test
  test/pleroma/web/admin_api/controllers/report_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix tests matching on "warn"
  test/pleroma/reverse_proxy_test.exs
  test/pleroma/web/common_api/utils_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

FilterControllerTest: tag erratic test
  test/pleroma/web/mastodon_api/controllers/filter_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Instance rules
  lib/pleroma/rule.ex
  lib/pleroma/web/admin_api/controllers/rule_controller.ex
  lib/pleroma/web/admin_api/views/rule_view.ex
  lib/pleroma/web/api_spec/operations/admin/rule_operation.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/router.ex
  priv/repo/migrations/20220203224011_create_rules.exs
  test/pleroma/web/admin_api/controllers/rule_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/instance_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add GET /api/v1/instance/rules
  lib/pleroma/web/api_spec/operations/admin/rule_operation.ex
  lib/pleroma/web/api_spec/operations/instance_operation.ex
  lib/pleroma/web/mastodon_api/controllers/instance_controller.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/router.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Max media attachment count
  config/config.exs
  config/description.exs
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/common_api/utils.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  test/pleroma/web/common_api_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Soapbox: limit 20 media attachments by default
  config/soapbox.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Instance rules: Use render_many
  lib/pleroma/web/admin_api/controllers/rule_controller.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Instance rules: Duplicate rule_controller_test, hope nobody notices
  test/pleroma/rule_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Persist all objects with Activities struct (for now) so they get all the extra metadata
  lib/pleroma/web/activity_pub/activity_pub.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

MastoAPI: /api/v1/admin/accounts
  lib/pleroma/moderation_log.ex
  lib/pleroma/user.ex
  lib/pleroma/user/query.ex
  lib/pleroma/web/api_spec/operations/mastodon_admin/account_operation.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/mastodon_api/admin/controllers/account_controller.ex
  lib/pleroma/web/mastodon_api/admin/views/account_view.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/mastodon_api/admin/controllers/account_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

MastoAPI: /api/v1/admin/reports
  lib/pleroma/web/api_spec/operations/instance_operation.ex
  lib/pleroma/web/api_spec/operations/mastodon_admin/account_operation.ex
  lib/pleroma/web/api_spec/operations/mastodon_admin/report_operation.ex
  lib/pleroma/web/mastodon_api/admin/controllers/report_controller.ex
  lib/pleroma/web/mastodon_api/admin/views/report_view.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/mastodon_api/admin/controllers/account_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

some cleanup, reports
  lib/pleroma/user/query.ex
  lib/pleroma/web/api_spec/operations/mastodon_admin/account_operation.ex
  lib/pleroma/web/api_spec/operations/mastodon_admin/report_operation.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/mastodon_api/admin/controllers/account_controller.ex
  lib/pleroma/web/mastodon_api/admin/controllers/report_controller.ex
  lib/pleroma/web/mastodon_api/admin/views/account_view.ex
  lib/pleroma/web/mastodon_api/admin/views/report_view.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/mastodon_api/admin/controllers/account_controller_test.exs
  test/pleroma/web/mastodon_api/admin/controllers/report_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix screenshot in README
  README.md
Due: none

Add `configuration` field to /api/v1/instance
  lib/pleroma/web/api_spec/operations/instance_operation.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Update README for soapbox-be
  README.md
Due: none

InstanceControllerTest: Add configuration test
  lib/pleroma/web/api_spec/operations/instance_operation.ex
  test/pleroma/web/mastodon_api/controllers/instance_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Allow assigning users to reports
  lib/pleroma/constants.ex
  lib/pleroma/moderation_log.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/admin_api/controllers/report_controller.ex
  lib/pleroma/web/admin_api/report.ex
  lib/pleroma/web/admin_api/views/report_view.ex
  lib/pleroma/web/api_spec/operations/admin/report_operation.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/admin_api/controllers/report_controller_test.exs
  test/pleroma/web/admin_api/views/report_view_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add mastodon admin API routes for report assigning
  lib/pleroma/web/api_spec/operations/mastodon_admin/report_operation.ex
  lib/pleroma/web/mastodon_api/admin/controllers/report_controller.ex
  lib/pleroma/web/mastodon_api/admin/views/report_view.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/admin_api/controllers/report_controller_test.exs
  test/pleroma/web/mastodon_api/admin/controllers/report_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Allow submitting an array of rule_ids to /api/v1/reports
  lib/pleroma/constants.ex
  lib/pleroma/rule.ex
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/admin_api/views/report_view.ex
  lib/pleroma/web/api_spec/operations/admin/report_operation.ex
  lib/pleroma/web/api_spec/operations/report_operation.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/mastodon_api/admin/views/report_view.ex
  test/pleroma/web/admin_api/views/report_view_test.exs
  test/pleroma/web/mastodon_api/controllers/report_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add unicode 14 support and add a test with a unicode 14 emoji
  lib/pleroma/emoji-test.txt
  test/pleroma/emoji_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Prefer userLanguage cookie over Accept-Language header in detecting locale
  lib/pleroma/web/plugs/set_locale_plug.ex
  test/pleroma/web/plugs/set_locale_plug_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make remote follow pages translatable
  lib/pleroma/web/templates/twitter_api/remote_follow/follow.html.eex
  lib/pleroma/web/templates/twitter_api/remote_follow/follow_login.html.eex
  lib/pleroma/web/templates/twitter_api/remote_follow/follow_mfa.html.eex
  lib/pleroma/web/templates/twitter_api/remote_follow/followed.html.eex
  lib/pleroma/web/templates/twitter_api/util/subscribe.html.eex
  lib/pleroma/web/twitter_api/views/remote_follow_view.ex
  lib/pleroma/web/twitter_api/views/util_view.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Extract translatable text
  priv/gettext/default.pot
  priv/gettext/errors.pot
  priv/gettext/posix_errors.pot
  priv/gettext/static_pages.pot
Due: none

Make lint happy
  lib/pleroma/web/plugs/set_locale_plug.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix test get_user_apps/1
  test/pleroma/web/o_auth/app_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

mix: Check .git presence
  mix.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add index for assigned_account
  priv/repo/migrations/20220225164000_add_activity_assigned_account_index.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make password reset pages translatable
  lib/pleroma/web/templates/twitter_api/password/invalid_token.html.eex
  lib/pleroma/web/templates/twitter_api/password/reset.html.eex
  lib/pleroma/web/templates/twitter_api/password/reset_failed.html.eex
  lib/pleroma/web/templates/twitter_api/password/reset_success.html.eex
  lib/pleroma/web/twitter_api/views/password_view.ex
  priv/gettext/static_pages.pot
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Path conditions:
  build: any of: **/*.ex, **/*.exs, mix.lock
  spec-build: any of: lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing: any of: **/*.ex, **/*.exs, mix.lock
  unit-testing-rum: any of: **/*.ex, **/*.exs, mix.lock
  lint: any of: **/*.ex, **/*.exs, mix.lock
  analysis: any of: **/*.ex, **/*.exs, mix.lock
  cycles: any of: **/*.ex, **/*.exs, mix.lock
