Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, analysis, cycles, release

deps:
  stage: deps
  script:
  - mix deps.get
  - mix deps.compile
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull-push

openapi:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

test:
  stage: test
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --cover --preload-modules
  ...

test-erratic:
  stage: test
  allow_failure: true
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --only=erratic

lint:
  stage: test
  script:
  - mix format --check-formatted

analysis:
  stage: test
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  script:
  - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
  - mix deps.get
  - mkdir release
  - mix release --path release
  artifacts:
    name: rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME
    paths:
    - release/*
  cache: {}

Clarify location of test.secret.exs file
  changelog.d/testsecrets.skip
  docs/development/setting_up_pleroma_dev.md
Due: none

Elixir 1.15: Chase the Logger.warn deprecation
  lib/pleroma/application.ex
  lib/pleroma/application_requirements.ex
  lib/pleroma/config/deprecation_warnings.ex
  lib/pleroma/config/oban.ex
  lib/pleroma/config/transfer_task.ex
  lib/pleroma/emoji/loader.ex
  lib/pleroma/gun/conn.ex
  lib/pleroma/http/adapter_helper.ex
  lib/pleroma/instances/instance.ex
  lib/pleroma/maintenance.ex
  lib/pleroma/migrators/support/base_migrator.ex
  lib/pleroma/reverse_proxy.ex
  lib/pleroma/telemetry/logger.ex
  lib/pleroma/upload/filter/analyze_metadata.ex
  lib/pleroma/user.ex
  lib/pleroma/user/backup.ex
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
  lib/pleroma/web/activity_pub/mrf.ex
  lib/pleroma/web/activity_pub/mrf/follow_bot_policy.ex
  lib/pleroma/web/activity_pub/mrf/steal_emoji_policy.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/common_api/utils.ex
  lib/pleroma/web/plugs/http_security_plug.ex
  lib/pleroma/web/plugs/rate_limiter.ex
  lib/pleroma/web/push.ex
  lib/pleroma/web/push/impl.ex
  lib/pleroma/web/rich_media/parser.ex
  lib/pleroma/web/web_finger.ex
  test/support/helpers.ex
  test/support/http_request_mock.ex
Due: test, test-erratic, lint, analysis, cycles, release

OTP26: Chase the :slave.start/3 deprecation
  test/support/cluster.ex
Due: test, test-erratic, lint, analysis, cycles, release

Chase deprecations/warnings for Elixir 1.15
  changelog.d/deprecations.skip
Due: none

Backwards compatibility for OTP
  test/support/cluster.ex
Due: test, test-erratic, lint, analysis, cycles, release

Fix more Logger warn -> warning
  config/benchmark.exs
  config/description.exs
  config/test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix more Logger warn -> warning
  test/mix/tasks/pleroma/ecto/migrate_test.exs
  test/mix/tasks/pleroma/ecto/rollback_test.exs
  test/pleroma/config_db_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix more Logger warn -> warning
  priv/repo/migrations/20180516144508_add_trigram_extension.exs
  priv/repo/migrations/20190710125158_add_following_address_from_source_data.exs
  priv/repo/migrations/20191118084500_data_migration_populate_user_relationships.exs
  priv/repo/migrations/20200811143147_ap_id_not_null.exs
Due: test, test-erratic, lint, analysis, cycles, release

config/description.exs: Remove quack
  config/description.exs
Due: test, test-erratic, lint, analysis, cycles, release

More deprecation fixes
  changelog.d/deprecations2.skip
Due: none

Use consistent terminology
  lib/pleroma/user.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/web_finger.ex
Due: test, test-erratic, lint, analysis, cycles, release

Use consistent terminology
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/web_finger.ex
Due: test, test-erratic, lint, analysis, cycles, release

Fix invalid string comparison for OTP versions and replace with config
  changelog.d/fix-otp-comparison.skip
  config/test.exs
  test/support/cluster.ex
Due: test, test-erratic, lint, analysis, cycles, release

Elixir 1.13 is the minimum required version
  .gitlab-ci.yml
  Dockerfile
  changelog.d/bump-elixir.change
  mix.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

develop -> main
  .gitlab-ci.yml
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Allow configuring the origin of the service actor
  config/config.exs
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
  lib/pleroma/web/activity_pub/internal_fetch_actor.ex
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Remove Fetcher.fetch_object_from_id!/2
  lib/pleroma/object.ex
  lib/pleroma/object/fetcher.ex
Due: test, test-erratic, lint, analysis, cycles, release

Fix Transmogrifier tests
  lib/pleroma/object/fetcher.ex
Due: test, test-erratic, lint, analysis, cycles, release

Mark instances as unreachable when returning a 403 from an object fetch
  lib/pleroma/object/fetcher.ex
  lib/pleroma/workers/remote_fetcher_worker.ex
  test/pleroma/object/fetcher_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Consolidate the HTTP status code checking into the private get_object/1
  lib/pleroma/object/fetcher.ex
Due: test, test-erratic, lint, analysis, cycles, release

Cancel remote fetch jobs for deleted objects
  lib/pleroma/workers/remote_fetcher_worker.ex
Due: test, test-erratic, lint, analysis, cycles, release

Changelogs
  changelog.d/handle_object_fetch_failures.change
Due: none

Remove mistaken duplicate fetch
  lib/pleroma/workers/remote_fetcher_worker.ex
Due: test, test-erratic, lint, analysis, cycles, release

Skip remote fetch jobs for unreachable instances
  changelog.d/handle_object_fetch_failures.change
  lib/pleroma/workers/remote_fetcher_worker.ex
Due: test, test-erratic, lint, analysis, cycles, release

Revert "Mark instances as unreachable when returning a 403 from an object fetch"
  changelog.d/handle_object_fetch_failures.change
  lib/pleroma/object/fetcher.ex
  test/pleroma/object/fetcher_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Update changelog
  changelog.d/handle_object_fetch_failures.change
Due: none

Allow local user to have group actor type
  lib/pleroma/constants.ex
  lib/pleroma/user.ex
  lib/pleroma/web/mastodon_api/views/account_view.ex
  test/pleroma/web/mastodon_api/update_credentials_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Allow group actors to boost posts
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/activity_pub/utils.ex
  test/pleroma/web/common_api_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Test group actor behaviour in SideEffects
  test/pleroma/web/activity_pub/side_effects_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Do not boost if group is blocking poster
  lib/pleroma/web/activity_pub/utils.ex
  test/pleroma/web/activity_pub/side_effects_test.exs
  test/pleroma/web/common_api_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Add pleroma:group_actors to instance features
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: test, test-erratic, lint, analysis, cycles, release

Add changelog for group actors
  changelog.d/group-actor.add
Due: none

These functions in Pleroma.Instances should be defdelegates to Pleroma.Instances.Instance
  changelog.d/instance-defdelegates.skip
  lib/pleroma/instances.ex
Due: test, test-erratic, lint, analysis, cycles, release

Add changelog
  changelog.d/instance-rules.add
  lib/pleroma/web/api_spec.ex
  lib/pleroma/web/api_spec/operations/instance_operation.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Fix detection of user follower collection being private
  lib/pleroma/web/activity_pub/activity_pub.ex
Due: test, test-erratic, lint, analysis, cycles, release

Separate files for each distinct sentence in the changelog
  changelog.d/handle_object_fetch_failures.change
  changelog.d/handle_object_fetch_failures2.change
Due: none

RemoteFetcherWorker Oban job tests
  test/pleroma/workers/remote_fetcher_worker_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix operation name typo
  lib/pleroma/web/api_spec.ex
  lib/pleroma/web/api_spec/operations/admin/frontend_operation.ex
  lib/pleroma/web/api_spec/operations/admin/o_auth_app_operation.ex
  lib/pleroma/web/api_spec/operations/admin/report_operation.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Set Logger level to error
  lib/pleroma/object/fetcher.ex
Due: test, test-erratic, lint, analysis, cycles, release

Path conditions:
  deps: any of: mix.lock
  openapi: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  test: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  test-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  lint: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  analysis: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  release: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
