Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, analysis, cycles, release

.gitlab-ci.yml:

image: registry.gitlab.com/soapbox-pub/rebased/ci

variables: &global_variables
  POSTGRES_DB: pleroma_test
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  DB_HOST: postgres
  DB_PORT: 5432
  MIX_ENV: test
  # Needed for Dokku deployment.
  # https://github.com/dokku/dokku/issues/2514#issuecomment-616775470
  GIT_DEPTH: 0

cache: &cache
  key:
    files:
      - mix.lock
  paths:
    - deps
    - _build
  policy: pull

stages:
  - deps
  - test
  - deploy

deps:
  stage: deps
  script:
    - mix deps.get
    - mix deps.compile
  cache:
    <<: *cache
    policy: pull-push
  only:
    changes:
      - mix.lock

openapi:
  stage: test
  only:
    changes:
      - ".gitlab-ci.yml"
      - "lib/pleroma/web/api_spec/**/*.ex"
      - "lib/pleroma/web/api_spec.ex"
  artifacts:
    paths:
      - spec.json
  script:
    - mix pleroma.openapi_spec spec.json

test:
  stage: test
  only:
    changes: &elixir-changes
      - ".gitlab-ci.yml"
      - "**/*.ex"
      - "**/*.exs"
      - "mix.lock"
  services: &db-services
    - name: postgres:13-alpine
      alias: postgres
      command: ["postgres", "-c", "fsync=off", "-c", "synchronous_commit=off", "-c", "full_page_writes=off"]
  before_script: &db-setup
    - mix ecto.create
    - mix ecto.migrate
  script:
    - mix test --cover --preload-modules
  coverage: '/^Line total: ([^ ]*%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

test-erratic:
  stage: test
  allow_failure: true
  only:
    changes: *elixir-changes
  services: *db-services
  before_script: *db-setup
  script:
    - mix test --only=erratic

lint:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix format --check-formatted

analysis:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

# Deploy with Dokku
# https://github.com/dokku/gitlab-ci
# https://github.com/dokku/ci-docker-image
review:
  image: dokku/ci-docker-image
  stage: test
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://rebased-$CI_COMMIT_REF_SLUG.dokku.soapbox.pub
  only:
    - branches
  except:
    - develop
  variables:
    GIT_REMOTE_URL: ssh://dokku@$DOKKU_HOST/rebased-$CI_COMMIT_REF_SLUG
    GIT_PUSH_FLAGS: --force
  script: dokku-deploy
  allow_failure: true

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
    - mix deps.get
    - mkdir release
    - mix release --path release
  artifacts:
    name: "rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME"
    paths:
      - release/*
  cache: {}
  only:
    refs:
      - develop
    changes: *elixir-changes

docker:
  stage: deploy
  image: docker:20.10.17
  cache: {}
  services:
    - docker:20.10.17-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE .
    - docker push $CI_REGISTRY_IMAGE
  only:
    refs:
      - develop

Add tests for list streams
  test/pleroma/integration/mastodon_websocket_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Use pleroma: instead of pleroma. for ws events
  lib/pleroma/web/mastodon_api/websocket_handler.ex
  lib/pleroma/web/views/streamer_view.ex
  test/pleroma/integration/mastodon_websocket_test.exs
  test/pleroma/web/streamer_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Document server-sent events of streaming
  lib/pleroma/web/api_spec/operations/streaming_operation.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Clear up debug statement
  lib/pleroma/web/streamer.ex
Due: test, test-erratic, lint, analysis, cycles, release

Fix unsubscribe event type in streaming doc
  lib/pleroma/web/api_spec/operations/streaming_operation.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Add changelog
  changelog.d/unified-streaming.add
Due: none

Fix duplicated schema names
  lib/pleroma/web/api_spec/operations/streaming_operation.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Add meta-info and query strings to streaming doc
  lib/pleroma/web/api_spec/operations/streaming_operation.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Explain the encode-decode roundtrip
  test/pleroma/integration/mastodon_websocket_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix some specs about server-sent events in streaming
  lib/pleroma/web/api_spec/operations/streaming_operation.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Mock host-meta
  test/support/http_request_mock.ex
Due: test, test-erratic, lint, analysis, cycles, release

Fix mentioning punycode domains when using Markdown
  changelog.d/punycode-mention.fix
  lib/pleroma/formatter.ex
  test/pleroma/web/common_api_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix other quotation mark conversion tests
  test/pleroma/web/common_api/utils_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Use correct domain for fqn and InstanceView
  lib/pleroma/user.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/web_finger.ex
Due: test, test-erratic, lint, analysis, cycles, release

update tests
  test/pleroma/user_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Add collect-changelog script
  .gitlab/merge_request_templates/Release.md
  tools/collect-changelog
Due: none

Add contact account to InstanceView
  changelog.d/instance-contact-account.add
  config/description.exs
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  test/pleroma/web/mastodon_api/controllers/instance_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

all InstanceController actions should not require authentication
  lib/pleroma/web/mastodon_api/controllers/instance_controller.ex
Due: test, test-erratic, lint, analysis, cycles, release

InstanceV2: skip auth
  lib/pleroma/web/mastodon_api/controllers/instance_controller.ex
Due: test, test-erratic, lint, analysis, cycles, release

Display reposted replies with exclude_replies: true
  changelog.d/show-reposter-replies.add
  lib/pleroma/web/activity_pub/activity_pub.ex
Due: test, test-erratic, lint, analysis, cycles, release

Undeprecate audio scrobbling
  changelog.d/deprecate-scrobbles.remove
  docs/development/API/pleroma_api.md
  lib/pleroma/web/api_spec/operations/pleroma_scrobble_operation.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Expose nonAnonymous field from Smithereen polls
  lib/pleroma/web/activity_pub/object_validators/question_validator.ex
  lib/pleroma/web/api_spec/schemas/poll.ex
  lib/pleroma/web/mastodon_api/views/poll_view.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Add entry to @context, tests
  changelog.d/public-polls.add
  priv/static/schemas/litepub-0.1.jsonld
  test/fixtures/tesla_mock/smithereen_non_anonymous_poll.json
  test/fixtures/tesla_mock/smithereen_user.json
  test/pleroma/web/mastodon_api/views/poll_view_test.exs
  test/support/http_request_mock.ex
Due: test, test-erratic, lint, analysis, cycles, release

Bump package version for mergeback
  changelog.d/2.6.0-mergeback.skip
  mix.exs
Due: test, test-erratic, lint, analysis, cycles, release

Verify link ownership with rel="me"
  changelog.d/link-verification.add
  lib/pleroma/user.ex
  lib/pleroma/workers/background_worker.ex
  test/pleroma/user_test.exs
  test/pleroma/web/mastodon_api/update_credentials_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

update changelog
  changelog.d/local-webfinger.fix
  test/pleroma/user_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Support /authorize-interaction route used by Mastodon
  changelog.d/authorize-interaction.add
  lib/pleroma/web/router.ex
  lib/pleroma/web/twitter_api/controllers/remote_follow_controller.ex
  test/pleroma/web/plugs/frontend_static_plug_test.exs
  test/pleroma/web/twitter_api/remote_follow_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Allow using multiple domains for WebFinger
  lib/pleroma/domain.ex
  lib/pleroma/user.ex
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
  lib/pleroma/web/activity_pub/views/user_view.ex
  lib/pleroma/web/admin_api/controllers/domain_controller.ex
  lib/pleroma/web/admin_api/controllers/user_controller.ex
  lib/pleroma/web/admin_api/views/domain_view.ex
  lib/pleroma/web/api_spec/operations/account_operation.ex
  lib/pleroma/web/api_spec/operations/admin/domain_operation.ex
  lib/pleroma/web/api_spec/operations/admin/user_operation.ex
  lib/pleroma/web/mastodon_api/views/account_view.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/router.ex
  lib/pleroma/web/twitter_api/twitter_api.ex
  lib/pleroma/web/web_finger.ex
  priv/repo/migrations/20230618190919_create_domains.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Fix digest email processing, consolidate Oban queues
  changelog.d/digest_emails.fix
  config/config.exs
  lib/pleroma/workers/cron/digest_emails_worker.ex
  lib/pleroma/workers/cron/new_users_digest_worker.ex
  priv/repo/migrations/20231107200724_consolidate_email_queues.exs
Due: test, test-erratic, lint, analysis, cycles, release

Activate test for object validator that has not been running
  test/pleroma/ecto_type/activity_pub/object_validators/bare_uri_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Phoenix is no longer required in extra_applications
  mix.exs
Due: test, test-erratic, lint, analysis, cycles, release

ObjectValidators.BareUriTest: Replace calls of SafeText to BareUri
  changelog.d/bare_uri_test.skip
  test/pleroma/ecto_type/activity_pub/object_validators/bare_uri_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Support a type called "change"
  tools/check-changelog
Due: none

Update MR template to include the type 'change'
  .gitlab/merge_request_templates/Default.md
Due: none

Fix changelogd grep syntax error
  tools/check-changelog
Due: none

Ensure benchee doesn't run unless we are executing benchmarks
  benchmarks/mix/tasks/pleroma/benchmark.ex
  changelog.d/benchee.skip
  mix.exs
Due: test, test-erratic, lint, analysis, cycles, release

Add initial docs page, improve adding domains
  config/description.exs
  docs/configuration/how_to_serve_multiple_domains_for_webfinger.md
  lib/pleroma/domain.ex
  lib/pleroma/web/admin_api/controllers/domain_controller.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/web_finger.ex
  priv/repo/migrations/20230618190919_create_domains.exs
Due: test, test-erratic, lint, analysis, cycles, release
