Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, analysis, cycles, release

.gitlab-ci.yml:

image: registry.gitlab.com/soapbox-pub/rebased/ci

variables: &global_variables
  POSTGRES_DB: pleroma_test
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  DB_HOST: postgres
  DB_PORT: 5432
  MIX_ENV: test
  # Needed for Dokku deployment.
  # https://github.com/dokku/dokku/issues/2514#issuecomment-616775470
  GIT_DEPTH: 0

cache: &cache
  key:
    files:
      - mix.lock
  paths:
    - deps
    - _build
  policy: pull

stages:
  - deps
  - test
  - deploy

deps:
  stage: deps
  script:
    - mix deps.get
    - mix deps.compile
  cache:
    <<: *cache
    policy: pull-push
  only:
    changes:
      - mix.lock

openapi:
  stage: test
  only:
    changes:
      - ".gitlab-ci.yml"
      - "lib/pleroma/web/api_spec/**/*.ex"
      - "lib/pleroma/web/api_spec.ex"
  artifacts:
    paths:
      - spec.json
  script:
    - mix pleroma.openapi_spec spec.json

test:
  stage: test
  only:
    changes: &elixir-changes
      - ".gitlab-ci.yml"
      - "**/*.ex"
      - "**/*.exs"
      - "mix.lock"
  services: &db-services
    - name: postgres:13-alpine
      alias: postgres
      command: ["postgres", "-c", "fsync=off", "-c", "synchronous_commit=off", "-c", "full_page_writes=off"]
  before_script: &db-setup
    - mix ecto.create
    - mix ecto.migrate
  script:
    - mix test --cover --preload-modules
  coverage: '/^Line total: ([^ ]*%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

test-erratic:
  stage: test
  allow_failure: true
  only:
    changes: *elixir-changes
  services: *db-services
  before_script: *db-setup
  script:
    - mix test --only=erratic

lint:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix format --check-formatted

analysis:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

# Deploy with Dokku
# https://github.com/dokku/gitlab-ci
# https://github.com/dokku/ci-docker-image
review:
  image: dokku/ci-docker-image
  stage: test
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://rebased-$CI_COMMIT_REF_SLUG.dokku.soapbox.pub
  only:
    - branches
  except:
    - develop
  variables:
    GIT_REMOTE_URL: ssh://dokku@$DOKKU_HOST/rebased-$CI_COMMIT_REF_SLUG
    GIT_PUSH_FLAGS: --force
  script: dokku-deploy
  allow_failure: true

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
    - mix deps.get
    - mkdir release
    - mix release --path release
  artifacts:
    name: "rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME"
    paths:
      - release/*
  cache: {}
  only:
    refs:
      - develop
    changes: *elixir-changes

docker:
  stage: deploy
  image: docker:20.10.17
  cache: {}
  services:
    - docker:20.10.17-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE .
    - docker push $CI_REGISTRY_IMAGE
  only:
    refs:
      - develop

Add changelog.
  changelog.d/3901.security
Due: none

Add :phoenix to extra_applications to suppress a warning
  mix.exs
Due: test, test-erratic, lint, analysis, cycles, release

Support a type called "change"
  tools/check-changelog
Due: none

Update to Phoenix 1.7
  changelog.d/3900.change
  changelog.d/3900.skip
Due: none

Phoenix.Router.routes/1 is the public function we are meant to be using here
  lib/pleroma/web/router.ex
Due: test, test-erratic, lint, analysis, cycles, release

Scrub content-type of uploaded media before serving
  changelog.d/3895.add
  lib/pleroma/web/plugs/uploaded_media.ex
  test/fixtures/snow.js
  test/pleroma/web/plugs/uploaded_media_plug_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix scrubbing for files served by Plug.Static
  lib/pleroma/web/plugs/uploaded_media.ex
Due: test, test-erratic, lint, analysis, cycles, release

Switch to filtering out various xml and html types by focusing on the subtype
  lib/pleroma/web/plugs/uploaded_media.ex
Due: test, test-erratic, lint, analysis, cycles, release

Use response_content_type test assertion from Phoenix.ConnTest
  test/pleroma/web/plugs/uploaded_media_plug_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Revert MediaProxy Host header validation
  changelog.d/3896.add
  lib/pleroma/web/media_proxy/media_proxy_controller.ex
  test/pleroma/web/media_proxy/media_proxy_controller_test.exs
  test/support/conn_case.ex
Due: test, test-erratic, lint, analysis, cycles, release

changelog.d
  changelog.d/3902.skip
Due: none

Disable analysis CI
  .gitlab-ci.yml
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Update changelog
  changelog.d/3874.remove
Due: none

B Migrations: Don't remove activity_visibility_index for now.
  priv/repo/migrations/20230422154018_drop_unused_indexes.exs
Due: test, test-erratic, lint, analysis, cycles, release

B ForceMentionsInContent: Fix test, refactor.
  lib/pleroma/web/activity_pub/mrf/force_mentions_in_content.ex
  test/pleroma/web/activity_pub/mrf/force_mentions_in_content_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Add no_new_privs to OpenRC service files
  changelog.d/no_new_privs.add
  installation/init.d/pleroma
  rel/files/installation/init.d/pleroma
Due: none

media_graphics_packages.md: Fix markdown syntax
  docs/installation/optional/media_graphics_packages.md
Due: none

otp_vs_from_source*: Acknowledge distro packages
  docs/installation/otp_vs_from_source.include
  docs/installation/otp_vs_from_source_source.include
Due: none

changelog.d/gentoo_otp.skip: Doc-only MR
  changelog.d/gentoo_otp.skip
Due: none

gentoo_en: Reference packaged installation
  docs/installation/gentoo_en.md
Due: none

gentoo_otp_en: Add packaged installation documentation
  docs/installation/gentoo_otp_en.md
Due: none

Add "potentially outdated" notice in non-English versions
  docs/installation/debian_based_jp.md
  docs/installation/openbsd_fi.md
Due: none

Adding extra proxy_set_header to fix redirect issue on media. ref #194
  changelog.d/nginx-media-redirect-fix.fix
  installation/pleroma.nginx
Due: none

Move admin routes outside wrong role
  lib/pleroma/web/router.ex
Due: test, test-erratic, lint, analysis, cycles, release

Prevent bypassing authorized fetch mode with a json file
  lib/pleroma/web/plugs/http_signature_plug.ex
Due: test, test-erratic, lint, analysis, cycles, release

Add changelog entry
  changelog.d/prevent-bypassing-authorized-fetch-mode.fix
Due: none

Extract translatable strings
  priv/gettext/config_descriptions.pot
  priv/gettext/default.pot
  priv/gettext/errors.pot
  priv/gettext/oauth_scopes.pot
  priv/gettext/static_pages.pot
Due: none

Merge Revert "Merge branch 'validate-host' into 'develop'"
  changelog.d/3896.add
  changelog.d/3909.skip
  lib/pleroma/web/plugs/uploaded_media.ex
  test/pleroma/web/plugs/uploaded_media_plug_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

release_runtime_provider_test: Explicitely use non-existant config file
  changelog.d/testfix-system-config-use.skip
  test/pleroma/config/release_runtime_provider_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

mix: Remove override on plug
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, analysis, cycles, release

mix: 2023-06 deps update
  changelog.d/2023-06-deps-update.skip
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, analysis, cycles, release

endpoint: Use custom Multipart module for dynamic configuration
  lib/pleroma/web/endpoint.ex
  lib/pleroma/web/multipart.ex
Due: test, test-erratic, lint, analysis, cycles, release

router: Fix usage of globs
  lib/pleroma/web/router.ex
Due: test, test-erratic, lint, analysis, cycles, release

README.md: Update packaging state (GURU, AUR)
  README.md
Due: none

Force the use of amd64 runners for jobs using ci-base
  .gitlab-ci.yml
  changelog.d/amd64-runner.skip
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Fix user fetch completely broken if featured collection is not in a supported form
  changelog.d/featured-collection-shouldnt-break-user-fetch.fix
  lib/pleroma/web/activity_pub/activity_pub.ex
  test/pleroma/web/activity_pub/activity_pub_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix handling report from a deactivated user
  changelog.d/handle-report-from-deactivated-user.fix
  lib/pleroma/web/common_api.ex
  test/pleroma/web/admin_api/controllers/report_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Allow to filter users with accepts_chat_messages capability
  lib/pleroma/user/search.ex
  lib/pleroma/web/api_spec/operations/search_operation.ex
  lib/pleroma/web/mastodon_api/controllers/search_controller.ex
  priv/repo/migrations/20230703215000_add_accepts_chat_messages_index_to_users.exs
  test/pleroma/user_search_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release
