Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

build:
  stage: build
  script:
  - mix compile --force

spec-build:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

unit-testing:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  script:
  ...

unit-testing-rum:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: minibikini/postgres-with-rum:12
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  variables:
  ...

lint:
  image: elixir:1.12
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix format --check-formatted

analysis:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  image: elixir:1.11
  cache: {}
  script:
  - mix deps.get
  - mix compile
  - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

Remove GET /api/v1/announcements/:id
  lib/pleroma/web/api_spec/operations/announcement_operation.ex
  lib/pleroma/web/mastodon_api/controllers/announcement_controller.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/mastodon_api/controllers/announcement_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Implement update announcement admin api
  lib/pleroma/announcement.ex
  lib/pleroma/web/admin_api/controllers/announcement_controller.ex
  lib/pleroma/web/api_spec/operations/admin/announcement_operation.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/admin_api/controllers/announcement_controller_test.exs
  test/support/factory.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add pagination to AdminAPI.AnnouncementController.index
  lib/pleroma/announcement.ex
  lib/pleroma/web/admin_api/controllers/announcement_controller.ex
  lib/pleroma/web/api_spec/operations/admin/announcement_operation.ex
  test/pleroma/web/admin_api/controllers/announcement_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add doc for Admin Announcement APIs
  docs/development/API/admin_api.md
Due: none

Format announcements into html
  lib/pleroma/announcement.ex
  lib/pleroma/web/admin_api/views/announcement_view.ex
  lib/pleroma/web/api_spec/schemas/announcement.ex
  priv/repo/migrations/20220308012601_create_announcements.exs
  test/pleroma/announcement_test.exs
  test/support/factory.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Store status content mime type in the object
  lib/pleroma/constants.ex
  lib/pleroma/web/api_spec/schemas/status.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Support account location field
  lib/pleroma/user.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/activity_pub/views/user_view.ex
  lib/pleroma/web/api_spec/operations/account_operation.ex
  lib/pleroma/web/api_spec/schemas/account.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  lib/pleroma/web/mastodon_api/views/account_view.ex
  priv/repo/migrations/20220314220000_add_location_to_users.exs
  test/fixtures/birthdays/misskey-user.json
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/mastodon_api/update_credentials_test.exs
  test/pleroma/web/mastodon_api/views/account_view_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Location: user_location_length
  config/config.exs
  config/description.exs
  docs/configuration/cheatsheet.md
  lib/pleroma/user.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

fixing a typo for user_location_length
  docs/configuration/cheatsheet.md
Due: none

POST /api/v1/accounts/:id/remove_from_followers
  lib/pleroma/web/api_spec/operations/account_operation.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Use reject_follow_request
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Use `types` for filtering notifications
  lib/pleroma/web/api_spec/operations/notification_operation.ex
  lib/pleroma/web/mastodon_api/controllers/notification_controller.ex
  lib/pleroma/web/mastodon_api/mastodon_api.ex
  test/pleroma/web/mastodon_api/controllers/notification_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

StatusController: deleting a status returns the original media IDs
  lib/pleroma/web/activity_pub/activity_pub.ex
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/activity_pub/transmogrifier_test.exs
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix tests
  config/test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Enable warnings_as_errors in tests
  test/test_helper.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

ActivityPub.UtilsTest: fix warnings
  test/pleroma/web/activity_pub/utils_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

AttachmentValidator: Use custom ecto type and regex for "mediaType"
  lib/pleroma/web/activity_pub/object_validators/attachment_validator.ex
  test/pleroma/web/activity_pub/object_validators/attachment_validator_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

EctoType: Add MIME validator
  lib/pleroma/constants.ex
  lib/pleroma/ecto_type/activity_pub/object_validators/mime.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Transmogrifier: Use validating regex for "mediaType"
  lib/pleroma/web/activity_pub/transmogrifier.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Use utc_datetime in db schema
  lib/pleroma/announcement.ex
  test/pleroma/web/admin_api/controllers/announcement_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/announcement_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Rewrite integration-test websocket client with Mint.WebSocket
  mix.exs
  mix.lock
  test/pleroma/integration/mastodon_websocket_test.exs
  test/support/websocket_client.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix lint errors
  test/pleroma/integration/mastodon_websocket_test.exs
  test/support/websocket_client.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

wip
  lib/pleroma/user.ex
  lib/pleroma/web/api_spec/operations/account_operation.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  lib/pleroma/web/mastodon_api/views/account_view.ex
  lib/pleroma/web/router.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add "status" notification type
  lib/pleroma/notification.ex
  lib/pleroma/web/api_spec/operations/notification_operation.ex
  lib/pleroma/web/mastodon_api/controllers/notification_controller.ex
  lib/pleroma/web/mastodon_api/views/notification_view.ex
  lib/pleroma/web/push/impl.ex
  priv/repo/migrations/20220319000000_add_status_to_notifications_enum.exs
  test/pleroma/notification_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add tests for familiar followers
  test/pleroma/user_test.exs
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add /@:nickname route, redirect /users/:nickname.rss to /users/:nickname/feed.rss instead of .atom
  lib/pleroma/web/feed/user_controller.ex
  lib/pleroma/web/router.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add short_description field
  config/config.exs
  config/description.exs
  docs/configuration/cheatsheet.md
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Filter notifications with `nil` object
  lib/pleroma/web/mastodon_api/mastodon_api.ex
  test/pleroma/web/mastodon_api/controllers/notification_controller_test.exs
  test/pleroma/web/mastodon_api/mastodon_api_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

StatusView: Protect against rendering activity with `nil` object
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Revert "StatusView: Protect against rendering activity with `nil` object"
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Revert "Filter notifications with `nil` object"
  lib/pleroma/web/mastodon_api/mastodon_api.ex
  test/pleroma/web/mastodon_api/controllers/notification_controller_test.exs
  test/pleroma/web/mastodon_api/mastodon_api_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Restrict mastodon api announcements to logged-in users only
  lib/pleroma/web/api_spec/operations/announcement_operation.ex
  lib/pleroma/web/mastodon_api/controllers/announcement_controller.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/mastodon_api/controllers/announcement_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix eratic test for POST /api/pleroma/admin/reports/:id/notes
  test/pleroma/web/admin_api/controllers/report_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Translate static_pages.po (Simplified Chinese)
  priv/gettext/zh_Hans/LC_MESSAGES/default.po
  priv/gettext/zh_Hans/LC_MESSAGES/errors.po
  priv/gettext/zh_Hans/LC_MESSAGES/posix_errors.po
  priv/gettext/zh_Hans/LC_MESSAGES/static_pages.po
Due: none

Fix incorrect fallback when English is set to first language
  lib/pleroma/web/gettext.ex
  test/pleroma/web/gettext_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Path conditions:
  build: any of: **/*.ex, **/*.exs, mix.lock
  spec-build: any of: lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing: any of: **/*.ex, **/*.exs, mix.lock
  unit-testing-rum: any of: **/*.ex, **/*.exs, mix.lock
  lint: any of: **/*.ex, **/*.exs, mix.lock
  analysis: any of: **/*.ex, **/*.exs, mix.lock
  cycles: any of: **/*.ex, **/*.exs, mix.lock
