Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, analysis, cycles, release

deps:
  stage: deps
  script:
  - mix deps.get
  - mix deps.compile
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull-push

openapi:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

test:
  stage: test
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --cover --preload-modules
  ...

test-erratic:
  stage: test
  allow_failure: true
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --only=erratic

lint:
  stage: test
  script:
  - mix format --check-formatted

analysis:
  stage: test
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  script:
  - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
  - mix deps.get
  - mkdir release
  - mix release --path release
  artifacts:
    name: rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME
    paths:
    - release/*
  cache: {}

Accept multilang polls on MastoAPI
  lib/pleroma/web/api_spec/operations/status_operation.ex
  lib/pleroma/web/common_api/utils.ex
  test/pleroma/web/common_api/utils_test.exs
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Use MultiLanguage func to convert str to map
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/common_api/utils.ex
Due: test, test-erratic, lint, analysis, cycles, release

Accept multilang descriptions when uploading attachments
  lib/pleroma/upload.ex
  lib/pleroma/web/api_spec/operations/media_operation.ex
  lib/pleroma/web/mastodon_api/controllers/media_controller.ex
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/mastodon_api/controllers/media_controller_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Fix warnings in tests, treat warnings as errors in CI.
  .gitlab-ci.yml
  test/pleroma/user/import_test.exs
  test/pleroma/user_search_test.exs
  test/pleroma/web/activity_pub/transmogrifier/emoji_react_handling_test.exs
  test/pleroma/web/mastodon_api/update_credentials_test.exs
  test/test_helper.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Tests: Capture logs to clean up the test output.
  test/pleroma/web/activity_pub/transmogrifier/note_handling_test.exs
  test/pleroma/web/admin_api/controllers/config_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

B TestHelper: Remove warnings-as-errors
  test/test_helper.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix unit tests
  lib/pleroma/emoji/formatter.ex
  lib/pleroma/web/common_api/utils.ex
Due: test, test-erratic, lint, analysis, cycles, release

Move validating multilang map into MultiLanguage
  lib/pleroma/ecto_type/activity_pub/object_validators/map_of_string.ex
  lib/pleroma/multi_language.ex
Due: test, test-erratic, lint, analysis, cycles, release

Validate multilang map
  lib/pleroma/ecto_type/activity_pub/object_validators/map_of_string.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/common_api/utils.ex
  lib/pleroma/web/mastodon_api/controllers/media_controller.ex
  test/pleroma/web/mastodon_api/controllers/media_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Accept description_map when updating media
  lib/pleroma/web/mastodon_api/controllers/media_controller.ex
  test/pleroma/web/mastodon_api/controllers/media_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix article_note_page_validator_test
  lib/pleroma/ecto_type/activity_pub/object_validators/map_of_string.ex
Due: test, test-erratic, lint, analysis, cycles, release

Render language attr of a status
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Post single-language status with language attribute
  lib/pleroma/multi_language.ex
  lib/pleroma/web/activity_pub/builder.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/common_api/utils.ex
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix tests
  lib/pleroma/ecto_type/activity_pub/object_validators/map_of_string.ex
  lib/pleroma/web/common_api/activity_draft.ex
Due: test, test-erratic, lint, analysis, cycles, release

Added SVG to formats not compatible with exiftool
  lib/pleroma/upload/filter/exiftool/strip_location.ex
Due: test, test-erratic, lint, analysis, cycles, release

B StripLocation: Add test, work for all svgs.
  lib/pleroma/upload/filter/exiftool/strip_location.ex
  test/pleroma/upload/filter/exiftool/strip_location_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Test that zwnj is treated as word char in hashtags
  test/pleroma/web/common_api_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Test double dot link
  test/pleroma/web/common_api_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Bump linkify
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, analysis, cycles, release

Make ensure_re_prepended multilang-aware
  lib/pleroma/web/activity_pub/mrf/ensure_re_prepended.ex
  test/pleroma/web/activity_pub/mrf/ensure_re_prepended_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Make force_mentions_in_content multilang aware
  lib/pleroma/web/activity_pub/mrf/force_mentions_in_content.ex
  test/pleroma/web/activity_pub/mrf/force_mentions_in_content_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Make keyword_policy multilang-aware
  lib/pleroma/web/activity_pub/mrf/keyword_policy.ex
  test/pleroma/web/activity_pub/mrf/keyword_policy_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Make no_empty_policy multilang-aware
  lib/pleroma/web/activity_pub/mrf/no_empty_policy.ex
  test/pleroma/web/activity_pub/mrf/no_empty_policy_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Make normalize_markup multilang aware
  lib/pleroma/web/activity_pub/mrf/normalize_markup.ex
  test/pleroma/web/activity_pub/mrf/normalize_markup_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Make no_placeholder_text_policy multilang-aware
  lib/pleroma/web/activity_pub/mrf/no_placeholder_text_policy.ex
  test/pleroma/web/activity_pub/mrf/no_placeholder_text_policy_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Add names to additionalProperties
  lib/pleroma/web/api_spec/operations/pleroma_emoji_file_operation.ex
  lib/pleroma/web/api_spec/operations/pleroma_emoji_pack_operation.ex
  lib/pleroma/web/api_spec/operations/twitter_util_operation.ex
  lib/pleroma/web/api_spec/schemas/status.ex
  mix.exs
  mix.lock
Due: deps, openapi, test, test-erratic, lint, analysis, cycles, release

Force spec for every operation to have a listed tag
  lib/mix/tasks/pleroma/openapi_spec.ex
  lib/pleroma/web/api_spec.ex
  lib/pleroma/web/api_spec/operations/account_operation.ex
  lib/pleroma/web/api_spec/operations/admin/announcement_operation.ex
  lib/pleroma/web/api_spec/operations/admin/status_operation.ex
  lib/pleroma/web/api_spec/operations/announcement_operation.ex
  lib/pleroma/web/api_spec/operations/directory_operation.ex
  lib/pleroma/web/api_spec/operations/instance_operation.ex
  lib/pleroma/web/api_spec/operations/pleroma_instances_operation.ex
  lib/pleroma/web/api_spec/operations/status_operation.ex
  lib/pleroma/web/api_spec/operations/twitter_util_operation.ex
  test/mix/tasks/pleroma/openapi_spec_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Fix type of admin_account.is_confirmed
  lib/pleroma/web/api_spec/operations/admin/status_operation.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Fix tests
  lib/pleroma/web/api_spec/operations/pleroma_emoji_pack_operation.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Fix block_from_stranger setting
  lib/pleroma/notification.ex
  test/pleroma/notification_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Use versioned image from hexpm
  Dockerfile
Due: none

Use WhatsApp user-agent for rich media by default Fixes https://gitlab.com/soapbox-pub/rebased/-/issues/180
  CHANGELOG_soapbox.md
  config/soapbox.exs
  lib/pleroma/web/rich_media/helpers.ex
Due: test, test-erratic, lint, analysis, cycles, release

Revert "Use WhatsApp user-agent for rich media by default"
  CHANGELOG_soapbox.md
  config/soapbox.exs
  lib/pleroma/web/rich_media/helpers.ex
Due: test, test-erratic, lint, analysis, cycles, release

Use WhatsApp user-agent for rich media by default Related https://gitlab.com/soapbox-pub/rebased/-/issues/180
  CHANGELOG_soapbox.md
  config/soapbox.exs
  lib/pleroma/web/rich_media/helpers.ex
Due: test, test-erratic, lint, analysis, cycles, release

Allow customizing instance languages
  config/description.exs
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  test/pleroma/web/mastodon_api/controllers/instance_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Do not expose privileges for other users
  lib/pleroma/web/mastodon_api/views/account_view.ex
  test/pleroma/web/mastodon_api/views/account_view_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix inproper content being cached in report content
  lib/pleroma/web/admin_api/report.ex
  test/pleroma/web/admin_api/controllers/report_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Let moderators do things
  config/config.exs
Due: test, test-erratic, lint, analysis, cycles, release

Add a Gitbook-ish SUMMARY.md
  docs/README.md
  docs/SUMMARY.md
Due: none

Path conditions:
  deps: any of: mix.lock
  openapi: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  test: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  test-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  lint: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  analysis: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  release: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
