Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

build-1.13.4:
  tags:
  - amd64
  stage: build
  script:
  - mix compile --force

build-1.15.7-otp-25:
  tags:
  - amd64
  stage: build
  image: git.pleroma.social:5050/pleroma/pleroma/ci-base:elixir-1.15-otp25
  allow_failure: true
  script:
  - mix compile --force

spec-build:
  tags:
  - amd64
  stage: build
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

unit-testing-1.12.3:
  tags:
  - amd64
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  script:
  ...

unit-testing-1.15.7-otp-25:
  tags:
  - amd64
  stage: test
  image: git.pleroma.social:5050/pleroma/pleroma/ci-base:elixir-1.15-otp25
  allow_failure: true
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
  ...

unit-testing-1.12-erratic:
  tags:
  - amd64
  stage: test
  retry: 2
  allow_failure: true
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
  ...

formatting-1.13:
  image: elixir:1.13-alpine
  stage: lint
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  before_script:
  - apk update
  - apk add build-base cmake file-dev git openssl
  - mix local.hex --force
  - mix local.rebar --force
  - mix deps.get
  script:
  ...

cycles-1.13:
  image: elixir:1.13-alpine
  stage: lint
  cache: {}
  before_script:
  - apk update
  - apk add build-base cmake file-dev git openssl
  - mix local.hex --force
  - mix local.rebar --force
  - mix deps.get
  script:
  - mix compile
  ...

analysis:
  tags:
  - amd64
  stage: lint
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

dialyzer:
  tags:
  - feld
  stage: lint
  allow_failure: true
  when: manual
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix dialyzer

Increase web push character limit for the body
  test/pleroma/web/push/impl_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Switch test case to Impl.build_content/3
  test/pleroma/web/push/impl_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add PollWorker test; move the streaming notification test to it
  test/pleroma/notification_test.exs
  test/pleroma/workers/poll_worker_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Use conn.request_path for more legible error log
  changelog.d/spex-error-log.skip
  lib/pleroma/web/api_spec/cast_and_validate.ex
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

WebPush refactoring: separate build and deliver steps
  lib/pleroma/web/push/impl.ex
  lib/pleroma/workers/web_pusher_worker.ex
  test/pleroma/web/push/impl_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

The user is not always preloaded into the notification
  lib/pleroma/web/push/impl.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Ensure the webpush notification for e.g., mentions start with the nickname of the actor it originates from
  changelog.d/web_push_actor_regression.skip
  test/pleroma/web/push/impl_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Cyclical complexity
  lib/pleroma/web/push/impl.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix tests
  lib/pleroma/web/push/impl.ex
  test/pleroma/web/push/impl_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Transmogrifier: Encode Emoji id to be valid.
  changelog.d/3280-fix-emoji-ids.fix
  lib/pleroma/web/activity_pub/transmogrifier.ex
  test/pleroma/web/activity_pub/transmogrifier/emoji_tag_building_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

MediaProxy: :whitelist config fallback to []
  lib/pleroma/web/media_proxy.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

media_controller_test: Make sure uploader is the Local one
  test/pleroma/web/mastodon_api/controllers/media_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add changelog entry (elixir-1.15)
  changelog.d/elixir-1.15.fix
Due: none

Upload.base_url: Don't pass nil to Path.join(), don't return nil
  lib/pleroma/upload.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Logger.warn → Logger.warning
  docs/configuration/cheatsheet.md
Due: none

mix: Turn off prune_code_path
  mix.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix compatibility with Loggers in Elixir 1.15+
  config/config.exs
  config/description.exs
  config/dev.exs
  config/prod.exs
  lib/pleroma/config/transfer_task.ex
  lib/pleroma/config_db.ex
  mix.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Switch formatting checks to Elixir 1.15
  .gitlab-ci.yml
  lib/mix/tasks/pleroma/database.ex
  lib/pleroma/emoji/pack.ex
  lib/pleroma/object/updater.ex
  lib/pleroma/user/backup.ex
  lib/pleroma/web/api_spec/operations/search_operation.ex
  lib/pleroma/web/auth/ldap_authenticator.ex
  lib/pleroma/web/mastodon_api/websocket_handler.ex
  lib/pleroma/web/plugs/o_auth_scopes_plug.ex
  lib/pleroma/web/xml.ex
  priv/repo/migrations/20180516154905_create_user_trigram_index.exs
  priv/repo/migrations/20190118074940_fix_user_trigram_index.exs
  priv/repo/migrations/20190603173419_add_tag_index_to_objects.exs
  priv/repo/migrations/20200919182636_remoteip_plug_rename.exs
  test/pleroma/config_db_test.exs
  test/pleroma/http/adapter_helper/gun_test.exs
  test/pleroma/http/adapter_helper_test.exs
  test/pleroma/job_queue_monitor_test.exs
  test/pleroma/notification_test.exs
  test/pleroma/user/backup_test.exs
  test/pleroma/web/feed/tag_controller_test.exs
  test/pleroma/web/feed/user_controller_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
  test/pleroma/web/o_auth/ldap_authorization_test.exs
  test/pleroma/web/pleroma_api/controllers/emoji_pack_controller_test.exs
  test/pleroma/web/push/impl_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

CI: Disallow failures for Elixir 1.15
  .gitlab-ci.yml
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Tests: Don't spawn processes in tests.
  .gitignore
  config/test.exs
  lib/pleroma/web/mastodon_api/views/status_view.ex
  lib/pleroma/web/streamer.ex
  mix.lock
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

docs: Bump elixir requirement up to 1.16
  docs/installation/generic_dependencies.include
Due: none

Formatting
  config/test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix mix pleroma.config dump on Elixir 1.15
  lib/mix/pleroma.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Stale user refreshing should be done async to prevent blocking of rendering activities
  changelog.d/user-refresh.change
  config/test.exs
  lib/pleroma/user.ex
  test/pleroma/user_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Refactor the async user refreshing to use Oban
  changelog.d/user-refresh-rework.skip
  config/test.exs
  lib/pleroma/user.ex
  lib/pleroma/workers/user_refresh_worker.ex
  test/pleroma/user_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Enable capture_log globally
  test/mix/tasks/pleroma/config_test.exs
  test/pleroma/object/fetcher_test.exs
  test/pleroma/user/backup_async_test.exs
  test/pleroma/user_test.exs
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/activity_pub/mrf_test.exs
  test/pleroma/web/activity_pub/publisher_test.exs
  test/pleroma/web/activity_pub/relay_test.exs
  test/pleroma/web/activity_pub/transmogrifier/announce_handling_test.exs
  test/pleroma/web/activity_pub/transmogrifier/delete_handling_test.exs
  test/pleroma/web/activity_pub/transmogrifier/note_handling_test.exs
  test/pleroma/web/activity_pub/transmogrifier_test.exs
  test/pleroma/web/admin_api/controllers/config_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/search_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/timeline_controller_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
  test/pleroma/web/push/impl_test.exs
  test/pleroma/web/web_finger_test.exs
  test/test_helper.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Disable Ecto logging in tests
  config/test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Enable :logger_backends application on < Elixir 1.15
  mix.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Remove Logger from ConfigDB descriptions
  config/description.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Remove Logger from ConfigDB
  priv/repo/migrations/20240619141319_deprecate_config_db_logger.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Remove remaining vestiges of Logger support in ConfigDB/TransferTask
  lib/pleroma/config/transfer_task.ex
  lib/pleroma/config_db.ex
  test/pleroma/web/admin_api/controllers/config_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Custom mix task to retry failed tests once in CI pipeline
  .gitlab-ci.yml
  lib/mix/tasks/pleroma/test_runner.ex
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

docs: update docs for NetBSD
  changelog.d/docs-netbsd-update.change
  docs/installation/netbsd_en.md
  installation/netbsd/rc.d/pleroma
Due: none

Rename RichMediaExpirationWorker to RichMediaWorker
  lib/pleroma/web/rich_media/backfill.ex
  lib/pleroma/workers/rich_media_worker.ex
  test/pleroma/web/rich_media/parser/ttl/aws_signed_url_test.exs
  test/pleroma/web/rich_media/parser/ttl/opengraph_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

RichMedia backfill processing through Oban
  changelog.d/rich_media_backfill.change
  config/test.exs
  lib/pleroma/web/mastodon_api/views/status_view.ex
  lib/pleroma/web/rich_media/backfill.ex
  lib/pleroma/web/rich_media/card.ex
  lib/pleroma/workers/rich_media_worker.ex
  test/pleroma/web/pleroma_api/views/chat_message_reference_view_test.exs
  test/pleroma/web/rich_media/card_test.exs
  test/pleroma/web/rich_media/parser/ttl/aws_signed_url_test.exs
  test/pleroma/web/rich_media/parser/ttl/opengraph_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Set console logs to :info for Elixir 1.15+
  changelog.d/debug-logs.skip
  config/prod.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Change CI caching strategy
  .gitlab-ci.yml
  changelog.d/ci-cache.skip
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Gun Connection Pool: successfully retry after reclaiming the pool
  changelog.d/gun_pool4.fix
  lib/pleroma/gun/connection_pool/worker_supervisor.ex
  test/pleroma/gun/connection_pool_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Switch the reclaimer to GenServer.start so it is not linked
  lib/pleroma/gun/connection_pool/reclaimer.ex
  lib/pleroma/gun/connection_pool/worker_supervisor.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Path conditions:
  build-1.13.4: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  build-1.15.7-otp-25: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  spec-build: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing-1.12.3: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  unit-testing-1.15.7-otp-25: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  unit-testing-1.12-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  formatting-1.13: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles-1.13: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  analysis: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  dialyzer: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
