Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Path conditions:
  build-1.13.4: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  build-1.15.7-otp-25: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  spec-build: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing-1.12.3: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  unit-testing-1.15.7-otp-25: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  unit-testing-1.12-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  formatting-1.13: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles-1.13: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  analysis: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  dialyzer: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock

declare support for window controls overlay
  lib/pleroma/web/views/manifest_view.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Manifest: declare /static/logo.svg as 512x512 to match one provided by pleroma-fe
  changelog.d/manifest-icon-size.skip
  config/config.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Manifest: prefer theme color provided by pl fe configuration
  lib/pleroma/web/views/manifest_view.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add `group_key` to notifications
  changelog.d/notifications-group-key.add
  lib/pleroma/web/api_spec/operations/notification_operation.ex
  lib/pleroma/web/mastodon_api/views/notification_view.ex
  test/pleroma/web/mastodon_api/views/notification_view_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

fix typo
  .github/workflows/pl.yaml
Due: none

Add dependencies for Swoosh's Mua mail adapter
  changelog.d/swoosh-mua.add
  mix.exs
  mix.lock
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

federate avatar/header descriptions
  lib/pleroma/user.ex
  lib/pleroma/web/activity_pub/views/user_view.ex
  lib/pleroma/web/mastodon_api/views/account_view.ex
  test/pleroma/web/activity_pub/views/user_view_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Use `admin.report` for report notification type
  changelog.d/admin-report-notification-type.change
  docs/development/API/differences_in_mastoapi_responses.md
  lib/pleroma/notification.ex
  lib/pleroma/web/api_spec/operations/notification_operation.ex
  lib/pleroma/web/mastodon_api/mastodon_api.ex
  lib/pleroma/web/mastodon_api/views/notification_view.ex
  priv/repo/migrations/20240912000000_rename_pleroma_report_notification_type_to_admin_report.exs
  test/pleroma/notification_test.exs
  test/pleroma/web/mastodon_api/controllers/notification_controller_test.exs
  test/pleroma/web/mastodon_api/views/notification_view_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Federate avatar/header descriptions
  changelog.d/profile-image-descriptions.skip
  lib/pleroma/user.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/activity_pub/views/user_view.ex
  lib/pleroma/web/mastodon_api/views/account_view.ex
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/activity_pub/views/user_view_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

LDAP: permit overriding the CA root
  changelog.d/ldap-ca.add
  config/config.exs
  docs/configuration/cheatsheet.md
  lib/pleroma/web/auth/ldap_authenticator.ex
  mix.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Require HTTP signatures (if enabled) for routes used by both C2S and S2S AP API
  changelog.d/ensure-authorized-fetch.security
  lib/pleroma/web/plugs/http_signature_plug.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Support implicit TLS connections
  changelog.d/ldaps.fix
  docs/configuration/cheatsheet.md
  lib/pleroma/web/auth/ldap_authenticator.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Retain the try do so an LDAP failure can fall back to local database.
  lib/pleroma/web/auth/ldap_authenticator.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix migration
  priv/repo/migrations/20240912000000_rename_pleroma_report_notification_type_to_admin_report.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Support Mozhi as translation provider
  config/description.exs
  lib/pleroma/language/translation/deepl.ex
  lib/pleroma/language/translation/mozhi.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Allow disabling C2S ActivityPub API
  config/config.exs
  config/description.exs
  lib/pleroma/web/plugs/ap_client_api_enabled_plug.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Repesct :restrict_unauthenticated for hashtag rss/atom feeds
  changelog.d/hashtag-feeds-restricted.add
  lib/pleroma/web/feed/tag_controller.ex
  test/pleroma/web/feed/tag_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Reapply "Custom mix task to retry failed tests once in CI pipeline"
  .gitlab-ci.yml
  changelog.d/fix-test-failures.skip
  lib/mix/tasks/pleroma/test_runner.ex
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Change color for avatar border
  priv/static/instance/static.css
Due: none

Pleroma.LDAP
  lib/pleroma/application.ex
  lib/pleroma/ldap.ex
  lib/pleroma/web/auth/ldap_authenticator.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Credo
  lib/pleroma/ldap.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Ensure :ssl is started before we attempt to make the LDAP connection
  lib/pleroma/ldap.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Remove cacertfile as child of SSL and TLS options
  config/description.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix return value when not doing STARTTLS
  lib/pleroma/ldap.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Make the email attribute configurable
  config/config.exs
  config/description.exs
  lib/pleroma/ldap.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix tests
  test/pleroma/web/o_auth/ldap_authorization_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Require a reboot if LDAP configuration changes
  lib/pleroma/config/transfer_task.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Catchall for when LDAP is not enabled
  lib/pleroma/ldap.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Link the eldap connection process
  lib/pleroma/ldap.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Only close connection if it is not nil
  lib/pleroma/ldap.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Ensure :cacertfile is configurable in ConfigDB
  config/description.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Reduce LDAP timeouts
  lib/pleroma/ldap.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Formatting
  config/description.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Change :connection to :handle to match upstream nomenclature
  lib/pleroma/ldap.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Improve matching on bind errors
  lib/pleroma/ldap.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

LDAP genserver changelog
  changelog.d/ldap-refactor.change
Due: none

Cheatsheet: add Mua mail adapter config
  docs/configuration/cheatsheet.md
Due: none

LDAP: fix compile warning
  changelog.d/ldap-warning.skip
  lib/pleroma/ldap.ex
  lib/pleroma/web/auth/ldap_authenticator.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Oban: update to 2.18.3
  changelog.d/oban-update.change
  mix.lock
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Elixir 1.14 and Erlang/OTP 23 is now the minimum supported release
  .gitlab-ci.yml
  changelog.d/elixir.change
  docs/installation/debian_based_jp.md
  docs/installation/generic_dependencies.include
  mix.exs
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer
