Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, analysis, cycles, release

.gitlab-ci.yml:

image: registry.gitlab.com/soapbox-pub/rebased/ci

variables: &global_variables
  POSTGRES_DB: pleroma_test
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  DB_HOST: postgres
  DB_PORT: 5432
  MIX_ENV: test
  # Needed for Dokku deployment.
  # https://github.com/dokku/dokku/issues/2514#issuecomment-616775470
  GIT_DEPTH: 0

cache: &cache
  key:
    files:
      - mix.lock
  paths:
    - deps
    - _build
  policy: pull

stages:
  - deps
  - test
  - deploy

deps:
  stage: deps
  script:
    - mix deps.get
    - mix deps.compile
  cache:
    <<: *cache
    policy: pull-push
  only:
    changes:
      - mix.lock

openapi:
  stage: test
  only:
    changes:
      - ".gitlab-ci.yml"
      - "lib/pleroma/web/api_spec/**/*.ex"
      - "lib/pleroma/web/api_spec.ex"
  artifacts:
    paths:
      - spec.json
  script:
    - mix pleroma.openapi_spec spec.json

test:
  stage: test
  only:
    changes: &elixir-changes
      - ".gitlab-ci.yml"
      - "**/*.ex"
      - "**/*.exs"
      - "mix.lock"
  services: &db-services
    - name: postgres:13-alpine
      alias: postgres
      command: ["postgres", "-c", "fsync=off", "-c", "synchronous_commit=off", "-c", "full_page_writes=off"]
  before_script: &db-setup
    - mix ecto.create
    - mix ecto.migrate
  script:
    - mix test --cover --preload-modules
  coverage: '/^Line total: ([^ ]*%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

test-erratic:
  stage: test
  allow_failure: true
  only:
    changes: *elixir-changes
  services: *db-services
  before_script: *db-setup
  script:
    - mix test --only=erratic

lint:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix format --check-formatted

analysis:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

# Deploy with Dokku
# https://github.com/dokku/gitlab-ci
# https://github.com/dokku/ci-docker-image
review:
  image: dokku/ci-docker-image
  stage: test
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://rebased-$CI_COMMIT_REF_SLUG.dokku.soapbox.pub
  only:
    - branches
  except:
    - develop
  variables:
    GIT_REMOTE_URL: ssh://dokku@$DOKKU_HOST/rebased-$CI_COMMIT_REF_SLUG
    GIT_PUSH_FLAGS: --force
  script: dokku-deploy
  allow_failure: true

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
    - mix deps.get
    - mkdir release
    - mix release --path release
  artifacts:
    name: "rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME"
    paths:
      - release/*
  cache: {}
  only:
    refs:
      - develop
    changes: *elixir-changes

docker:
  stage: deploy
  image: docker:20.10.17
  cache: {}
  services:
    - docker:20.10.17-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE .
    - docker push $CI_REGISTRY_IMAGE
  only:
    refs:
      - develop

Config: Restrict permissions of OTP config file
  lib/pleroma/config/release_runtime_provider.ex
Due: test, test-erratic, lint, analysis, cycles, release

changelog: Entry for config permissions restrictions
  changelog.d/otp_perms.security
Due: none

gentoo_otp_en.md: Indicate which install method it covers
  changelog.d/gentoo_otp_intro.skip
  docs/installation/gentoo_otp_en.md
Due: none

Prevent XML parser from loading external entities
  lib/pleroma/web/xml.ex
Due: test, test-erratic, lint, analysis, cycles, release

Add unit test for external entity loading
  test/fixtures/xml_external_entities.xml
  test/pleroma/web/web_finger_test.exs
  test/pleroma/web/xml_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Document and test that XXE processing is disabled
  changelog.d/akkoma-xml-remote-entities.security
Due: none

Release 2.5.4
  CHANGELOG.md
  changelog.d/akkoma-xml-remote-entities.security
  mix.exs
Due: test, test-erratic, lint, analysis, cycles, release

Mergeback release 2.5.4
  CHANGELOG.md
  changelog.d/akkoma-xml-remote-entities.security
  mix.exs
Due: test, test-erratic, lint, analysis, cycles, release

Completely disable xml entity resolution
  changelog.d/disable-xml-entity-resolution.security
  lib/pleroma/web/xml.ex
  test/fixtures/xml_billion_laughs.xml
  test/pleroma/web/xml_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Drop invalid attachments from incoming objects
  lib/pleroma/web/activity_pub/transmogrifier.ex
Due: test, test-erratic, lint, analysis, cycles, release

Use 'Application' for relay actor type
  changelog.d/relay-actor-type.fix
  lib/pleroma/user.ex
  lib/pleroma/web/activity_pub/relay.ex
  test/pleroma/user_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix config ownership in dockerfile to pass restriction test
  Dockerfile
  changelog.d/dockerfile-config-perms.fix
Due: none

Attempt to fix conflicts
  lib/pleroma/web/activity_pub/transmogrifier.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/common_api/utils.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
Due: test, test-erratic, lint, analysis, cycles, release

mix format
  lib/pleroma/web/activity_pub/transmogrifier.ex
  lib/pleroma/web/common_api/activity_draft.ex
Due: test, test-erratic, lint, analysis, cycles, release

Replace deprecated Logger.warn/1 with Logger.warning
  lib/pleroma/application.ex
  lib/pleroma/application_requirements.ex
  lib/pleroma/config/deprecation_warnings.ex
  lib/pleroma/config/oban.ex
  lib/pleroma/config/transfer_task.ex
  lib/pleroma/emoji/loader.ex
  lib/pleroma/gun/conn.ex
  lib/pleroma/http/adapter_helper.ex
  lib/pleroma/instances/instance.ex
  lib/pleroma/maintenance.ex
  lib/pleroma/migrators/support/base_migrator.ex
  lib/pleroma/reverse_proxy.ex
  lib/pleroma/telemetry/logger.ex
  lib/pleroma/upload/filter/analyze_metadata.ex
  lib/pleroma/user.ex
  lib/pleroma/user/backup.ex
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
  lib/pleroma/web/activity_pub/mrf.ex
  lib/pleroma/web/activity_pub/mrf/follow_bot_policy.ex
  lib/pleroma/web/activity_pub/mrf/nsfw_api_policy.ex
  lib/pleroma/web/activity_pub/mrf/steal_emoji_policy.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/common_api/utils.ex
  lib/pleroma/web/plugs/http_security_plug.ex
  lib/pleroma/web/plugs/rate_limiter.ex
  lib/pleroma/web/push.ex
  lib/pleroma/web/push/impl.ex
  lib/pleroma/web/rich_media/parser.ex
  lib/pleroma/web/web_finger.ex
  priv/repo/migrations/20180516144508_add_trigram_extension.exs
  priv/repo/migrations/20190710125158_add_following_address_from_source_data.exs
  priv/repo/migrations/20191118084500_data_migration_populate_user_relationships.exs
  priv/repo/migrations/20200811143147_ap_id_not_null.exs
  test/support/helpers.ex
  test/support/http_request_mock.ex
Due: test, test-erratic, lint, analysis, cycles, release

Allow to specify post language
  changelog.d/post-languages.add
  lib/pleroma/constants.ex
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
  lib/pleroma/web/activity_pub/object_validators/common_fields.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/activity_pub/views/object_view.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/common_api/utils.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/activity_pub/transmogrifier/note_handling_test.exs
  test/pleroma/web/activity_pub/transmogrifier_test.exs
  test/pleroma/web/activity_pub/utils_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Implement api/v2/instance route
  changelog.d/instance-v2.add
  lib/pleroma/web/api_spec/operations/instance_operation.ex
  lib/pleroma/web/mastodon_api/controllers/instance_controller.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/router.ex
  lib/pleroma/web/web_finger.ex
  test/pleroma/web/mastodon_api/controllers/instance_controller_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Apply lanodan's suggestion
  lib/pleroma/web/common_api/utils.ex
Due: test, test-erratic, lint, analysis, cycles, release

Add ObjectValidators.LanguageCode type
  lib/pleroma/ecto_type/activity_pub/object_validators/language_code.ex
  lib/pleroma/web/activity_pub/object_validators/common_fields.ex
  test/pleroma/ecto_type/activity_pub/object_validators/bare_uri_test.exs
  test/pleroma/ecto_type/activity_pub/object_validators/language_code.exs
Due: test, test-erratic, lint, analysis, cycles, release

InstanceView: Add common_information function
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: test, test-erratic, lint, analysis, cycles, release

Make status.language == nil for 'und' value
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Lint
  lib/pleroma/web/common_api/utils.ex
Due: test, test-erratic, lint, analysis, cycles, release

Rename test
  test/pleroma/ecto_type/activity_pub/object_validators/language_code_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Remove test
  test/pleroma/web/activity_pub/transmogrifier/note_handling_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Mastodon-compatible webhooks
  changelog.d/webhooks.add
  config/config.exs
  config/description.exs
  lib/pleroma/application.ex
  lib/pleroma/user.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/admin_api/controllers/webhook_controller.ex
  lib/pleroma/web/admin_api/views/webhook_view.ex
  lib/pleroma/web/api_spec/operations/admin/webhook_operation.ex
  lib/pleroma/web/api_spec/operations/notification_operation.ex
  lib/pleroma/web/router.ex
  lib/pleroma/webhook.ex
  lib/pleroma/webhook/notify.ex
  priv/repo/migrations/20220624104914_create_webhooks.exs
  test/pleroma/user_test.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/admin_api/controllers/webhook_controller_test.exs
  test/pleroma/webhook/notify_test.ex
  test/pleroma/webhook_test.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Add documentation for webhooks API
  docs/development/API/admin_api.md
  lib/pleroma/web/api_spec/operations/admin/webhook_operation.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Apply lanodan's suggestion(s) to 1 file(s)
  lib/pleroma/web/plugs/http_security_plug.ex
Due: test, test-erratic, lint, analysis, cycles, release

Move `maybe_add_language` to CommonFixes
  lib/pleroma/web/activity_pub/object_validator.ex
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
  lib/pleroma/web/activity_pub/object_validators/common_fixes.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
Due: test, test-erratic, lint, analysis, cycles, release

Add Webhooks tag to ApiSpec
  lib/pleroma/web/api_spec.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Move maybe_add_content_map out of Transmogrifier, use code from tusooa's branch for MapOfString
  lib/pleroma/ecto_type/activity_pub/object_validators/map_of_string.ex
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
  lib/pleroma/web/activity_pub/object_validators/common_fields.ex
  lib/pleroma/web/activity_pub/object_validators/common_fixes.ex
  lib/pleroma/web/activity_pub/object_validators/event_validator.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
  test/pleroma/ecto_type/activity_pub/object_validators/map_of_string_test.exs
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
  test/pleroma/web/activity_pub/transmogrifier/note_handling_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Remove test
  lib/pleroma/ecto_type/activity_pub/object_validators/map_of_string.ex
  lib/pleroma/web/activity_pub/object_validators/common_fixes.ex
  test/pleroma/ecto_type/activity_pub/object_validators/map_of_string_test.exs
  test/pleroma/web/activity_pub/transmogrifier_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Add /api/1/soapbox scope for Rebased-specific routes
  lib/pleroma/web/router.ex
Due: test, test-erratic, lint, analysis, cycles, release

Update migration
  priv/repo/migrations/20230820183811_add_thread_subscription_to_notifications_enum.exs
Due: test, test-erratic, lint, analysis, cycles, release

Prevent webfinger spoofing
  lib/pleroma/web/web_finger.ex
  test/fixtures/tesla_mock/gleasonator.com_host_meta
  test/fixtures/tesla_mock/webfinger_spoof.json
  test/pleroma/web/web_finger_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix validate_webfinger when running a different domain for Webfinger
  lib/pleroma/application.ex
  lib/pleroma/web/web_finger.ex
  test/pleroma/user_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix tests
  test/pleroma/user_test.exs
  test/pleroma/web/web_finger/web_finger_controller_test.exs
  test/support/http_request_mock.ex
Due: test, test-erratic, lint, analysis, cycles, release

Make lint happy
  lib/pleroma/web/plugs/http_security_plug.ex
Due: test, test-erratic, lint, analysis, cycles, release
