Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, analysis, cycles, release

.gitlab-ci.yml:

image: registry.gitlab.com/soapbox-pub/rebased/ci

variables: &global_variables
  POSTGRES_DB: pleroma_test
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  DB_HOST: postgres
  DB_PORT: 5432
  MIX_ENV: test
  # Needed for Dokku deployment.
  # https://github.com/dokku/dokku/issues/2514#issuecomment-616775470
  GIT_DEPTH: 0

cache: &cache
  key:
    files:
      - mix.lock
  paths:
    - deps
    - _build
  policy: pull

stages:
  - deps
  - test
  - deploy

deps:
  stage: deps
  script:
    - mix deps.get
    - mix deps.compile
  cache:
    <<: *cache
    policy: pull-push
  only:
    changes:
      - mix.lock

openapi:
  stage: test
  only:
    changes:
      - ".gitlab-ci.yml"
      - "lib/pleroma/web/api_spec/**/*.ex"
      - "lib/pleroma/web/api_spec.ex"
  artifacts:
    paths:
      - spec.json
  script:
    - mix pleroma.openapi_spec spec.json

test:
  stage: test
  only:
    changes: &elixir-changes
      - ".gitlab-ci.yml"
      - "**/*.ex"
      - "**/*.exs"
      - "mix.lock"
  services: &db-services
    - name: postgres:13-alpine
      alias: postgres
      command: ["postgres", "-c", "fsync=off", "-c", "synchronous_commit=off", "-c", "full_page_writes=off"]
  before_script: &db-setup
    - mix ecto.create
    - mix ecto.migrate
  script:
    - mix test --cover --preload-modules
  coverage: '/^Line total: ([^ ]*%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

test-erratic:
  stage: test
  allow_failure: true
  only:
    changes: *elixir-changes
  services: *db-services
  before_script: *db-setup
  script:
    - mix test --only=erratic

lint:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix format --check-formatted

analysis:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

# Deploy with Dokku
# https://github.com/dokku/gitlab-ci
# https://github.com/dokku/ci-docker-image
review:
  image: dokku/ci-docker-image
  stage: test
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://rebased-$CI_COMMIT_REF_SLUG.dokku.soapbox.pub
  only:
    - branches
  except:
    - develop
  variables:
    GIT_REMOTE_URL: ssh://dokku@$DOKKU_HOST/rebased-$CI_COMMIT_REF_SLUG
    GIT_PUSH_FLAGS: --force
  script: dokku-deploy
  allow_failure: true

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
    - mix deps.get
    - mkdir release
    - mix release --path release
  artifacts:
    name: "rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME"
    paths:
      - release/*
  cache: {}
  only:
    refs:
      - develop
    changes: *elixir-changes

docker:
  stage: deploy
  image: docker:20.10.17
  cache: {}
  services:
    - docker:20.10.17-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE .
    - docker push $CI_REGISTRY_IMAGE
  only:
    refs:
      - develop

CI: Tag amd64 releases for amd64 runners
  .gitlab-ci.yml
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Make approval required the default
  config/config.exs
  config/test.exs
Due: test, test-erratic, lint, analysis, cycles, release

reccomend tagged releases over pulling stable
  docs/administration/updating.md
Due: none

Allow exporting events to ics when unauthenticated
  lib/pleroma/web/pleroma_api/controllers/event_controller.ex
Due: test, test-erratic, lint, analysis, cycles, release

Add events index
  priv/repo/migrations/20221207235104_add_events_index.exs
Due: test, test-erratic, lint, analysis, cycles, release

Add OSM tile server to CSP
  lib/pleroma/web/plugs/http_security_plug.ex
Due: test, test-erratic, lint, analysis, cycles, release

Update http_security_plug.ex
  lib/pleroma/web/plugs/http_security_plug.ex
Due: test, test-erratic, lint, analysis, cycles, release

Allow to specify event description content type
  lib/pleroma/web/api_spec/operations/pleroma_event_operation.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Add tests for flagging non-Create activities
  test/pleroma/web/activity_pub/utils_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

InstanceView: Move supported languages to pleroma.metadata
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: test, test-erratic, lint, analysis, cycles, release

Uploading an avatar media exceeding max size returns a 413
  lib/pleroma/user.ex
  lib/pleroma/web/api_spec/operations/account_operation.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  test/pleroma/web/mastodon_api/update_credentials_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Return 413 when an actor's banner or background exceeds the size limit
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  test/pleroma/web/mastodon_api/update_credentials_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Approve & confirm users created through the CLI
  lib/mix/tasks/pleroma/user.ex
Due: test, test-erratic, lint, analysis, cycles, release

Fix failure when registering a user with no email when approval required
  lib/pleroma/user.ex
  test/pleroma/user_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Make TagPolicy Update-aware
  lib/pleroma/web/activity_pub/mrf/tag_policy.ex
  test/pleroma/web/activity_pub/mrf/tag_policy_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Make SimplePolicy Update-aware
  lib/pleroma/web/activity_pub/mrf/simple_policy.ex
  test/pleroma/web/activity_pub/mrf/simple_policy_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

AttachmentValidator: Actually require url
  lib/pleroma/web/activity_pub/object_validators/attachment_validator.ex
  test/pleroma/web/activity_pub/object_validators/attachment_validator_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

StatusView: Fix warning
  lib/pleroma/web/mastodon_api/views/status_view.ex
Due: test, test-erratic, lint, analysis, cycles, release

AudioVideoValidator: Fix embedded attachment requirements
  lib/pleroma/web/activity_pub/object_validators/audio_video_validator.ex
  test/pleroma/object/fetcher_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Include unspecified variants in target languages list for DeepL
  lib/pleroma/language/translation/deepl.ex
Due: test, test-erratic, lint, analysis, cycles, release

Extract translatable strings
  priv/gettext/config_descriptions.pot
  priv/gettext/errors.pot
Due: none

CI: Fix image for amd64-musl
  .gitlab-ci.yml
Due: openapi, test, test-erratic, lint, analysis, cycles, release

fix atom and rss feeds for users and tags
  lib/pleroma/web/feed/feed_view.ex
  lib/pleroma/web/templates/feed/feed/_activity.atom.eex
  lib/pleroma/web/templates/feed/feed/_activity.rss.eex
  lib/pleroma/web/templates/feed/feed/_author.atom.eex
  lib/pleroma/web/templates/feed/feed/_author.rss.eex
  lib/pleroma/web/templates/feed/feed/_tag_activity.atom.eex
  lib/pleroma/web/templates/feed/feed/_tag_author.atom.eex
  lib/pleroma/web/templates/feed/feed/tag.atom.eex
  lib/pleroma/web/templates/feed/feed/user.atom.eex
  lib/pleroma/web/templates/feed/feed/user.rss.eex
Due: test, test-erratic, lint, analysis, cycles, release

remove pub_date() -- use to_rfc2822 instead
  lib/pleroma/web/feed/feed_view.ex
  lib/pleroma/web/templates/feed/feed/_tag_activity.xml.eex
Due: test, test-erratic, lint, analysis, cycles, release

fix: add xmlns:thr for in-reply-to refs
  lib/pleroma/web/templates/feed/feed/tag.atom.eex
  lib/pleroma/web/templates/feed/feed/tag.rss.eex
  lib/pleroma/web/templates/feed/feed/user.atom.eex
  lib/pleroma/web/templates/feed/feed/user.rss.eex
Due: none

fix: feed item title was escaped twice
  lib/pleroma/web/feed/feed_view.ex
Due: test, test-erratic, lint, analysis, cycles, release

Implement RFC2822 timestamp formatting
  lib/pleroma/web/feed/feed_view.ex
  lib/pleroma/web/templates/feed/feed/_activity.rss.eex
Due: test, test-erratic, lint, analysis, cycles, release

remove ap_id test -- the element makes the feed break
  test/pleroma/web/feed/tag_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

document rss/atom fix in changelog
  CHANGELOG.md
Due: none

modify user feed controller test to expect summary for title
  test/pleroma/web/feed/user_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

use to_rfc2822 instead of pub_date in tests, too
  test/pleroma/web/feed/tag_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix CommonAPI delete function to use User.privileged? instead of User.superuser?
  lib/pleroma/web/common_api.ex
Due: test, test-erratic, lint, analysis, cycles, release

Fix TwitterCard meta tags
  CHANGELOG.md
  lib/pleroma/web/metadata/providers/twitter_card.ex
  test/pleroma/web/metadata/providers/twitter_card_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Allow to enable translations for unauthenticated or disable translating remote content
  config/config.exs
  config/description.exs
  lib/pleroma/web/mastodon_api/controllers/status_controller.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/router.ex
Due: test, test-erratic, lint, analysis, cycles, release

Extract translatable strings
  priv/gettext/static_pages.pot
Due: none

Use crazy hack to finally get pleroma:report notifications not visible after revoking privileges
  lib/pleroma/web/mastodon_api/mastodon_api.ex
Due: test, test-erratic, lint, analysis, cycles, release

Make lint happy
  lib/pleroma/web/mastodon_api/mastodon_api.ex
Due: test, test-erratic, lint, analysis, cycles, release

Revert "Delete report notifs when demoting from superuser"
  lib/pleroma/notification.ex
  lib/pleroma/user.ex
  test/pleroma/notification_test.exs
  test/pleroma/user_test.exs
Due: test, test-erratic, lint, analysis, cycles, release
