Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, analysis, cycles, release

.gitlab-ci.yml:

image: registry.gitlab.com/soapbox-pub/rebased/ci

variables: &global_variables
  POSTGRES_DB: pleroma_test
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  DB_HOST: postgres
  DB_PORT: 5432
  MIX_ENV: test
  # Needed for Dokku deployment.
  # https://github.com/dokku/dokku/issues/2514#issuecomment-616775470
  GIT_DEPTH: 0

cache: &cache
  key:
    files:
      - mix.lock
  paths:
    - deps
    - _build
  policy: pull

stages:
  - deps
  - test
  - deploy

deps:
  stage: deps
  script:
    - mix deps.get
    - mix deps.compile
  cache:
    <<: *cache
    policy: pull-push
  only:
    changes:
      - mix.lock

openapi:
  stage: test
  only:
    changes:
      - ".gitlab-ci.yml"
      - "lib/pleroma/web/api_spec/**/*.ex"
      - "lib/pleroma/web/api_spec.ex"
  artifacts:
    paths:
      - spec.json
  script:
    - mix pleroma.openapi_spec spec.json

test:
  stage: test
  only:
    changes: &elixir-changes
      - ".gitlab-ci.yml"
      - "**/*.ex"
      - "**/*.exs"
      - "mix.lock"
  services: &db-services
    - name: postgres:13-alpine
      alias: postgres
      command: ["postgres", "-c", "fsync=off", "-c", "synchronous_commit=off", "-c", "full_page_writes=off"]
  before_script: &db-setup
    - mix ecto.create
    - mix ecto.migrate
  script:
    - mix test --cover --preload-modules
  coverage: '/^Line total: ([^ ]*%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

test-erratic:
  stage: test
  allow_failure: true
  only:
    changes: *elixir-changes
  services: *db-services
  before_script: *db-setup
  script:
    - mix test --only=erratic

lint:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix format --check-formatted

analysis:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

# Deploy with Dokku
# https://github.com/dokku/gitlab-ci
# https://github.com/dokku/ci-docker-image
review:
  image: dokku/ci-docker-image
  stage: test
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://rebased-$CI_COMMIT_REF_SLUG.dokku.soapbox.pub
  only:
    - branches
  except:
    - develop
  variables:
    GIT_REMOTE_URL: ssh://dokku@$DOKKU_HOST/rebased-$CI_COMMIT_REF_SLUG
    GIT_PUSH_FLAGS: --force
  script: dokku-deploy
  allow_failure: true

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
    - mix deps.get
    - mkdir release
    - mix release --path release
  artifacts:
    name: "rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME"
    paths:
      - release/*
  cache: {}
  only:
    refs:
      - develop
    changes: *elixir-changes

docker:
  stage: deploy
  image: docker:20.10.17
  cache: {}
  services:
    - docker:20.10.17-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE .
    - docker push $CI_REGISTRY_IMAGE
  only:
    refs:
      - develop

MastodonAPITest: Fix tests
  test/pleroma/web/mastodon_api/mastodon_api_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

ScheduledActivityControllerTest: Fix tests, make async.
  test/pleroma/web/mastodon_api/controllers/scheduled_activity_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix dockerfile compilation.
  Dockerfile
Due: none

RichMediaTest: Use mocked config
  config/test.exs
  lib/pleroma/web/rich_media/helpers.ex
  test/pleroma/web/rich_media/helpers_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Tests: More test fixes
  config/test.exs
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
  test/pleroma/web/pleroma_api/views/chat_message_reference_view_test.exs
  test/pleroma/web/rich_media/helpers_test.exs
  test/support/data_case.ex
  test/support/mocks.ex
Due: test, test-erratic, lint, analysis, cycles, release

Tests: Remove `skip_on_mac` tag
  test/pleroma/activity_test.exs
  test/pleroma/web/mastodon_api/controllers/search_controller_test.exs
  test/test_helper.exs
Due: test, test-erratic, lint, analysis, cycles, release

EmailTest: use config mock
  config/test.exs
  lib/pleroma/emails/mailer.ex
  lib/pleroma/user.ex
  test/mix/tasks/pleroma/email_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Tests: fix more tests
  test/pleroma/application_requirements_test.exs
  test/pleroma/emails/mailer_test.exs
  test/pleroma/user/welcome_email_test.exs
  test/pleroma/web/admin_api/controllers/admin_api_controller_test.exs
  test/pleroma/web/admin_api/controllers/invite_controller_test.exs
  test/pleroma/web/pleroma_api/controllers/account_controller_test.exs
  test/pleroma/web/twitter_api/password_controller_test.exs
  test/pleroma/web/twitter_api/twitter_api_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Linting
  test/pleroma/scheduled_activity_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Add media proxy to opengraph rich media cards
  changelog.d/opengraph-rich-media-proxy.add
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Revert "Tests: fix more tests"
  test/pleroma/application_requirements_test.exs
  test/pleroma/emails/mailer_test.exs
  test/pleroma/user/welcome_email_test.exs
  test/pleroma/web/admin_api/controllers/admin_api_controller_test.exs
  test/pleroma/web/admin_api/controllers/invite_controller_test.exs
  test/pleroma/web/pleroma_api/controllers/account_controller_test.exs
  test/pleroma/web/twitter_api/password_controller_test.exs
  test/pleroma/web/twitter_api/twitter_api_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Revert "EmailTest: use config mock"
  config/test.exs
  lib/pleroma/emails/mailer.ex
  lib/pleroma/user.ex
  test/mix/tasks/pleroma/email_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

StatusViewTest: Fix tests.
  changelog.d/fix-tests.skip
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Gitlab CI: Update postgres for rum tests.
  .gitlab-ci.yml
  ci/postgres_rum/Dockerfile
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Gitlab CI: Switch to our own docker hub
  .gitlab-ci.yml
  ci/postgres_rum/build_and_push.sh
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Initial draft on frontends management
  docs/administration/frontends-management.md
Due: none

update, add images
  docs/administration/frontends-management.md
  docs/assets/admin_dash_location.png
  docs/assets/frontends_tab.png
  docs/assets/old_adminfe_link.png
  docs/assets/primary_frontend_section.png
  docs/assets/way_to_install_frontends.png
Due: none

changelog
  changelog.d/frontend-management.add
Due: none

docs: Put a max version on erlang and elixir
  changelog.d/docs-max-elixir-erlang.change
  docs/installation/generic_dependencies.include
Due: none

docs: clang is also supported
  docs/installation/generic_dependencies.include
Due: none

Add outbox to Service actors
  lib/pleroma/web/activity_pub/views/user_view.ex
Due: test, test-erratic, lint, analysis, cycles, release

TwitterAPI: Return proper error when healthcheck is disabled
  changelog.d/healthcheck-disabled-error.fix
  lib/pleroma/web/twitter_api/controllers/util_controller.ex
  test/pleroma/web/twitter_api/util_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

mix: cherry-pick eblurhash latest git for system-CFLAGS
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, analysis, cycles, release

mix: Bump elixir-captcha for system-CFLAGS
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, analysis, cycles, release

changelog.d/system-cflags.fix: New entry
  changelog.d/system-cflags.fix
Due: none

Bump version to 2.6.1
  CHANGELOG.md
  changelog.d/akkoma-xml-remote-entities.security
  changelog.d/check-attachment-attribution.security
  changelog.d/docs-max-elixir-erlang.change
  changelog.d/emoji-pack-sanitization.security
  changelog.d/frontend-management.add
  changelog.d/healthcheck-disabled-error.fix
  changelog.d/otp_perms.security
  changelog.d/system-cflags.fix
  mix.exs
Due: test, test-erratic, lint, analysis, cycles, release

Bundle 2.6.1 frontend
  priv/static/index.html
  priv/static/static/css/8859.d26a3b0841a7beb8fd4a.css
  priv/static/static/css/8859.d26a3b0841a7beb8fd4a.css.map
  priv/static/static/css/9801.cfe503d4c949ae0c3813.css
  priv/static/static/css/9801.cfe503d4c949ae0c3813.css.map
  priv/static/static/css/app.a7f63ee9107a77599942.css
  priv/static/static/css/app.a7f63ee9107a77599942.css.map
  priv/static/static/css/app.c18a2c80794a1b699a61.css
  priv/static/static/css/app.c18a2c80794a1b699a61.css.map
  priv/static/static/js/7586.628f729b9c8b2e6f4e1f.js
  priv/static/static/js/7586.628f729b9c8b2e6f4e1f.js.map
  priv/static/static/js/7586.981b2305a0019f6042a5.js
  priv/static/static/js/7586.981b2305a0019f6042a5.js.map
  priv/static/static/js/8859.c76b0a0c3a4b5acbef11.js
  priv/static/static/js/8859.c76b0a0c3a4b5acbef11.js.map
  priv/static/static/js/9801.99ace6b5dc657bf1a65b.js
  priv/static/static/js/9801.99ace6b5dc657bf1a65b.js.map
  priv/static/static/js/app.7c4b412b26221a7c8572.js
  priv/static/static/js/app.7c4b412b26221a7c8572.js.map
  priv/static/static/js/app.d42ab31e1d50a3265a82.js
  priv/static/static/js/app.d42ab31e1d50a3265a82.js.map
  priv/static/static/js/i18n/zh-json.5831b903c3e6d281f122.js
  priv/static/static/js/i18n/zh-json.5831b903c3e6d281f122.js.map
  priv/static/static/js/i18n/zh-json.a0a26f6d62ddbe0b49cc.js
  priv/static/static/js/i18n/zh-json.a0a26f6d62ddbe0b49cc.js.map
  priv/static/sw-pleroma.js
Due: none

ap userview: add outbox field.
  changelog.d/add-outbox.fix
  lib/pleroma/web/activity_pub/views/user_view.ex
Due: test, test-erratic, lint, analysis, cycles, release

UserViewTest: Add basice service actor test.
  test/pleroma/web/activity_pub/views/user_view_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix formatting of changelog
  CHANGELOG.md
Due: none

Skip changelog for 2.6.1 mergeback
  changelog.d/2.6.1-mergeback.skip
Due: none

B ActivityPub.Publisher: Prioritize direct mentions
  lib/pleroma/web/activity_pub/publisher.ex
  lib/pleroma/web/federator/publisher.ex
  test/pleroma/web/activity_pub/publisher_test.exs
  test/support/factory.ex
Due: test, test-erratic, lint, analysis, cycles, release

User: Ignore non-local users when setting 'last active at'
  lib/pleroma/user.ex
Due: test, test-erratic, lint, analysis, cycles, release

Add changelog
  changelog.d/prioritize-direct-recipients.add
Due: none

Move Plugs.RemoteIP.maybe_add_cidr/1 to InetHelper.parse_cidr/1
  lib/pleroma/helpers/inet_helper.ex
  lib/pleroma/web/plugs/remote_ip.ex
Due: test, test-erratic, lint, analysis, cycles, release

Actually write changelog
  changelog.d/prioritize-direct-recipients.add
Due: none

HTTPSignaturePlug: Add :authorized_fetch_mode_exceptions
  changelog.d/auth-fetch-exception.add
  config/description.exs
  docs/configuration/cheatsheet.md
  lib/pleroma/web/plugs/http_signature_plug.ex
  test/pleroma/web/plugs/http_signature_plug_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

ActivityPub.Publisher: Filter inboxes
  lib/pleroma/web/activity_pub/publisher.ex
Due: test, test-erratic, lint, analysis, cycles, release

Fix Web Push notification delivery
  changelog.d/web_push.fix
  lib/pleroma/http/web_push.ex
  test/pleroma/http/web_push_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Return a 400 from a bad delivery attempt to the inbox
  changelog.d/bad_inbox_request.change
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release
