Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, analysis, cycles, release

.gitlab-ci.yml:

image: registry.gitlab.com/soapbox-pub/rebased/ci

variables: &global_variables
  POSTGRES_DB: pleroma_test
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  DB_HOST: postgres
  DB_PORT: 5432
  MIX_ENV: test
  # Needed for Dokku deployment.
  # https://github.com/dokku/dokku/issues/2514#issuecomment-616775470
  GIT_DEPTH: 0

cache: &cache
  key:
    files:
      - mix.lock
  paths:
    - deps
    - _build
  policy: pull

stages:
  - deps
  - test
  - deploy

deps:
  stage: deps
  script:
    - mix deps.get
    - mix deps.compile
  cache:
    <<: *cache
    policy: pull-push
  only:
    changes:
      - mix.lock

openapi:
  stage: test
  only:
    changes:
      - ".gitlab-ci.yml"
      - "lib/pleroma/web/api_spec/**/*.ex"
      - "lib/pleroma/web/api_spec.ex"
  artifacts:
    paths:
      - spec.json
  script:
    - mix pleroma.openapi_spec spec.json

test:
  stage: test
  only:
    changes: &elixir-changes
      - ".gitlab-ci.yml"
      - "**/*.ex"
      - "**/*.exs"
      - "mix.lock"
  services: &db-services
    - name: postgres:13-alpine
      alias: postgres
      command: ["postgres", "-c", "fsync=off", "-c", "synchronous_commit=off", "-c", "full_page_writes=off"]
  before_script: &db-setup
    - mix ecto.create
    - mix ecto.migrate
  script:
    - mix test --cover --preload-modules
  coverage: '/^Line total: ([^ ]*%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

test-erratic:
  stage: test
  allow_failure: true
  only:
    changes: *elixir-changes
  services: *db-services
  before_script: *db-setup
  script:
    - mix test --only=erratic

lint:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix format --check-formatted

analysis:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

# Deploy with Dokku
# https://github.com/dokku/gitlab-ci
# https://github.com/dokku/ci-docker-image
review:
  image: dokku/ci-docker-image
  stage: test
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://rebased-$CI_COMMIT_REF_SLUG.dokku.soapbox.pub
  only:
    - branches
  except:
    - develop
  variables:
    GIT_REMOTE_URL: ssh://dokku@$DOKKU_HOST/rebased-$CI_COMMIT_REF_SLUG
    GIT_PUSH_FLAGS: --force
  script: dokku-deploy
  allow_failure: true

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
    - mix deps.get
    - mkdir release
    - mix release --path release
  artifacts:
    name: "rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME"
    paths:
      - release/*
  cache: {}
  only:
    refs:
      - develop
    changes: *elixir-changes

docker:
  stage: deploy
  image: docker:20.10.17
  cache: {}
  services:
    - docker:20.10.17-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE .
    - docker push $CI_REGISTRY_IMAGE
  only:
    refs:
      - develop

Separate nickname/domain plugs
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
  lib/pleroma/web/feed/user_controller.ex
  lib/pleroma/web/plugs/assign_nickname_with_domain_plug.ex
  lib/pleroma/web/plugs/set_domain_plug.ex
  lib/pleroma/web/plugs/set_nickname_with_domain_plug.ex
Due: test, test-erratic, lint, analysis, cycles, release

Handle service_domain
  lib/pleroma/user.ex
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
  lib/pleroma/web/activity_pub/views/user_view.ex
  lib/pleroma/web/mastodon_api/controllers/media_controller.ex
  lib/pleroma/web/mastodon_api/controllers/timeline_controller.ex
  lib/pleroma/web/pleroma_api/controllers/mascot_controller.ex
  lib/pleroma/web/plugs/set_domain_plug.ex
Due: test, test-erratic, lint, analysis, cycles, release

Change url to externalLink as requested by hj here: https://shigusegubu.club/notice/AcIjZjackKAt6e522a
  lib/pleroma/web/api_spec/operations/pleroma_scrobble_operation.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/pleroma_api/views/scrobble_view.ex
  test/pleroma/web/pleroma_api/controllers/scrobble_controller_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Add changelog
  changelog.d/doc-fix.skip
Due: none

Update docs
  docs/configuration/how_to_serve_multiple_domains_for_webfinger.md
  docs/development/API/admin_api.md
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
  lib/pleroma/web/admin_api/views/domain_view.ex
  lib/pleroma/web/mastodon_api/controllers/media_controller.ex
  lib/pleroma/web/mastodon_api/controllers/timeline_controller.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/plugs/set_nickname_with_domain_plug.ex
  test/pleroma/workers/check_domains_resolve_worker_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

MRF, Docs.Generator: Ensure code is loaded before checking it
  lib/pleroma/docs/generator.ex
  lib/pleroma/web/activity_pub/mrf.ex
Due: test, test-erratic, lint, analysis, cycles, release

Gitlab CI: Make it work for a local runner
  .gitlab-ci.yml
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Add changelog.
  changelog.d/loading-order-test-fix.skip
Due: none

Linting
  lib/pleroma/web/activity_pub/mrf.ex
Due: test, test-erratic, lint, analysis, cycles, release

CI: Remove test coverage
  .gitlab-ci.yml
  mix.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Update tests
  lib/pleroma/web/admin_api/controllers/user_controller.ex
  lib/pleroma/web/mastodon_api/controllers/timeline_controller.ex
  lib/pleroma/web/plugs/set_domain_plug.ex
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/timeline_controller_test.exs
  test/pleroma/workers/check_domains_resolve_worker_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Revert "CI: Remove test coverage"
  .gitlab-ci.yml
  mix.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Add missing test, update tests, fix domain creation
  lib/pleroma/domain.ex
  test/pleroma/web/admin_api/controllers/domain_controller_test.exs
  test/pleroma/workers/check_domain_resolve_worker_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fixes
  lib/pleroma/user.ex
  lib/pleroma/web/plugs/set_nickname_with_domain_plug.ex
Due: test, test-erratic, lint, analysis, cycles, release

Hate this change so much
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
  lib/pleroma/web/activity_pub/builder.ex
  lib/pleroma/web/activity_pub/object_validators/add_remove_validator.ex
  lib/pleroma/web/activity_pub/utils.ex
Due: test, test-erratic, lint, analysis, cycles, release

Change set_reachable/1 to an upsert
  changelog.d/reachability.change
  lib/pleroma/instances/instance.ex
  test/pleroma/instances/instance_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

AccountView: Add test, refactor
  lib/pleroma/web/mastodon_api/views/account_view.ex
  test/pleroma/web/mastodon_api/views/account_view_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

fix: AnalyzeMetadata filter no longer depends on ImageMagick's commands
  lib/pleroma/application_requirements.ex
Due: test, test-erratic, lint, analysis, cycles, release

add changelog
  changelog.d/3987.fix
Due: none

Permit the index creation to run concurrently
  changelog.d/migration-fix.skip
  priv/repo/migrations/20220527134341_add_quote_url_index_to_objects.exs
Due: test, test-erratic, lint, analysis, cycles, release

Optimistic Inbox
  lib/pleroma/signature.ex
  lib/pleroma/user.ex
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
  lib/pleroma/web/federator.ex
  lib/pleroma/workers/receiver_worker.ex
  test/pleroma/user_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix test; log message no longer emitted here
  test/pleroma/signature_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

get_cached_by_ap_id/1 returns a single result, not a tuple
  lib/pleroma/user.ex
Due: test, test-erratic, lint, analysis, cycles, release

Optimistic Inbox
  changelog.d/optimistic-inbox.change
Due: none

Remove unnecessary forced refresh of user
  lib/pleroma/user.ex
Due: test, test-erratic, lint, analysis, cycles, release

Our version of Oban only supports priorities 0-3
  lib/pleroma/web/federator.ex
Due: test, test-erratic, lint, analysis, cycles, release

Fix the req_headers formatting
  lib/pleroma/workers/receiver_worker.ex
Due: test, test-erratic, lint, analysis, cycles, release

Skip transaction to generate the index concurrently
  priv/repo/migrations/20220527134341_add_quote_url_index_to_objects.exs
Due: test, test-erratic, lint, analysis, cycles, release

Do not retry fetching deleted objects
  lib/pleroma/workers/receiver_worker.ex
Due: test, test-erratic, lint, analysis, cycles, release

Revert "Remove unnecessary forced refresh of user"
  lib/pleroma/user.ex
Due: test, test-erratic, lint, analysis, cycles, release

Process inbound Delete activities at lowest priority
  lib/pleroma/web/federator.ex
Due: test, test-erratic, lint, analysis, cycles, release

Tests: Don't run tests that use clear_config asynchronously.
  changelog.d/no-async-with-clear-config.skip
  test/pleroma/http/adapter_helper/hackney_test.exs
  test/pleroma/upload/filter/exiftool/read_description_test.exs
  test/pleroma/web/activity_pub/mrf/follow_bot_policy_test.exs
  test/pleroma/web/activity_pub/mrf_test.exs
  test/pleroma/web/mastodon_api/controllers/directory_controller_test.exs
  test/pleroma/web/plugs/ensure_privileged_plug_test.exs
  test/pleroma/web/twitter_api/remote_follow_controller_test.exs
  test/pleroma/workers/purge_expired_token_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

TransmogrifierTest: Capture the log
  test/pleroma/web/activity_pub/transmogrifier_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Add .rgignore for easier grepping
  .rgignore
Due: none

Tests: Remove async from cases that use Mock
  test/pleroma/activity/ir/topics_test.exs
  test/pleroma/workers/receiver_worker_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Config/Test: Don't start promex during testing.
  config/test.exs
Due: test, test-erratic, lint, analysis, cycles, release

ActivityPubTest: Swallow log
  test/pleroma/web/activity_pub/activity_pub_test.exs
Due: test, test-erratic, lint, analysis, cycles, release
