Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Path conditions:
  build: any of: **/*.ex, **/*.exs, mix.lock
  spec-build: any of: lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing: any of: **/*.ex, **/*.exs, mix.lock
  unit-testing-rum: any of: **/*.ex, **/*.exs, mix.lock
  lint: any of: **/*.ex, **/*.exs, mix.lock
  analysis: any of: **/*.ex, **/*.exs, mix.lock
  cycles: any of: **/*.ex, **/*.exs, mix.lock

Refactor streamer test
  test/pleroma/web/streamer_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Execute session disconnect in background
  lib/pleroma/application.ex
  lib/pleroma/web/o_auth/token/strategy/revoke.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Lint
  lib/pleroma/web/mastodon_api/websocket_handler.ex
  test/pleroma/integration/mastodon_websocket_test.exs
  test/support/websocket_client.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Release 2.4.4
  CHANGELOG.md
  mix.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add glitch-lily as an installable frontend
  config/config.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add function to calculate associated object id
  priv/repo/migrations/20220711182322_add_associated_object_id_function.exs
  test/pleroma/activity_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Switch to associated_object_id index
  lib/mix/tasks/pleroma/database.ex
  lib/pleroma/activity.ex
  lib/pleroma/activity/queries.ex
  lib/pleroma/migrators/hashtags_table_migrator.ex
  lib/pleroma/notification.ex
  lib/pleroma/object.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  priv/repo/migrations/20220711192750_switch_to_associated_object_id_index.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Lint
  priv/repo/migrations/20220711192750_switch_to_associated_object_id_index.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Update thread visibility function
  priv/repo/migrations/20220821004840_change_thread_visibility_to_use_new_object_id_index.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add remote interaction ui for posts
  lib/pleroma/web/templates/twitter_api/util/status_interact.html.eex
  lib/pleroma/web/twitter_api/controllers/util_controller.ex
  test/pleroma/web/twitter_api/util_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add GET endpoints for remote subscription forms
  lib/pleroma/web/api_spec/operations/twitter_util_operation.ex
  lib/pleroma/web/router.ex
  lib/pleroma/web/twitter_api/controllers/util_controller.ex
  test/pleroma/web/twitter_api/util_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix form item name in status_interact.html
  lib/pleroma/web/templates/twitter_api/util/status_interact.html.eex
Due: none

Lint
  lib/pleroma/web/twitter_api/controllers/util_controller.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Display status link in remote interaction form
  lib/pleroma/web/templates/twitter_api/util/status_interact.html.eex
  lib/pleroma/web/twitter_api/controllers/util_controller.ex
  lib/pleroma/web/twitter_api/views/util_view.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add changelog
  CHANGELOG.md
Due: none

Make remote interaction page translatable
  lib/pleroma/web/templates/twitter_api/util/status_interact.html.eex
  lib/pleroma/web/twitter_api/controllers/util_controller.ex
  lib/pleroma/web/twitter_api/views/util_view.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Expose availability of GET /main/ostatus via instance
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add margin to forms and make inputs fill whole width
  priv/static/instance/static.css
Due: none

fix migration
  priv/repo/migrations/20220819171321_add_pleroma_participation_accepted_to_notifications_enum.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix tests
  lib/pleroma/web/activity_pub/object_validators/accept_reject_validator.ex
  lib/pleroma/web/api_spec/operations/pleroma_event_operation.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Notification test
  test/pleroma/notification_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Validate event datetime
  lib/pleroma/web/common_api/activity_draft.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Event reminder notifications
  lib/pleroma/notification.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/api_spec/operations/notification_operation.ex
  lib/pleroma/web/mastodon_api/controllers/notification_controller.ex
  lib/pleroma/web/mastodon_api/views/notification_view.ex
  lib/pleroma/workers/event_reminder_worker.ex
  priv/repo/migrations/20220819171321_add_pleroma_participation_accepted_to_notifications_enum.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

OAuthPlug: use user cache instead of joining
  lib/pleroma/web/plugs/o_auth_plug.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

fix flaky test_user_relationship_test.exs:81
  lib/pleroma/user_relationship.ex
  test/pleroma/user_relationship_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

fix flaky test filter_controller_test.exs:200
  test/pleroma/web/mastodon_api/controllers/filter_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add some controller tests, fixes
  lib/pleroma/constants.ex
  lib/pleroma/notification.ex
  lib/pleroma/web/activity_pub/object_validators/common_fields.ex
  lib/pleroma/web/api_spec/operations/pleroma_event_operation.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/pleroma_api/controllers/event_controller.ex
  lib/pleroma/workers/event_reminder_worker.ex
  test/pleroma/notification_test.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/pleroma_api/controllers/event_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix fedi-fe build URL
  config/config.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Update static pages styles
  priv/static/instance/static.css
Due: none

maybe try using prefers-color-scheme
  priv/static/instance/static.css
Due: none

Use colors from frontend configuration
  lib/pleroma/web/templates/layout/app.html.eex
  lib/pleroma/web/utils/colors.ex
  lib/pleroma/web/utils/colors/rgb.ex
  priv/static/instance/static.css
  test/pleroma/web/utils/colors_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

fix flaky participation_test.exs
  test/pleroma/conversation/participation_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix Rebased --> Pleroma instance version
  lib/pleroma/application.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  mix.exs
  test/pleroma/web/mastodon_api/controllers/instance_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Nodeinfo: fix Rebased --> Pleroma
  lib/pleroma/application.ex
  lib/pleroma/web/nodeinfo/nodeinfo.ex
  test/pleroma/web/node_info_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Use Soapbox CI base image
  .gitlab-ci.yml
Due: none

Overhaul CI
  .gitlab-ci.yml
Due: none

unit-testing --> test
  .gitlab-ci.yml
Due: none

WIP location handling
  lib/pleroma/web/activity_pub/object_validators/place_validator.ex
  lib/pleroma/web/api_spec/operations/pleroma_event_operation.ex
  lib/pleroma/web/api_spec/operations/pleroma_search_operation.ex
  lib/pleroma/web/api_spec/schemas/location_result.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/pleroma_api/controllers/search_controller.ex
  lib/pleroma/web/pleroma_api/views/search_view.ex
  lib/pleroma/web/router.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Do not stream out Create of ChatMessage
  lib/pleroma/activity/ir/topics.ex
  test/pleroma/activity/ir/topics_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make local-only posts stream in local timeline
  lib/pleroma/activity/ir/topics.ex
  test/pleroma/activity/ir/topics_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles
