Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Path conditions:
  build-1.13.4: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  build-1.15.7-otp-25: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  spec-build: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing-1.12.3: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  unit-testing-1.15.7-otp-25: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  unit-testing-1.12-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  formatting-1.13: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles-1.13: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  analysis: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  dialyzer: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock

Enable erratic tests
  .gitlab-ci.yml
  changelog.d/ci-erratic.skip
  test/test_helper.exs
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

docs: update nginx and rcscript path for NetBSD
  docs/installation/generic_dependencies.include
  docs/installation/netbsd_en.md
Due: none

poison is used only in tests
  mix.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

add changelog for poison
  changelog.d/deps-poison-test-only.skip
Due: none

Add test validating the activity_id is correctly present in the Oban job
  changelog.d/rich_media_oban.skip
  lib/pleroma/web/rich_media/card.ex
  test/pleroma/web/rich_media/card_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

RichMedia: test that activity is streamed out
  changelog.d/rich_media_stream_test.skip
  config/test.exs
  lib/pleroma/web/rich_media/backfill.ex
  test/pleroma/web/rich_media/card_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add 1.16.3 ci image
  ci/elixir-1.16.3-otp-26/Dockerfile
  ci/elixir-1.16.3-otp-26/build_and_push.sh
Due: none

Change CI jobs to Elixir 1.16.3
  .gitlab-ci.yml
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Changelog
  changelog.d/ci-elixir-1.16.skip
Due: none

Oban Jobs for refreshing users were not respecting the uniqueness setting
  changelog.d/oban-user-refresh-unique.fix
  lib/pleroma/workers/user_refresh_worker.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Change Gun connection pool logs to debug
  changelog.d/gun-logs-debug.skip
  lib/pleroma/telemetry/logger.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

StripLocationTest: Add failing test for PNGs
  .gitignore
  test/fixtures/DSCN0010.png
  test/pleroma/upload/filter/exiftool/strip_location_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

StripLocation: Remove all PNG extra info to make sure that GPS data is gone.
  lib/pleroma/upload/filter/exiftool/strip_location.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add changelog
  changelog.d/4167-strip-gps-info-in-png.fix
Due: none

scrub_html for translation results, allow 'ellipsis' and 'invisible' class names
  lib/pleroma/language/translation.ex
  priv/scrubbers/default.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Update elixir-captcha to fix the compile warning
  mix.exs
  mix.lock
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Update Tesla to 1.11.0
  mix.exs
  mix.lock
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Dialyzer: pattern can never match the type because it is covered by previous clauses.
  lib/pleroma/frontend.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/activity_pub/mrf/nsfw_api_policy.ex
  lib/pleroma/web/activity_pub/mrf/simple_policy.ex
  lib/pleroma/web/activity_pub/mrf/vocabulary_policy.ex
  lib/pleroma/web/admin_api/controllers/invite_controller.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/twitter_api/controllers/util_controller.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Elixir 1.17 undefined module warning
  lib/pleroma/web/admin_api/controllers/rule_controller.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Update Phoenix to 1.7.14
  mix.lock
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Dialyzer: fix typespec
  lib/pleroma/web/activity_pub/pipeline.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Elixir 1.17 warnings for parens
  lib/pleroma/search.ex
  lib/pleroma/web.ex
  lib/pleroma/web/activity_pub/mrf.ex
  lib/pleroma/web/api_spec/operations/streaming_operation.ex
  lib/pleroma/web/api_spec/schemas/chat.ex
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Elixir 1.17 single quote charlist warning
  lib/pleroma/web/templates/feed/feed/tag.atom.eex
  lib/pleroma/web/templates/feed/feed/tag.rss.eex
  lib/pleroma/web/templates/feed/feed/user.atom.eex
  lib/pleroma/web/templates/feed/feed/user.rss.eex
Due: none

Dialyzer: pattern can never match the type
  lib/pleroma/web/activity_pub/mrf/simple_policy.ex
  lib/pleroma/web/common_api.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Dialyzer: The guard clause can never succeed.
  lib/pleroma/application_requirements.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Dialyzer: Function application with args (_ :: map()) will not succeed.
  lib/pleroma/object.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Dialyzer: fix typespec
  lib/pleroma/web/o_auth/app.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix cycles job name
  .gitlab-ci.yml
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

CI: Switch to Elixir 1.17
  .gitlab-ci.yml
  changelog.d/ci-elixir-1.17.skip
  ci/elixir-1.17.1-otp-26/Dockerfile
  ci/elixir-1.17.1-otp-26/build_and_push.sh
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix automatic LDAP account registration on OTP 24.3+
  lib/pleroma/web/auth/ldap_authenticator.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add eldap back to applications as the module functions were unavailable
  mix.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix LDAP support
  changelog.d/ldap.fix
Due: none

Translated using Weblate (Ukrainian)
  priv/gettext/uk/LC_MESSAGES/posix_errors.po
Due: none

Translated using Weblate (Ukrainian)
  priv/gettext/uk/LC_MESSAGES/static_pages.po
Due: none

Added translation using Weblate (Ukrainian)
  priv/gettext/uk/LC_MESSAGES/posix_errors.po
Due: none

Translated using Weblate (Ukrainian)
  priv/gettext/uk/LC_MESSAGES/config_descriptions.po
Due: none

Added translation using Weblate (Ukrainian)
  priv/gettext/uk/LC_MESSAGES/oauth_scopes.po
Due: none

Translated using Weblate (Ukrainian)
  priv/gettext/uk/LC_MESSAGES/oauth_scopes.po
Due: none
