Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

build-1.13.4:
  tags:
  - amd64
  stage: build
  script:
  - mix compile --force

build-1.15.7-otp-25:
  tags:
  - amd64
  stage: build
  image: git.pleroma.social:5050/pleroma/pleroma/ci-base:elixir-1.15-otp25
  allow_failure: true
  script:
  - mix compile --force

spec-build:
  tags:
  - amd64
  stage: build
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

unit-testing-1.12.3:
  tags:
  - amd64
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  script:
  ...

unit-testing-1.15.7-otp-25:
  tags:
  - amd64
  stage: test
  image: git.pleroma.social:5050/pleroma/pleroma/ci-base:elixir-1.15-otp25
  allow_failure: true
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
  ...

unit-testing-1.12-erratic:
  tags:
  - amd64
  stage: test
  retry: 2
  allow_failure: true
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
  ...

formatting-1.13:
  image: elixir:1.13-alpine
  stage: lint
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  before_script:
  - apk update
  - apk add build-base cmake file-dev git openssl
  - mix local.hex --force
  - mix local.rebar --force
  - mix deps.get
  script:
  ...

cycles-1.13:
  image: elixir:1.13-alpine
  stage: lint
  cache: {}
  before_script:
  - apk update
  - apk add build-base cmake file-dev git openssl
  - mix local.hex --force
  - mix local.rebar --force
  - mix deps.get
  script:
  - mix compile
  ...

analysis:
  tags:
  - amd64
  stage: lint
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

dialyzer:
  tags:
  - feld
  stage: lint
  allow_failure: true
  when: manual
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix dialyzer

Remove unnecessary re-fetch of the actor
  lib/pleroma/user/import.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Translated using Weblate (Chinese (Simplified))
  priv/gettext/zh_Hans/LC_MESSAGES/errors.po
Due: none

Translated using Weblate (Chinese (Simplified))
  priv/gettext/zh_Hans/LC_MESSAGES/config_descriptions.po
Due: none

Translated using Weblate (Chinese (Simplified))
  priv/gettext/zh_Hans/LC_MESSAGES/posix_errors.po
Due: none

Translated using Weblate (Chinese (Simplified))
  priv/gettext/zh_Hans/LC_MESSAGES/default.po
Due: none

Translated using Weblate (Chinese (Simplified))
  priv/gettext/zh_Hans/LC_MESSAGES/oauth_scopes.po
Due: none

Added translation using Weblate (Chinese (Simplified))
  priv/gettext/zh_Hans/LC_MESSAGES/oauth_scopes.po
Due: none

Update migration
  priv/repo/migrations/20220527134341_add_quote_url_index_to_objects.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Update workflow
  .github/workflows/pl.yaml
Due: none

Allow to bite users
  .gitattributes
  lib/pleroma/notification.ex
  lib/pleroma/web/activity_pub/builder.ex
  lib/pleroma/web/activity_pub/object_validator.ex
  lib/pleroma/web/activity_pub/object_validators/bite_validator.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/api_spec.ex
  lib/pleroma/web/api_spec/operations/bite_operation.ex
  lib/pleroma/web/api_spec/operations/notification_operation.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/mastodon_api/controllers/bite_controller.ex
  lib/pleroma/web/mastodon_api/controllers/notification_controller.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/mastodon_api/views/notification_view.ex
  lib/pleroma/web/nodeinfo/nodeinfo.ex
  lib/pleroma/web/router.ex
  priv/repo/migrations/20240827000000_add_bite_to_notifications_enum.exs
  priv/static/schemas/litepub-0.1.jsonld
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Pleroma.HTTP: option stream: true will return a stream as the body for Gun adapter
  lib/pleroma/http/adapter_helper/gun.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Pleroma.HTTP add AdapterHelper.can_stream? to assist with discovering if the current adapter supports returning a Stream body
  lib/pleroma/http/adapter_helper.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

RichMedia: skip the HTTP HEAD request for adapters that support streaming the response body
  lib/pleroma/web/rich_media/helpers.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Handle streaming response errors
  lib/pleroma/http/adapter_helper.ex
  lib/pleroma/web/rich_media/helpers.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Tesla.Middleware.Timeout breaks streaming bodies
  lib/pleroma/web/rich_media/helpers.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix incorrect identifier for the with statement
  lib/pleroma/web/rich_media/helpers.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

This error is not returned by Tesla
  lib/pleroma/web/rich_media/helpers.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

fix docs
  docs/development/API/admin_api.md
Due: none

Correct response in AdminAPI docs
  changelog.d/docs-fix.skip
  docs/development/API/admin_api.md
Due: none

ReceiverWorker: cancel job if user fetch is forbidden
  lib/pleroma/workers/receiver_worker.ex
  test/pleroma/workers/receiver_worker_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add test confirming cancellation for activity by a deleted user
  test/pleroma/workers/receiver_worker_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Cancel if the User fetch resulted in a 410
  test/pleroma/workers/receiver_worker_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Simplify test, move data into a json fixture
  test/fixtures/bastianallgeier.json
  test/fixtures/receiver_worker_signature_activity.json
  test/pleroma/workers/receiver_worker_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Changelog
  changelog.d/oban-recevier-user-error.fix
Due: none

Add test for origin containment failures
  test/pleroma/workers/receiver_worker_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Cancel ReceiverWorker jobs if the user account has been disabled / deactivated
  lib/pleroma/workers/receiver_worker.ex
  test/pleroma/workers/receiver_worker_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

ReceiverWorker job canceled due to deleted object
  test/pleroma/workers/receiver_worker_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Annotate error cases
  lib/pleroma/workers/receiver_worker.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

:validate_object is not a real error returned from anywhere
  lib/pleroma/web/federator.ex
  lib/pleroma/workers/receiver_worker.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add back one of the duplicate checks to fix a test, document where it comes from
  lib/pleroma/workers/receiver_worker.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

More error annotations
  lib/pleroma/workers/receiver_worker.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Changelog update
  changelog.d/oban-recevier-improvements.fix
  changelog.d/oban-recevier-user-error.fix
Due: none

Move user active check into Federator.perform/1
  lib/pleroma/web/federator.ex
  lib/pleroma/workers/receiver_worker.ex
  test/pleroma/workers/receiver_worker_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add an AdapterHelper for Finch so we can support streaming request bodies
  lib/pleroma/http/adapter_helper.ex
  lib/pleroma/http/adapter_helper/finch.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Update comments, remove solved TODO
  lib/pleroma/http/adapter_helper.ex
  lib/pleroma/http/adapter_helper/finch.ex
  lib/pleroma/http/adapter_helper/gun.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Changelog
  changelog.d/rich-media-no-heads.change
Due: none

Path conditions:
  build-1.13.4: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  build-1.15.7-otp-25: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  spec-build: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing-1.12.3: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  unit-testing-1.15.7-otp-25: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  unit-testing-1.12-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  formatting-1.13: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles-1.13: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  analysis: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  dialyzer: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
