Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, analysis, cycles, release

.gitlab-ci.yml:

image: registry.gitlab.com/soapbox-pub/rebased/ci

variables: &global_variables
  POSTGRES_DB: pleroma_test
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  DB_HOST: postgres
  DB_PORT: 5432
  MIX_ENV: test
  # Needed for Dokku deployment.
  # https://github.com/dokku/dokku/issues/2514#issuecomment-616775470
  GIT_DEPTH: 0

cache: &cache
  key:
    files:
      - mix.lock
  paths:
    - deps
    - _build
  policy: pull

stages:
  - deps
  - test
  - deploy

deps:
  stage: deps
  script:
    - mix deps.get
    - mix deps.compile
  cache:
    <<: *cache
    policy: pull-push
  only:
    changes:
      - mix.lock

openapi:
  stage: test
  only:
    changes:
      - ".gitlab-ci.yml"
      - "lib/pleroma/web/api_spec/**/*.ex"
      - "lib/pleroma/web/api_spec.ex"
  artifacts:
    paths:
      - spec.json
  script:
    - mix pleroma.openapi_spec spec.json

test:
  stage: test
  only:
    changes: &elixir-changes
      - ".gitlab-ci.yml"
      - "**/*.ex"
      - "**/*.exs"
      - "mix.lock"
  services: &db-services
    - name: postgres:13-alpine
      alias: postgres
      command: ["postgres", "-c", "fsync=off", "-c", "synchronous_commit=off", "-c", "full_page_writes=off"]
  before_script: &db-setup
    - mix ecto.create
    - mix ecto.migrate
  script:
    - mix test --cover --preload-modules
  coverage: '/^Line total: ([^ ]*%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

test-erratic:
  stage: test
  allow_failure: true
  only:
    changes: *elixir-changes
  services: *db-services
  before_script: *db-setup
  script:
    - mix test --only=erratic

lint:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix format --check-formatted

analysis:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

# Deploy with Dokku
# https://github.com/dokku/gitlab-ci
# https://github.com/dokku/ci-docker-image
review:
  image: dokku/ci-docker-image
  stage: test
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://rebased-$CI_COMMIT_REF_SLUG.dokku.soapbox.pub
  only:
    - branches
  except:
    - develop
  variables:
    GIT_REMOTE_URL: ssh://dokku@$DOKKU_HOST/rebased-$CI_COMMIT_REF_SLUG
    GIT_PUSH_FLAGS: --force
  script: dokku-deploy
  allow_failure: true

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
    - mix deps.get
    - mkdir release
    - mix release --path release
  artifacts:
    name: "rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME"
    paths:
      - release/*
  cache: {}
  only:
    refs:
      - develop
    changes: *elixir-changes

docker:
  stage: deploy
  image: docker:20.10.17
  cache: {}
  services:
    - docker:20.10.17-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE .
    - docker push $CI_REGISTRY_IMAGE
  only:
    refs:
      - develop

Require related object for notifications to filter on content
  lib/pleroma/notification.ex
  test/pleroma/notification_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

B TestHelper, CI: Work with older elixir version.
  .gitlab-ci.yml
  test/test_helper.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Update mix.exs
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, analysis, cycles, release

Bump crypt to v1.0.1
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, analysis, cycles, release

Ignores in exiftool read descriptions
  lib/pleroma/upload/filter/exiftool/read_description.ex
  test/fixtures/image_with_imagedescription_and_caption-abstract_and_stray_data_after.png
  test/fixtures/image_with_stray_data_after.png
  test/pleroma/upload/filter/exiftool/read_description_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Extract translatable strings
  priv/gettext/config_descriptions.pot
  priv/gettext/errors.pot
Due: none

feat: build rel me tags with profile fields
  lib/pleroma/web/metadata/providers/rel_me.ex
  test/pleroma/web/metadata/providers/rel_me_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix down migration
  priv/repo/migrations/20220319000000_add_status_to_notifications_enum.exs
Due: test, test-erratic, lint, analysis, cycles, release

Bump earmark to 1.4.22
  mix.exs
  mix.lock
  test/pleroma/web/common_api/utils_test.exs
Due: deps, test, test-erratic, lint, analysis, cycles, release

B StripLocation: Add test, work for all svgs.
  lib/pleroma/upload/filter/exiftool/strip_location.ex
  test/pleroma/upload/filter/exiftool/strip_location_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Added SVG to formats not compatible with exiftool
  lib/pleroma/upload/filter/exiftool/strip_location.ex
Due: test, test-erratic, lint, analysis, cycles, release

Fix block_from_stranger setting
  lib/pleroma/notification.ex
  test/pleroma/notification_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix rel="me"
  CHANGELOG.md
  lib/pleroma/application.ex
Due: test, test-erratic, lint, analysis, cycles, release

Remove unwanted code specific to MIX_ENV=test
  lib/pleroma/web/rel_me.ex
Due: test, test-erratic, lint, analysis, cycles, release

Allow customizing instance languages
  config/description.exs
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  test/pleroma/web/mastodon_api/controllers/instance_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Use versioned image from hexpm
  Dockerfile
Due: none

Fix inproper content being cached in report content
  lib/pleroma/web/admin_api/report.ex
  test/pleroma/web/admin_api/controllers/report_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Test that zwnj is treated as word char in hashtags
  test/pleroma/web/common_api_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Test double dot link
  test/pleroma/web/common_api_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Bump linkify
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, analysis, cycles, release

Compose changelog for 2.5.1
  CHANGELOG.md
Due: none

Bump version in mix project to 2.5.1
  mix.exs
Due: test, test-erratic, lint, analysis, cycles, release

Add group_id as a param to StatusCreateRequest
  lib/pleroma/web/api_spec/operations/status_operation.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

TagValidator: Drop unrecognized tags
  lib/pleroma/web/activity_pub/object_validators/tag_validator.ex
  test/fixtures/fep-e232.json
  test/pleroma/web/activity_pub/transmogrifier_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Allow with_relationships param for blocks
  lib/pleroma/web/api_spec/operations/account_operation.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Sanitize filenames when uploading
  lib/pleroma/web/activity_pub/activity_pub.ex
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/mastodon_api/controllers/media_controller_test.exs
  test/pleroma/web/mastodon_api/update_credentials_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Add the security fix to the changelog
  CHANGELOG.md
Due: none

Stop oban from retrying if validating errors occur when processing incoming data
  lib/pleroma/workers/receiver_worker.ex
  test/pleroma/workers/receiver_worker_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix FederatorTest
  test/pleroma/web/federator_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Make clear the test names
  test/pleroma/workers/receiver_worker_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Allow custom emoji reactions: Fix tests, mixed custom and unicode reactions
  lib/pleroma/emoji.ex
  lib/pleroma/web/activity_pub/builder.ex
  lib/pleroma/web/activity_pub/object_validators/common_fields.ex
  lib/pleroma/web/mastodon_api/views/notification_view.ex
  test/fixtures/custom-emoji-reaction.json
  test/pleroma/web/activity_pub/object_validators/emoji_react_handling_test.exs
  test/pleroma/web/activity_pub/side_effects_test.exs
  test/pleroma/web/activity_pub/transmogrifier/emoji_react_handling_test.exs
  test/pleroma/web/mastodon_api/views/notification_view_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Allow reacting with remote emoji when they exist on the post (#200)
  lib/pleroma/web/activity_pub/builder.ex
  lib/pleroma/web/activity_pub/object_validators/emoji_react_validator.ex
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  lib/pleroma/web/pleroma_api/controllers/emoji_reaction_controller.ex
  lib/pleroma/web/pleroma_api/views/emoji_reaction_view.ex
  test/pleroma/web/pleroma_api/controllers/emoji_reaction_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Allow custom emoji reactions: add test for mixed emoji react, fix credo errors
  lib/pleroma/web/mastodon_api/views/notification_view.ex
  test/pleroma/web/pleroma_api/controllers/emoji_reaction_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Remove crypt(3) support
  CHANGELOG.md
  lib/pleroma/web/plugs/authentication_plug.ex
  mix.exs
  mix.lock
  test/pleroma/web/plugs/authentication_plug_test.exs
Due: deps, test, test-erratic, lint, analysis, cycles, release

docs: Be more explicit about the level of compatibility of OTP releases
  docs/installation/otp_en.md
Due: none
