Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Path conditions:
  build-1.13.4: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  build-1.15.7-otp-25: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  spec-build: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing-1.12.3: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  unit-testing-1.15.7-otp-25: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  unit-testing-1.12-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  formatting-1.13: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles-1.13: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  analysis: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  dialyzer: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock

Docs: fix OTP mix task command for Meilisearch
  docs/configuration/search.md
Due: none

Changelog
  changelog.d/meilisearch-misc-fixes.fix
Due: none

Remove unused import
  lib/mix/tasks/pleroma/search/meilisearch.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

B ReleaseTasks: Fix task module finding.
  changelog.d/module-search-in-pleroma-ctl.fix
  lib/pleroma/release_tasks.ex
  test/pleroma/release_tasks_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Linting
  test/pleroma/release_task_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Revert "Docs: fix OTP mix task command for Meilisearch"
  docs/configuration/search.md
Due: none

fix deepl
  lib/pleroma/language/translation/deepl.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Merge branch 'swoosh-mailgun' into 'develop'
  changelog.d/mailgun.fix
  mix.exs
  mix.lock
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Merge branch 'well-known' into 'develop'
  changelog.d/well-known.change
  lib/pleroma/web/router.ex
  test/pleroma/web/node_info_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Merge branch 'following-state-bug' into 'develop'
  changelog.d/following-state.fix
  lib/pleroma/web/mastodon_api/views/account_view.ex
  mix.lock
  test/pleroma/web/mastodon_api/views/account_view_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Merge branch 'follow-validator' into 'develop'
  changelog.d/follow-validator.fix
  lib/pleroma/web/activity_pub/object_validators/accept_reject_validator.ex
  lib/pleroma/web/activity_pub/object_validators/block_validator.ex
  lib/pleroma/web/activity_pub/object_validators/follow_validator.ex
  test/pleroma/web/activity_pub/object_validators/follow_validation_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Merge branch 'mastodon-websocket-fix' into 'develop'
  changelog.d/mastodon-websocket.fix
  lib/pleroma/web/endpoint.ex
  lib/pleroma/web/mastodon_api/websocket_handler.ex
  mix.exs
  mix.lock
  test/pleroma/integration/mastodon_websocket_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Merge branch 'bugfix-truncate-remote-user-fields' into 'develop'
  changelog.d/bugfix-truncate-remote-user-fields.fix
  lib/pleroma/user.ex
  test/pleroma/user_test.exs
  test/pleroma/web/activity_pub/transmogrifier/user_update_handling_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Version 2.7.1
  CHANGELOG.md
  changelog.d/bugfix-truncate-remote-user-fields.fix
  changelog.d/follow-validator.fix
  changelog.d/following-state.fix
  changelog.d/mailgun.fix
  changelog.d/mastodon-websocket.fix
  changelog.d/well-known.change
  mix.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

fix: skip directory entries
  lib/pleroma/frontend.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

fix typos
  lib/pleroma/web/api_spec.ex
  lib/pleroma/web/api_spec/operations/admin/domain_operation.ex
  lib/pleroma/web/api_spec/operations/admin/rule_operation.ex
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Verify a local Update sent through AP C2S so users can only update their own objects
  changelog.d/c2s-update-verify.fix
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
  lib/pleroma/web/activity_pub/object_validator.ex
  lib/pleroma/web/activity_pub/object_validators/update_validator.ex
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

fix merge conflict
  priv/static/schemas/litepub-0.1.jsonld
Due: none

CI: Allow failure for non-musl arm for now
  .gitlab-ci.yml
  changelog.d/ci-builder-skip-arm32.skip
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Switch release builder to hexpm images (mostly)
  .gitlab-ci.yml
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add changelog
  changelog.d/hexpm-build-images.skip
Due: none

Remerge of hashtag following (#341)
  lib/pleroma/hashtag.ex
  lib/pleroma/user.ex
  lib/pleroma/user/hashtag_follow.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/api_spec/operations/tag_operation.ex
  lib/pleroma/web/api_spec/schemas/tag.ex
  lib/pleroma/web/mastodon_api/controllers/tag_controller.ex
  lib/pleroma/web/mastodon_api/controllers/timeline_controller.ex
  lib/pleroma/web/mastodon_api/views/tag_view.ex
  lib/pleroma/web/router.ex
  lib/pleroma/web/streamer.ex
  priv/repo/migrations/20221203232118_add_user_follows_hashtag.exs
  test/pleroma/user_test.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/mastodon_api/controllers/tag_controller_test.exs
  test/pleroma/web/streamer_test.exs
  test/support/factory.ex
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add /api/v1/followed_tags
  lib/pleroma/pagination.ex
  lib/pleroma/user/hashtag_follow.ex
  lib/pleroma/web/api_spec/operations/tag_operation.ex
  lib/pleroma/web/api_spec/schemas/tag.ex
  lib/pleroma/web/mastodon_api/controllers/tag_controller.ex
  lib/pleroma/web/mastodon_api/views/tag_view.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/mastodon_api/controllers/tag_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Update changelog
  changelog.d/follow-hashtags.add
Due: none

update spec
  lib/pleroma/web/api_spec.ex
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Remove upstreamed feature from readme
  README.md
Due: none

fix alias ordering
  lib/pleroma/hashtag.ex
  lib/pleroma/user.ex
  lib/pleroma/user/hashtag_follow.ex
  lib/pleroma/web/mastodon_api/controllers/tag_controller.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

fix tests
  priv/repo/migrations/20221203232118_add_user_follows_hashtag.exs
  test/mix/tasks/pleroma/database_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add /api/v1/pleroma/outgoing_follow_requests
  changelog.d/outgoing-follow-requests.add
  lib/pleroma/following_relationship.ex
  lib/pleroma/user.ex
  lib/pleroma/web/api_spec/operations/pleroma_follow_request_operation.ex
  lib/pleroma/web/pleroma_api/controllers/follow_request_controller.ex
  lib/pleroma/web/pleroma_api/views/follow_request_view.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/pleroma_api/controllers/follow_request_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

workflow: update deps?
  .github/workflows/pl.yaml
Due: none

we don't need sane limits
  config/pl-fe.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

rename config overrides file
  config/config.exs
  config/pl-overrides.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Link to exported outbox/followers/following collections in backup actor.json
  changelog.d/backup-links.add
  lib/pleroma/user/backup.ex
  test/pleroma/user/backup_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Include "published" in actor view
  changelog.d/actor-published-date.add
  lib/pleroma/web/activity_pub/views/user_view.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

MediaProxyController: Use 301 for permanent redirects
  changelog.d/301-small-image-redirect.change
  lib/pleroma/web/media_proxy/media_proxy_controller.ex
  test/pleroma/web/media_proxy/media_proxy_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

description.exs: Remove suggestion referencing a deleted module
  changelog.d/description-update-suggestions.skip
  config/description.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix Mastodon incoming edits with inlined "likes"
  changelog.d/fix-mastodon-edits.fix
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
  lib/pleroma/web/activity_pub/object_validators/audio_image_video_validator.ex
  lib/pleroma/web/activity_pub/object_validators/common_fixes.ex
  lib/pleroma/web/activity_pub/object_validators/event_validator.ex
  lib/pleroma/web/activity_pub/object_validators/question_validator.ex
  test/fixtures/mastodon-update-with-likes.json
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

AnalyzeMetadata: Don't crash on grayscale image blurhash
  lib/pleroma/upload/filter/analyze_metadata.ex
  test/fixtures/break_analyze.png
  test/pleroma/upload/filter/analyze_metadata_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add changelog
  changelog.d/vips-blurhash.fix
Due: none
