Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Path conditions:
  build-1.13.4: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  build-1.15.7-otp-25: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  spec-build: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing-1.12.3: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  unit-testing-1.15.7-otp-25: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  unit-testing-1.12-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  formatting-1.13: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles-1.13: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  analysis: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  dialyzer: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock

Remove validation for cc fields on Blocks
  lib/pleroma/web/activity_pub/object_validators/block_validator.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Added MRF.QuietReply which prevents replies to public posts from being published to the timelines
  changelog.d/mrf-quietreply.add
  lib/pleroma/web/activity_pub/mrf/quiet_reply.ex
  test/pleroma/web/activity_pub/mrf/quiet_reply_test.exs
  test/support/factory.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Unintended commit
  test/support/factory.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

We must change to/cc in the activity and inner object
  lib/pleroma/web/activity_pub/mrf/quiet_reply.ex
  test/pleroma/web/activity_pub/mrf/quiet_reply_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Remove stub for /api/v1/accounts/:id/identity_proofs (deprecated by Mastodon 3.5.0)
  changelog.d/identity-proofs.remove
  docs/development/API/differences_in_mastoapi_responses.md
  lib/pleroma/web/api_spec/operations/account_operation.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/mastodon_api/mastodon_api_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Update test as /api/v1/endorsements is not a stub
  test/pleroma/web/mastodon_api/mastodon_api_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Mark `/api/v1/pleroma/accounts/:id/subscribe`/`unsubscribe` as deprecated
  changelog.d/deprecate-subscribe.change
  docs/development/API/pleroma_api.md
  lib/pleroma/web/api_spec/operations/pleroma_account_operation.ex
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

remove unused alias
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix Swoosh Mailgun support
  changelog.d/mailgun.fix
  mix.exs
  mix.lock
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Revert accidental removal of test unrelated to identity proofs
  test/pleroma/web/mastodon_api/mastodon_api_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add module documentation
  lib/pleroma/web/activity_pub/mrf/quiet_reply.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

MRF.FODirectReply
  changelog.d/mrf-fodirectreply.add
  lib/pleroma/web/activity_pub/mrf/fo_direct_reply.ex
  test/pleroma/web/activity_pub/mrf/fo_direct_reply_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

User Factory: include the nickname in the generated URLs
  changelog.d/user-factory.skip
  test/support/factory.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

MRF.QuietReply: add test for replies to unlisted posts
  test/pleroma/web/activity_pub/mrf/quiet_reply_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

MRF.FODirectReply: use Visibility module to verify the scope
  changelog.d/mrf-fodirectreply.add
  lib/pleroma/web/activity_pub/mrf/fo_direct_reply.ex
  test/pleroma/web/activity_pub/mrf/fo_direct_reply_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

MRF cleanup
  changelog.d/mrf-cleanup.skip
  lib/pleroma/web/activity_pub/mrf/anti_followbot_policy.ex
  lib/pleroma/web/activity_pub/mrf/anti_link_spam_policy.ex
  lib/pleroma/web/activity_pub/mrf/anti_mention_spam_policy.ex
  lib/pleroma/web/activity_pub/mrf/dnsrbl_policy.ex
  lib/pleroma/web/activity_pub/mrf/drop_policy.ex
  lib/pleroma/web/activity_pub/mrf/emoji_policy.ex
  lib/pleroma/web/activity_pub/mrf/ensure_re_prepended.ex
  lib/pleroma/web/activity_pub/mrf/follow_bot_policy.ex
  lib/pleroma/web/activity_pub/mrf/force_bot_unlisted_policy.ex
  lib/pleroma/web/activity_pub/mrf/force_mention.ex
  lib/pleroma/web/activity_pub/mrf/force_mentions_in_content.ex
  lib/pleroma/web/activity_pub/mrf/hashtag_policy.ex
  lib/pleroma/web/activity_pub/mrf/hellthread_policy.ex
  lib/pleroma/web/activity_pub/mrf/inline_quote_policy.ex
  lib/pleroma/web/activity_pub/mrf/keyword_policy.ex
  lib/pleroma/web/activity_pub/mrf/media_proxy_warming_policy.ex
  lib/pleroma/web/activity_pub/mrf/mention_policy.ex
  lib/pleroma/web/activity_pub/mrf/no_empty_policy.ex
  lib/pleroma/web/activity_pub/mrf/no_op_policy.ex
  lib/pleroma/web/activity_pub/mrf/no_placeholder_text_policy.ex
  lib/pleroma/web/activity_pub/mrf/normalize_markup.ex
  lib/pleroma/web/activity_pub/mrf/nsfw_api_policy.ex
  lib/pleroma/web/activity_pub/mrf/object_age_policy.ex
  lib/pleroma/web/activity_pub/mrf/policy.ex
  lib/pleroma/web/activity_pub/mrf/quiet_reply.ex
  lib/pleroma/web/activity_pub/mrf/quote_to_link_tag_policy.ex
  lib/pleroma/web/activity_pub/mrf/simple_policy.ex
  lib/pleroma/web/activity_pub/mrf/steal_emoji_policy.ex
  lib/pleroma/web/activity_pub/mrf/subchain_policy.ex
  lib/pleroma/web/activity_pub/mrf/tag_policy.ex
  lib/pleroma/web/activity_pub/mrf/user_allow_list_policy.ex
  lib/pleroma/web/activity_pub/mrf/vocabulary_policy.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix the uploads migration mix task test which leaked a change to the configured Uploader
  test/mix/tasks/pleroma/uploads_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Revert "Custom mix task to retry failed tests once in CI pipeline"
  .gitlab-ci.yml
  changelog.d/fix-test-failures.skip
  lib/mix/tasks/pleroma/test_runner.ex
  test/mix/tasks/pleroma/uploads_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

User: truncate remote user fields instead of rejecting
  changelog.d/bugfix-truncate-remote-user-fields.fix
  lib/pleroma/user.ex
  test/pleroma/user_test.exs
  test/pleroma/web/activity_pub/transmogrifier/user_update_handling_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix 'Setting a marker should mark notifications as read'
  changelog.d/notifications-marker.change
  lib/pleroma/web/mastodon_api/controllers/marker_controller.ex
  test/pleroma/web/mastodon_api/controllers/marker_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

CI: GIT_STRATEGY: fetch
  .gitlab-ci.yml
  changelog.d/ci-git-fetch.skip
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Update mogrify
  changelog.d/mogrify.skip
  mix.exs
  mix.lock
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Allow providing avatar/header descriptions
  lib/pleroma/user.ex
  lib/pleroma/web/api_spec/operations/account_operation.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  lib/pleroma/web/mastodon_api/views/account_view.ex
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add test for avatar description
  lib/pleroma/user.ex
  lib/pleroma/web/api_spec/schemas/account.ex
  test/pleroma/web/mastodon_api/update_credentials_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Update changelog
  changelog.d/profile-image-descriptions.add
Due: none

Update docs
  docs/development/API/differences_in_mastoapi_responses.md
  lib/pleroma/web/api_spec/schemas/account.ex
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Validate media description length
  lib/pleroma/user.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  test/pleroma/web/mastodon_api/update_credentials_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Move new fields to pleroma object
  docs/development/API/differences_in_mastoapi_responses.md
  lib/pleroma/web/api_spec/schemas/account.ex
  lib/pleroma/web/mastodon_api/views/account_view.ex
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Update tests
  test/pleroma/web/mastodon_api/views/account_view_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Update Oban to 2.18
  changelog.d/update-oban.change
  mix.exs
  mix.lock
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

@ remove workerhelper
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/admin_api/controllers/domain_controller.ex
  lib/pleroma/workers/check_domain_resolve_worker.ex
  lib/pleroma/workers/cron/check_domains_resolve_worker.ex
  lib/pleroma/workers/event_reminder_worker.ex
  lib/pleroma/workers/notification_worker.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Improve Remote Object Fetcher error handling, Oban
  changelog.d/remote-object-fetcher.fix
  lib/pleroma/object/fetcher.ex
  lib/pleroma/workers/remote_fetcher_worker.ex
  test/pleroma/object/fetcher_test.exs
  test/pleroma/workers/remote_fetcher_worker_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix test cases for validating instance reachability based on results of publishing attempts
  test/pleroma/web/activity_pub/publisher_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Address case where instance reachability status couldn't be updated
  changelog.d/publisher-reachability.fix
  lib/pleroma/web/activity_pub/publisher.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix translation param
  lib/pleroma/web/api_spec/operations/status_operation.ex
  lib/pleroma/web/mastodon_api/controllers/status_controller.ex
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Use Map.filter now that minimum Elixir version is 1.13
  lib/pleroma/maps.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Remove workaround for URI.merge bug on nil fields before Elixir 1.13
  lib/pleroma/web/mastodon_api/views/status_view.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Skip changelog
  changelog.d/todo-cleanup.skip
Due: none

Fix Oban jobs for imports
  changelog.d/user-imports.fix
  lib/pleroma/user/import.ex
  test/pleroma/user/import_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Change imports to generate an Oban job per each task
  changelog.d/user-imports.fix
  lib/pleroma/user/import.ex
  lib/pleroma/web/pleroma_api/controllers/user_import_controller.ex
  lib/pleroma/workers/background_worker.ex
  test/pleroma/user/import_test.exs
  test/pleroma/web/pleroma_api/controllers/user_import_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer
