Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, analysis, cycles, release

deps:
  stage: deps
  script:
  - mix deps.get
  - mix deps.compile
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull-push

openapi:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

test:
  stage: test
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --cover --preload-modules
  ...

test-erratic:
  stage: test
  allow_failure: true
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --only=erratic

lint:
  stage: test
  script:
  - mix format --check-formatted

analysis:
  stage: test
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  script:
  - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
  - mix deps.get
  - mkdir release
  - mix release --path release
  artifacts:
    name: rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME
    paths:
    - release/*
  cache: {}

Update changelogs
  changelog.d/blurhash.change
  changelog.d/vips.change
Due: none

Rust is required for blurhash
  Dockerfile
Due: none

Vix has pre-built NIFs for the following triples:
  Dockerfile
Due: none

Update docs to include dependencies on rust and vips where appropriate
  docs/installation/alpine_linux_en.md
  docs/installation/arch_linux_en.md
  docs/installation/debian_based_en.md
  docs/installation/debian_based_jp.md
  docs/installation/freebsd_en.md
Due: none

Update/fix test
  lib/pleroma/web/activity_pub/transmogrifier.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/fixtures/fep-e232.json
  test/pleroma/migration_helper/notification_backfill_test.exs
  test/pleroma/web/activity_pub/transmogrifier_test.exs
  test/pleroma/web/common_api_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
  test/pleroma/web/pleroma_api/controllers/notification_controller_test.exs
  test/pleroma/web/push/impl_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Update config.exs
  config/config.exs
Due: test, test-erratic, lint, analysis, cycles, release

Update o_auth_controller.ex
  lib/pleroma/web/o_auth/o_auth_controller.ex
Due: test, test-erratic, lint, analysis, cycles, release

Update o_auth_controller_test.exs
  test/pleroma/web/o_auth/o_auth_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Update user.ex
  lib/pleroma/user.ex
Due: test, test-erratic, lint, analysis, cycles, release

update, add images
  docs/administration/frontends-management.md
  docs/assets/admin_dash_location.png
  docs/assets/frontends_tab.png
  docs/assets/old_adminfe_link.png
  docs/assets/primary_frontend_section.png
  docs/assets/way_to_install_frontends.png
Due: none

changelog
  changelog.d/frontend-management.add
Due: none

Revert "Merge branch 'neetzsche/include-scrobble-url' into 'develop'"
  changelog.d/scrobble-url.add
  lib/pleroma/web/api_spec/operations/pleroma_scrobble_operation.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/pleroma_api/views/scrobble_view.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Add optional URL value for scrobbles
  changelog.d/scrobble-url.add
  lib/pleroma/web/api_spec/operations/pleroma_scrobble_operation.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/pleroma_api/views/scrobble_view.ex
  test/pleroma/web/pleroma_api/controllers/scrobble_controller_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

fix tests?
  lib/pleroma/web/activity_pub/transmogrifier.ex
  test/pleroma/integration/mastodon_websocket_test.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/common_api_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
  test/pleroma/workers/cron/digest_emails_worker_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Support /authorize-interaction route used by Mastodon
  changelog.d/authorize-interaction.add
  lib/pleroma/web/router.ex
  lib/pleroma/web/twitter_api/controllers/remote_follow_controller.ex
  test/pleroma/web/plugs/frontend_static_plug_test.exs
  test/pleroma/web/twitter_api/remote_follow_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Update docs
  docs/development/API/admin_api.md
  docs/development/API/differences_in_mastoapi_responses.md
  uploads/.gitignore
Due: none

Update docs
  docs/development/API/admin_api.md
  docs/development/API/differences_in_mastoapi_responses.md
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
  test/pleroma/web/web_finger_test.exs
  uploads/.gitignore
Due: test, test-erratic, lint, analysis, cycles, release

update tests
  test/pleroma/web/mastodon_api/views/account_view_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Update tests
  lib/pleroma/user.ex
  lib/pleroma/web/admin_api/controllers/user_controller.ex
  lib/pleroma/web/mastodon_api/controllers/timeline_controller.ex
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
  test/pleroma/web/mastodon_api/views/account_view_test.exs
  test/pleroma/web/web_finger_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

HTTPSecurityPlug: normalize sentryDsn
  lib/pleroma/web/plugs/http_security_plug.ex
Due: test, test-erratic, lint, analysis, cycles, release

HTTPSecurityPlug: allow blob URIs to script-src
  lib/pleroma/web/plugs/http_security_plug.ex
Due: test, test-erratic, lint, analysis, cycles, release

HTTPSecurityPlug: add tests for sentryDsn
  test/pleroma/web/plugs/http_security_plug_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Prevent a blurhash failure from breaking all metadata collection
  lib/pleroma/upload/filter/analyze_metadata.ex
Due: test, test-erratic, lint, analysis, cycles, release

Revert "HTTPSecurityPlug: allow blob URIs to script-src"
  lib/pleroma/web/plugs/http_security_plug.ex
Due: test, test-erratic, lint, analysis, cycles, release

ActivityPub.UtilsTest: Add failing test for strip_report_status_data
  test/pleroma/web/activity_pub/utils_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix #strip_report_status_data
  changelog.d/anonymous-exception-else.fix
  lib/pleroma/web/activity_pub/utils.ex
Due: test, test-erratic, lint, analysis, cycles, release

ActivityPub.Utils: Only treat object ids as valid while stripping
  lib/pleroma/web/activity_pub/utils.ex
  test/pleroma/web/activity_pub/utils_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Cache domains list
  lib/pleroma/application.ex
  lib/pleroma/domain.ex
  lib/pleroma/web/admin_api/controllers/domain_controller.ex
  lib/pleroma/web/api_spec/operations/admin/domain_operation.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  priv/repo/migrations/20230618190919_create_domains.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

AnalyzeMetadata: Switch to rinpatch_blurhash
  lib/pleroma/upload/filter/analyze_metadata.ex
  mix.exs
  mix.lock
  test/fixtures/png_with_transparency.png
  test/pleroma/upload/filter/analyze_metadata_test.exs
Due: deps, test, test-erratic, lint, analysis, cycles, release

AnayzeMetadata: Fix error case that would never match
  lib/pleroma/upload/filter/analyze_metadata.ex
Due: test, test-erratic, lint, analysis, cycles, release

Changelog: Adjust blurhash change
  changelog.d/blurhash.change
Due: none

Linting
  lib/pleroma/upload/filter/analyze_metadata.ex
Due: test, test-erratic, lint, analysis, cycles, release

Docs: Remove rust references
  changelog.d/blurhash.change
  docs/installation/alpine_linux_en.md
  docs/installation/arch_linux_en.md
  docs/installation/debian_based_en.md
  docs/installation/debian_based_jp.md
  docs/installation/freebsd_en.md
Due: none

Use service domains like Takahe
  config/config.exs
  lib/pleroma/domain.ex
  lib/pleroma/user.ex
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
  lib/pleroma/web/feed/user_controller.ex
  lib/pleroma/web/mastodon_api/controllers/timeline_controller.ex
  lib/pleroma/web/plugs/assign_nickname_with_domain_plug.ex
Due: test, test-erratic, lint, analysis, cycles, release

Path conditions:
  deps: any of: mix.lock
  openapi: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  test: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  test-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  lint: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  analysis: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  release: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
