Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

build-1.13.4:
  tags:
  - amd64
  stage: build
  script:
  - mix compile --force

build-1.15.7-otp-25:
  tags:
  - amd64
  stage: build
  image: git.pleroma.social:5050/pleroma/pleroma/ci-base:elixir-1.15-otp25
  allow_failure: true
  script:
  - mix compile --force

spec-build:
  tags:
  - amd64
  stage: build
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

unit-testing-1.12.3:
  tags:
  - amd64
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  script:
  ...

unit-testing-1.15.7-otp-25:
  tags:
  - amd64
  stage: test
  image: git.pleroma.social:5050/pleroma/pleroma/ci-base:elixir-1.15-otp25
  allow_failure: true
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
  ...

unit-testing-1.12-erratic:
  tags:
  - amd64
  stage: test
  retry: 2
  allow_failure: true
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
  ...

formatting-1.13:
  image: elixir:1.13-alpine
  stage: lint
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  before_script:
  - apk update
  - apk add build-base cmake file-dev git openssl
  - mix local.hex --force
  - mix local.rebar --force
  - mix deps.get
  script:
  ...

cycles-1.13:
  image: elixir:1.13-alpine
  stage: lint
  cache: {}
  before_script:
  - apk update
  - apk add build-base cmake file-dev git openssl
  - mix local.hex --force
  - mix local.rebar --force
  - mix deps.get
  script:
  - mix compile
  ...

analysis:
  tags:
  - amd64
  stage: lint
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

dialyzer:
  tags:
  - feld
  stage: lint
  allow_failure: true
  when: manual
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix dialyzer

Skip the final refresh job if the activity is local
  lib/pleroma/workers/poll_worker.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Test the final refresh behavior of a PollWorker poll_end job
  test/pleroma/workers/poll_worker_test.exs
  test/support/factory.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Refactor password changes to go through Pleroma.Web.Auth so they can be supported by the different auth backends
  lib/pleroma/web/auth/authenticator.ex
  lib/pleroma/web/auth/pleroma_authenticator.ex
  lib/pleroma/web/auth/wrapper_authenticator.ex
  lib/pleroma/web/twitter_api/controllers/util_controller.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Support password changes for LDAP auth backend
  lib/pleroma/ldap.ex
  lib/pleroma/web/auth/ldap_authenticator.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add example OpenLDAP ldif to enable users to change their own passwords
  installation/openldap/pw_self_service.ldif
Due: none

Add change_password/3 to LDAP module
  lib/pleroma/ldap.ex
  lib/pleroma/web/auth/ldap_authenticator.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Reorganize the LDAP module
  lib/pleroma/ldap.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

LDAP password changing changelog
  changelog.d/ldap-password-change.add
Due: none

Update README
  README.md
Due: none

Update readme
  README.md
Due: none

Add metadata provider for ActivityPub alternate links
  changelog.d/activity-pub-metadata.add
  lib/pleroma/web/metadata.ex
  lib/pleroma/web/metadata/providers/activity_pub.ex
  test/pleroma/web/metadata/providers/activity_pub_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Update source link
  mix.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Visual updates
  priv/static/instance/static.css
Due: none

Add VAPID public key to /api/v2/instance
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Allow to bite users
  .gitattributes
  lib/pleroma/notification.ex
  lib/pleroma/web/activity_pub/builder.ex
  lib/pleroma/web/activity_pub/object_validator.ex
  lib/pleroma/web/activity_pub/object_validators/accept_reject_validator.ex
  lib/pleroma/web/activity_pub/object_validators/bite_validator.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/api_spec.ex
  lib/pleroma/web/api_spec/operations/bite_operation.ex
  lib/pleroma/web/api_spec/operations/notification_operation.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/mastodon_api/controllers/bite_controller.ex
  lib/pleroma/web/mastodon_api/controllers/notification_controller.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/mastodon_api/views/notification_view.ex
  lib/pleroma/web/nodeinfo/nodeinfo.ex
  lib/pleroma/web/router.ex
  priv/repo/migrations/20240827000000_add_bite_to_notifications_enum.exs
  priv/static/schemas/litepub-0.1.jsonld
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

wip test
  config/config.exs
  lib/pleroma/web/mastodon_api/controllers/bite_controller.ex
  test/pleroma/web/mastodon_api/controllers/bite_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add Bite to allowed activity types
  lib/pleroma/constants.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix rejecting duplicated bites
  lib/pleroma/web/activity_pub/utils.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Accept bites for objects
  lib/pleroma/web/activity_pub/object_validators/bite_validator.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/mastodon_api/controllers/bite_controller.ex
  test/pleroma/web/mastodon_api/controllers/bite_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add test for BiteValidator
  lib/pleroma/web/activity_pub/transmogrifier.ex
  test/pleroma/web/activity_pub/object_validators/bite_validator_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix the old poll votes count bug
  lib/pleroma/object/updater.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Some tidying and grammer improvements for these installation docs, based on my experience installing Pleroma on Ubuntu 24.04 a few minutes ago.
  changelog.d/debian-install-improve.skip
  docs/installation/debian_based_en.md
Due: none

Permit leave activity
  lib/pleroma/constants.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

temporary fix for wordpress events
  lib/pleroma/web/activity_pub/object_validators/event_validator.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Disable busywaits in releases
  changelog.d/release-tuning.change
  rel/vm.args.eex
Due: none

Changelog
  changelog.d/freebsd-docs.skip
Due: none

Changelog
  changelog.d/docs-vips.skip
Due: none

OpenBSD needs libvips
  docs/installation/openbsd_en.md
  docs/installation/openbsd_fi.md
Due: none

rebrand
  README.md
Due: none

Fix /api/v2/media returning the wrong status code for media processed synchronously
  changelog.d/mediav2_status.fix
  lib/pleroma/web/api_spec/operations/media_operation.ex
  lib/pleroma/web/mastodon_api/controllers/media_controller.ex
  test/pleroma/web/mastodon_api/controllers/media_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Pleroma.Upload.Filter.Dedupe: sharding directory structure
  changelog.d/dedupe-sharding.change
  lib/pleroma/upload/filter/dedupe.ex
  test/pleroma/object_test.exs
  test/pleroma/upload/filter/dedupe_test.exs
  test/pleroma/upload_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Mix: Update version
  mix.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Be serious about supported api versions
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

B DedupeTest: Add explicit test for the sharding structure
  test/pleroma/upload/filter/dedupe_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Translated using Weblate (French)
  priv/gettext/fr/LC_MESSAGES/config_descriptions.po
Due: none

B Providers/ActivityPub: Ensure that nothing explodes on unexpected input.
  lib/pleroma/web/metadata/providers/activity_pub.ex
  test/pleroma/web/metadata/providers/activity_pub_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

B TwitterAPI/ControllerTest: Actually test the keys
  test/pleroma/web/twitter_api/controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

mix.lock: bump fast_html to 2.3.0
  changelog.d/bump-lexbor.change
  mix.lock
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Meilisearch: use PUT method for indexing Mix task
  lib/mix/tasks/pleroma/search/meilisearch.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Meilisearch: stop attempting to index posts with nil date
  lib/pleroma/search/meilisearch.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Path conditions:
  build-1.13.4: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  build-1.15.7-otp-25: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  spec-build: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing-1.12.3: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  unit-testing-1.15.7-otp-25: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  unit-testing-1.12-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  formatting-1.13: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles-1.13: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  analysis: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  dialyzer: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
