Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, analysis, cycles, release

deps:
  stage: deps
  script:
  - mix deps.get
  - mix deps.compile
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull-push

openapi:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

test:
  stage: test
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --cover --preload-modules
  ...

test-erratic:
  stage: test
  allow_failure: true
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --only=erratic

lint:
  stage: test
  script:
  - mix format --check-formatted

analysis:
  stage: test
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  script:
  - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
  - mix deps.get
  - mkdir release
  - mix release --path release
  artifacts:
    name: rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME
    paths:
    - release/*
  cache: {}

CI: Let curl return non-0 on http failure code
  .gitlab-ci.yml
Due: openapi, test, test-erratic, lint, analysis, cycles, release

CI: Use CI_JOB_TOKEN for cross-repo pipeline triggers
  .gitlab-ci.yml
  changelog.d/pipeline-triggers.skip
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Deprecate audio scrobbling
  changelog.d/deprecate-scrobbles.remove
  docs/development/API/pleroma_api.md
  lib/pleroma/web/api_spec/operations/pleroma_scrobble_operation.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

docs: Fix broken links
  changelog.d/gentoo_otp_hotfix.skip
  docs/installation/gentoo_en.md
  docs/installation/gentoo_otp_en.md
Due: none

Add emoji policy to remove emojis matching certain urls
  config/config.exs
  lib/pleroma/web/activity_pub/emoji_policy.ex
  test/pleroma/web/activity_pub/mrf/emoji_policy_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Update config cheatsheet
  docs/configuration/cheatsheet.md
Due: none

Improve config examples for EmojiPolicy
  lib/pleroma/web/activity_pub/mrf/emoji_policy.ex
Due: test, test-erratic, lint, analysis, cycles, release

EmojiPolicy: Implement delist
  lib/pleroma/web/activity_pub/emoji_policy.ex
  test/pleroma/web/activity_pub/mrf/emoji_policy_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

EmojiPolicy: implement remove by shortcode
  lib/pleroma/web/activity_pub/emoji_policy.ex
  test/pleroma/web/activity_pub/mrf/emoji_policy_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Make EmojiPolicy aware of custom emoji reactions
  docs/configuration/cheatsheet.md
  lib/pleroma/web/activity_pub/mrf/emoji_policy.ex
  test/pleroma/web/activity_pub/mrf/emoji_policy_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Move emoji_policy.ex to the right place
  lib/pleroma/web/activity_pub/mrf/emoji_policy.ex
Due: test, test-erratic, lint, analysis, cycles, release

Add changelog
  changelog.d/emoji-policy.add
Due: none

Fix edge cases
  lib/pleroma/constants.ex
  lib/pleroma/web/activity_pub/mrf/emoji_policy.ex
  test/pleroma/web/activity_pub/mrf/emoji_policy_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Test that unicode emoji reactions are not affected
  test/pleroma/web/activity_pub/mrf/emoji_policy_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Make regex-to-string descriptor reusable
  lib/pleroma/web/activity_pub/mrf/emoji_policy.ex
  lib/pleroma/web/activity_pub/mrf/keyword_policy.ex
  lib/pleroma/web/activity_pub/mrf/utils.ex
  test/pleroma/web/activity_pub/mrf/utils_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Familiar followers query
  lib/pleroma/user.ex
Due: test, test-erratic, lint, analysis, cycles, release

Lint
  lib/pleroma/user.ex
Due: test, test-erratic, lint, analysis, cycles, release

Fix tests
  lib/pleroma/user.ex
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Display last_status_at in masto date format
  lib/pleroma/web/mastodon_api/views/account_view.ex
Due: test, test-erratic, lint, analysis, cycles, release

Use nil for empty last_status_at value
  lib/pleroma/web/common_api/utils.ex
  lib/pleroma/web/mastodon_api/views/account_view.ex
Due: test, test-erratic, lint, analysis, cycles, release

Extract translatable strings
  changelog.d/3907.skip
  priv/gettext/config_descriptions.pot
  priv/gettext/errors.pot
  priv/gettext/oauth_scopes.pot
Due: none

Restrict attachments to only uploaded files only
  changelog.d/attachment-type-check.fix
  lib/pleroma/constants.ex
  lib/pleroma/web/common_api/utils.ex
  test/pleroma/web/common_api/utils_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Improve authorization page permissions styles
  lib/pleroma/web/templates/o_auth/o_auth/_scopes.html.eex
  priv/static/instance/static.css
Due: none

Show instance language in /api/v2/instance
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: test, test-erratic, lint, analysis, cycles, release

Remove test?
  test/pleroma/web/plugs/uploaded_media_plug_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

status context: perform visibility check on activities around a status
  lib/pleroma/web/activity_pub/activity_pub.ex
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

cleaner ecto query to handle restrict_unauthenticated for activities
  lib/pleroma/web/activity_pub/activity_pub.ex
Due: test, test-erratic, lint, analysis, cycles, release

add changelog entry
  changelog.d/3801.fix
Due: none

Resolve information disclosure vulnerability through emoji pack archive download endpoint
  changelog.d/emoji-pack-sanitization.security
  lib/pleroma/emoji/pack.ex
  test/pleroma/emoji/pack_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

changelog: Entry for config permissions restrictions
  changelog.d/otp_perms.security
Due: none

Config: Restrict permissions of OTP config file
  lib/pleroma/config/release_runtime_provider.ex
Due: test, test-erratic, lint, analysis, cycles, release

Release 2.5.3
  CHANGELOG.md
  mix.exs
Due: test, test-erratic, lint, analysis, cycles, release

test: Fix warnings
  test/pleroma/web/activity_pub/transmogrifier/emoji_react_handling_test.exs
  test/pleroma/web/mastodon_api/update_credentials_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

release_runtime_provider_test: chmod config for hardened permissions
  test/pleroma/config/release_runtime_provider_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

instance gen: Reduce permissions of pleroma directories and config files
  lib/mix/tasks/pleroma/instance.ex
Due: test, test-erratic, lint, analysis, cycles, release

Force the use of amd64 runners for jobs using ci-base
  .gitlab-ci.yml
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Release 2.5.53
  CHANGELOG.md
  mix.exs
Due: test, test-erratic, lint, analysis, cycles, release

Path conditions:
  deps: any of: mix.lock
  openapi: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  test: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  test-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  lint: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  analysis: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  release: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
