Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

build:
  stage: build
  script:
  - mix compile --force

spec-build:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

unit-testing:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  script:
  ...

unit-testing-rum:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: minibikini/postgres-with-rum:12
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  variables:
  ...

lint:
  image: elixir:1.12
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix format --check-formatted

analysis:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  image: elixir:1.11
  cache: {}
  script:
  - mix deps.get
  - mix compile
  - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

Remove superfluous invocation of Logger
  lib/pleroma/web/activity_pub/mrf/block_notification_policy.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add "status" notification type
  lib/pleroma/notification.ex
  lib/pleroma/web/api_spec/operations/notification_operation.ex
  lib/pleroma/web/mastodon_api/controllers/notification_controller.ex
  lib/pleroma/web/mastodon_api/views/notification_view.ex
  lib/pleroma/web/push/impl.ex
  priv/repo/migrations/20220319000000_add_status_to_notifications_enum.exs
  test/pleroma/notification_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix semver parsing, add "+soapbox" to instance version
  mix.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix MIX_ENV=prod mix compile
  mix.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

restyle static pages
  lib/pleroma/web/templates/twitter_api/password/reset.html.eex
  priv/static/instance/static.css
Due: none

Represent rule IDs as strings
  lib/pleroma/ecto_type/string_id.ex
  lib/pleroma/rule.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

update sweet_xml [Security]
  mix.exs
  mix.lock
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Allow to skip cache in Cache plug
  lib/pleroma/web/plugs/cache.ex
  test/pleroma/web/plugs/cache_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Skip cache when /objects or /activities is authenticated
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
  lib/pleroma/web/plugs/cache.ex
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Release 2.4.3
  CHANGELOG.md
  mix.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

mix: Bump to 2.4.52 for 2.4.3 mergeback
  CHANGELOG.md
  mix.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Allow subscribing to threads
  lib/pleroma/activity.ex
  lib/pleroma/notification.ex
  lib/pleroma/thread_subscription.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/api_spec/operations/notification_operation.ex
  lib/pleroma/web/api_spec/operations/pleroma_status_operation.ex
  lib/pleroma/web/api_spec/operations/status_operation.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/common_api/utils.ex
  lib/pleroma/web/mastodon_api/controllers/notification_controller.ex
  lib/pleroma/web/mastodon_api/controllers/status_controller.ex
  lib/pleroma/web/mastodon_api/views/notification_view.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  lib/pleroma/web/pleroma_api/controllers/status_controller.ex
  lib/pleroma/web/push/impl.ex
  lib/pleroma/web/router.ex
  priv/repo/migrations/20220502134458_create_thread_subscriptions.exs
  priv/repo/migrations/20220502183811_add_thread_subscription_to_notifications_enum copy.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Show local-only statuses in public timeline for authenticated users
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/mastodon_api/controllers/timeline_controller.ex
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/timeline_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Test that anonymous users cannot see local-only posts
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Lint
  lib/pleroma/activity/search.ex
  test/pleroma/web/mastodon_api/controllers/search_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make local-only statuses searchable
  lib/pleroma/activity/search.ex
  test/pleroma/activity/search_test.exs
  test/pleroma/web/mastodon_api/controllers/search_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Prevent remote access of local-only posts via /objects
  lib/pleroma/web/activity_pub/visibility.ex
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add index hotspots
  priv/repo/migrations/20220506175506_add_index_hotspots.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Allow users to create backups without providing email address
  lib/pleroma/user/backup.ex
  lib/pleroma/workers/backup_worker.ex
  test/pleroma/user/backup_test.exs
  test/pleroma/web/pleroma_api/controllers/backup_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

trying to implement Follow->Note
  lib/pleroma/constants.ex
  lib/pleroma/web/activity_pub/builder.ex
  lib/pleroma/web/activity_pub/object_validators/common_fields.ex
  lib/pleroma/web/activity_pub/object_validators/follow_validator.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/api_spec/operations/status_operation.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/mastodon_api/controllers/status_controller.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Also use actor_type to determine if an account is a bot in antiFollowbotPolicy
  CHANGELOG.md
  docs/configuration/cheatsheet.md
  lib/pleroma/web/activity_pub/mrf/anti_followbot_policy.ex
  test/pleroma/web/activity_pub/mrf/anti_followbot_policy_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add some tests
  lib/pleroma/thread_subscription.ex
  priv/repo/migrations/20220502134458_create_thread_subscriptions.exs
  test/pleroma/notification_test.exs
  test/pleroma/user_test.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
  test/pleroma/web/pleroma_api/controllers/status_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

fix warning
  lib/pleroma/activity.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  priv/repo/migrations/20220502134458_create_thread_subscriptions.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Allow authenticated users to access local-only posts in MastoAPI
  lib/pleroma/web/activity_pub/activity_pub.ex
  priv/repo/migrations/20220509180452_change_thread_visibility_to_be_local_only_aware.exs
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Test local-only in ap c2s outbox
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make lint happy
  lib/pleroma/web/activity_pub/activity_pub.ex
  priv/repo/migrations/20220509180452_change_thread_visibility_to_be_local_only_aware.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Federate status to subscribed users
  lib/pleroma/web/activity_pub/builder.ex
  lib/pleroma/web/activity_pub/publisher.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/mastodon_api/controllers/status_controller.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add tests for federation
  test/fixtures/friendica-object-follow-activity.json
  test/fixtures/friendica-object-unfollow-activity.json
  test/fixtures/tesla_mock/friendica-user-nofriend.json
  test/pleroma/web/activity_pub/transmogrifier/follow_handling_test.exs
  test/pleroma/web/activity_pub/transmogrifier/undo_handling_test.exs
  test/support/http_request_mock.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Instruct users to run 'git pull' as the pleroma user
  docs/administration/updating.md
Due: none

i'm bad at copy-paste
  lib/pleroma/web/api_spec/operations/mastodon_admin/report_operation.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

MastodonAPI.Admin.AccountView: show registration reason
  lib/pleroma/web/mastodon_api/admin/views/account_view.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Instance rules
  lib/pleroma/rule.ex
  lib/pleroma/web/admin_api/controllers/rule_controller.ex
  lib/pleroma/web/admin_api/views/rule_view.ex
  lib/pleroma/web/api_spec/operations/admin/rule_operation.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/router.ex
  priv/repo/migrations/20220203224011_create_rules.exs
  test/pleroma/web/admin_api/controllers/rule_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/instance_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add GET /api/v1/instance/rules
  lib/pleroma/web/api_spec/operations/admin/rule_operation.ex
  lib/pleroma/web/api_spec/operations/instance_operation.ex
  lib/pleroma/web/mastodon_api/controllers/instance_controller.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/router.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Instance rules: Use render_many
  lib/pleroma/web/admin_api/controllers/rule_controller.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add RuleTest
  test/pleroma/rule_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Allow submitting an array of rule_ids to /api/v1/reports
  lib/pleroma/constants.ex
  lib/pleroma/rule.ex
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/admin_api/views/report_view.ex
  lib/pleroma/web/api_spec/operations/admin/report_operation.ex
  lib/pleroma/web/api_spec/operations/report_operation.ex
  lib/pleroma/web/common_api.ex
  test/pleroma/web/admin_api/views/report_view_test.exs
  test/pleroma/web/mastodon_api/controllers/report_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add tests
  test/pleroma/rule_test.exs
  test/pleroma/web/common_api_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Path conditions:
  build: any of: **/*.ex, **/*.exs, mix.lock
  spec-build: any of: lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing: any of: **/*.ex, **/*.exs, mix.lock
  unit-testing-rum: any of: **/*.ex, **/*.exs, mix.lock
  lint: any of: **/*.ex, **/*.exs, mix.lock
  analysis: any of: **/*.ex, **/*.exs, mix.lock
  cycles: any of: **/*.ex, **/*.exs, mix.lock
