Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

build:
  stage: build
  script:
  - mix compile --force

spec-build:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

unit-testing:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  script:
  ...

unit-testing-rum:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: minibikini/postgres-with-rum:12
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  variables:
  ...

lint:
  image: elixir:1.12
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix format --check-formatted

analysis:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  image: elixir:1.11
  cache: {}
  script:
  - mix deps.get
  - mix compile
  - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

added tests for ipfs uploader. adapted changelog.md accordingly. improved ipfs uploader with external suggestions
  CHANGELOG.md
  config/description.exs
  config/dev.exs
  docs/configuration/cheatsheet.md
  lib/pleroma/upload.ex
  lib/pleroma/uploaders/ipfs.ex
  test/pleroma/uploaders/ipfs_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

ipfs: revert to String.replace for cid placeholder
  config/description.exs
  docs/configuration/cheatsheet.md
  lib/pleroma/upload.ex
  lib/pleroma/uploaders/ipfs.ex
  test/pleroma/uploaders/ipfs_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

ipfs: refactor final_url generation. add tests for final_url
  lib/pleroma/uploaders/ipfs.ex
  test/pleroma/uploaders/ipfs_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

ipfs: remove unused alias
  lib/pleroma/uploaders/ipfs.ex
  test/pleroma/uploaders/ipfs_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

ipfs: small refactor and more tests
  lib/pleroma/uploaders/ipfs.ex
  test/pleroma/uploaders/ipfs_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

ipfs: better tests with @ilja suggestions
  test/pleroma/uploaders/ipfs_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Guard against outdated Updates
  lib/pleroma/object/updater.ex
  test/pleroma/web/activity_pub/side_effects_test.exs
  test/pleroma/web/common_api_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Test that Question updates are viable
  test/pleroma/web/activity_pub/side_effects_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

ipfs: replacing single quotes with double quotes
  test/pleroma/uploaders/ipfs_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add test for rendering mute expiration date
  test/pleroma/web/mastodon_api/views/account_view_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add test
  test/pleroma/notification_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix rate_limiter_test.exs test "it restricts based on config values"
  test/pleroma/web/plugs/rate_limiter_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix remote emoji in subject disappearing after edits
  lib/pleroma/web/common_api.ex
  test/pleroma/web/common_api_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Pass remote follow avatar into media proxy
  lib/pleroma/web/twitter_api/views/remote_follow_view.ex
  test/pleroma/web/twitter_api/remote_follow_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Use is_binary instead of is_bitstring for restricted nicknames tests
  test/pleroma/user_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make lint happy
  lib/pleroma/user.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

CI: Run postgres services in alpine
  .gitlab-ci.yml
Due: none

CI: Run lint and cycles in alpine
  .gitlab-ci.yml
Due: none

CI: Run stages when .gitlab-ci.yml changes
  .gitlab-ci.yml
Due: none

CI: template for change policies based on build stage
  .gitlab-ci.yml
Due: none

CI: cycles: Use current stable elixir image
  .gitlab-ci.yml
Due: none

Make mutes and blocks behave the same as other lists
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add tests for short_description
  test/pleroma/web/mastodon_api/controllers/instance_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

DOCS: Add some small piece about setting up a Gitlab-runner
  docs/development/setting_up_a_gitlab_runner.md
Due: none

Check refute User.following?
  test/pleroma/user_test.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Extract config descriptions for translation
  lib/pleroma/docs/translator.ex
  lib/pleroma/docs/translator/compiler.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add tests for translator compiler
  test/pleroma/docs/translator/compiler_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make admin api use translated config descriptions
  lib/pleroma/web/admin_api/controllers/config_controller.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix compile error
  lib/pleroma/docs/translator.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Extract translatable strings
  priv/gettext/config_descriptions.pot
  priv/gettext/default.pot
  priv/gettext/errors.pot
  priv/gettext/static_pages.pot
Due: none

Add privilege for announcements
  config/config.exs
  config/description.exs
  lib/pleroma/web/router.ex
  test/pleroma/web/admin_api/controllers/announcement_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Allow higher amount of restarts for Pleroma.Repo during testing
  lib/pleroma/application.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Pass in msgctxt for config translation strings
  lib/pleroma/docs/translator/compiler.ex
  lib/pleroma/web/admin_api/controllers/config_controller.ex
  priv/gettext/config_descriptions.pot
  test/pleroma/docs/translator/compiler_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Implement settings api
  lib/pleroma/web/api_spec/operations/pleroma_settings_operation.ex
  lib/pleroma/web/pleroma_api/controllers/settings_controller.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/pleroma_api/controllers/settings_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add api docs for settings endpoint
  docs/development/API/pleroma_api.md
Due: none

Use :utc_datetime
  lib/pleroma/user.ex
  lib/pleroma/user_relationship.ex
  priv/repo/migrations/20220616163503_add_expires_at_to_user_relationships.exs
  test/pleroma/web/mastodon_api/views/account_view_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Document way to do notice compatibility routes with Nginx reverse-proxy instead
  installation/pleroma.nginx
  lib/pleroma/web/router.ex
  lib/pleroma/web/static_fe/static_fe_controller.ex
  test/pleroma/web/o_status/o_status_controller_test.exs
  test/pleroma/web/plugs/frontend_static_plug_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Allow to unset birthday
  lib/pleroma/web/api_spec/operations/account_operation.ex
  test/pleroma/web/mastodon_api/update_credentials_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Don't accept forward slash character for nicknames
  installation/pleroma.nginx
Due: none

Apply ilja's suggestion(s) to 1 file(s)
  docs/configuration/cheatsheet.md
Due: none

Path conditions:
  build: any of: **/*.ex, **/*.exs, mix.lock
  spec-build: any of: lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing: any of: **/*.ex, **/*.exs, mix.lock
  unit-testing-rum: any of: **/*.ex, **/*.exs, mix.lock
  lint: any of: **/*.ex, **/*.exs, mix.lock
  analysis: any of: **/*.ex, **/*.exs, mix.lock
  cycles: any of: **/*.ex, **/*.exs, mix.lock
