Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Path conditions:
  build: any of: **/*.ex, **/*.exs, mix.lock
  spec-build: any of: lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing: any of: **/*.ex, **/*.exs, mix.lock
  unit-testing-rum: any of: **/*.ex, **/*.exs, mix.lock
  lint: any of: **/*.ex, **/*.exs, mix.lock
  analysis: any of: **/*.ex, **/*.exs, mix.lock
  cycles: any of: **/*.ex, **/*.exs, mix.lock

Added translation using Weblate (French)
  priv/gettext/fr/LC_MESSAGES/static_pages.po
Due: none

Translated using Weblate (Chinese (Simplified))
  priv/gettext/zh_Hans/LC_MESSAGES/default.po
Due: none

Added translation using Weblate (French)
  priv/gettext/fr/LC_MESSAGES/config_descriptions.po
Due: none

Translated using Weblate (French)
  priv/gettext/fr/LC_MESSAGES/default.po
Due: none

Translated using Weblate (Chinese (Simplified))
  priv/gettext/zh_Hans/LC_MESSAGES/config_descriptions.po
Due: none

Added translation using Weblate (Chinese (Simplified))
  priv/gettext/zh_Hans/LC_MESSAGES/config_descriptions.po
Due: none

Revert "Merge branch 'fix/emoji-react-qualification' into 'develop'"
  lib/pleroma/web/activity_pub/object_validators/emoji_react_validator.ex
  test/fixtures/emoji-reaction-unqualified.json
  test/pleroma/web/activity_pub/transmogrifier/emoji_react_handling_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make MRF Keyword history-aware
  lib/pleroma/object/updater.ex
  lib/pleroma/web/activity_pub/mrf/keyword_policy.ex
  test/pleroma/web/activity_pub/mrf/keyword_policy_test.exs
  test/pleroma/web/common_api_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make EnsureRePrepended history-aware
  lib/pleroma/object/updater.ex
  lib/pleroma/web/activity_pub/mrf.ex
  lib/pleroma/web/activity_pub/mrf/ensure_re_prepended.ex
  lib/pleroma/web/activity_pub/mrf/policy.ex
  test/pleroma/web/activity_pub/mrf/ensure_re_prepended_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make ForceMentionsInContent history-aware
  lib/pleroma/web/activity_pub/mrf/force_mentions_in_content.ex
  test/pleroma/web/activity_pub/mrf/force_mentions_in_content_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make MediaProxyWarmingPolicy history-aware
  lib/pleroma/web/activity_pub/mrf/media_proxy_warming_policy.ex
  test/pleroma/web/activity_pub/mrf/media_proxy_warming_policy_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make NoPlaceholderTextPolicy history-aware
  lib/pleroma/web/activity_pub/mrf/no_placeholder_text_policy.ex
  test/pleroma/web/activity_pub/mrf/no_placeholder_text_policy_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make NormalizeMarkup history-aware
  lib/pleroma/web/activity_pub/mrf/normalize_markup.ex
  test/pleroma/web/activity_pub/mrf/normalize_markup_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make NoEmptyPolicy work with Update
  lib/pleroma/web/activity_pub/mrf/no_empty_policy.ex
  test/pleroma/web/activity_pub/mrf/no_empty_policy_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make HashtagPolicy history-aware
  lib/pleroma/web/activity_pub/mrf/hashtag_policy.ex
  test/pleroma/web/activity_pub/mrf/hashtag_policy_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make AntiLinkSpamPolicy history-aware
  lib/pleroma/web/activity_pub/mrf/anti_link_spam_policy.ex
  test/pleroma/web/activity_pub/mrf/anti_link_spam_policy_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

EmojiReactValidator: fix emoji qualification
  lib/pleroma/web/activity_pub/object_validators/emoji_react_validator.ex
  test/fixtures/emoji-reaction-unqualified.json
  test/pleroma/web/activity_pub/transmogrifier/emoji_react_handling_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Emoji: implement full-qualifier using combinations
  lib/pleroma/emoji.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

EmojiReactValidator: use new qualification method
  lib/pleroma/web/activity_pub/object_validators/emoji_react_validator.ex
  test/fixtures/emoji-reaction-unqualified.json
  test/pleroma/web/activity_pub/transmogrifier/emoji_react_handling_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add authorized_fetch_mode to description.exs
  config/description.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Emoji: split qualification variation into a module
  lib/pleroma/emoji.ex
  lib/pleroma/emoji/combinations.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Revert "Document way to do notice compatibility routes with Nginx reverse-proxy instead"
  installation/pleroma.nginx
  lib/pleroma/web/router.ex
  lib/pleroma/web/static_fe/static_fe_controller.ex
  test/pleroma/web/o_status/o_status_controller_test.exs
  test/pleroma/web/plugs/frontend_static_plug_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Extract translatable strings
  priv/gettext/config_descriptions.pot
Due: none

Emoji: apply recommended tail call changes
  lib/pleroma/emoji/combinations.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix the Dockerfile
  Dockerfile
  docker-entrypoint.sh
Due: none

Docker: update maintainer data
  Dockerfile
Due: none

wip events
  lib/pleroma/constants.ex
  lib/pleroma/web/activity_pub/builder.ex
  lib/pleroma/web/activity_pub/object_validator.ex
  lib/pleroma/web/activity_pub/object_validators/accept_reject_validator.ex
  lib/pleroma/web/activity_pub/object_validators/common_fields.ex
  lib/pleroma/web/activity_pub/object_validators/event_validator.ex
  lib/pleroma/web/activity_pub/object_validators/join_validator.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/api_spec/operations/pleroma_event_operation.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  lib/pleroma/web/pleroma_api/controllers/event_controller.ex
  lib/pleroma/web/pleroma_api/views/event_view.ex
  lib/pleroma/web/router.ex
  priv/static/schemas/litepub-0.1.jsonld
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Allow subscribing to threads
  lib/pleroma/constants.ex
  lib/pleroma/thread_subscription.ex
  lib/pleroma/web/activity_pub/object_validators/common_fields.ex
  lib/pleroma/web/activity_pub/publisher.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/common_api/utils.ex
  test/pleroma/web/activity_pub/transmogrifier/follow_handling_test.exs
  test/pleroma/web/activity_pub/transmogrifier/undo_handling_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

fix?
  lib/pleroma/thread_subscription.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  test/pleroma/web/activity_pub/transmogrifier/undo_handling_test.exs
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
  test/pleroma/web/pleroma_api/controllers/status_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

fix test
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Use `duration` param for mute expiration duration
  lib/pleroma/user.ex
  lib/pleroma/web/api_spec/operations/account_operation.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  test/pleroma/user_test.exs
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
  test/pleroma/web/mastodon_api/views/account_view_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Change test case wording
  test/pleroma/web/twitter_api/util_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Stream marker updates
  lib/pleroma/notification.ex
  lib/pleroma/web/streamer.ex
  lib/pleroma/web/views/streamer_view.ex
  test/pleroma/notification_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Use actor_types() to determine whether the Update is for user
  lib/pleroma/web/activity_pub/side_effects.ex
  test/pleroma/web/activity_pub/side_effects_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

bugfix/follow-state (#104)
  lib/mix/tasks/pleroma/user.ex
  lib/pleroma/user.ex
  test/pleroma/web/common_api_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Remove .buildpacks
  .buildpacks
Due: none
