Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Path conditions:
  build: any of: **/*.ex, **/*.exs, mix.lock
  spec-build: any of: lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing: any of: **/*.ex, **/*.exs, mix.lock
  unit-testing-rum: any of: **/*.ex, **/*.exs, mix.lock
  lint: any of: **/*.ex, **/*.exs, mix.lock
  analysis: any of: **/*.ex, **/*.exs, mix.lock
  cycles: any of: **/*.ex, **/*.exs, mix.lock

Docker config: pleroma --> postgres, default config
  config/docker.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Copy .gitignore into .dockerignore
  .dockerignore
Due: none

docker.exs: don't call fetch_env! for DB_PASS
  config/docker.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix landing page image
  priv/static/images/soapbox-logo-wide.svg
  priv/static/index.html
Due: none

soapbox.exs: delete landing-fe
  config/soapbox.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

GitLab CI: allow_failure for review_app
  .gitlab-ci.yml
Due: none

Restore panel.html and terms-of-service.html so tests pass
  priv/static/instance/panel.html
  priv/static/static/terms-of-service.html
Due: none

Tag erratic test
  test/pleroma/web/pleroma_api/controllers/two_factor_authentication_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Don't auto-retry erratic tests, wasting CI minutes
  .gitlab-ci.yml
Due: none

Revert "Merge branch 'from/upstream-develop/tusooa/sync-settings' into 'develop'"
  docs/development/API/pleroma_api.md
  lib/pleroma/web/api_spec/operations/pleroma_settings_operation.ex
  lib/pleroma/web/pleroma_api/controllers/settings_controller.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/pleroma_api/controllers/settings_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

GitLab CI: allow_failure in review_app
  .gitlab-ci.yml
Due: none

index.html: add server-generated-meta so tests pass
  priv/static/index.html
Due: none

Add absinthe
  mix.exs
  mix.lock
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add absinthe_plug
  mix.exs
  mix.lock
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

graphql "hello world"
  lib/pleroma/web/graphql/schema.ex
  lib/pleroma/web/router.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Use our Soapbox CI base image with elixir:13
  .gitlab-ci.yml
  ci/Dockerfile
Due: none

Revert "Revert "Merge branch 'from/upstream-develop/tusooa/sync-settings' into 'develop'""
  docs/development/API/pleroma_api.md
  lib/pleroma/web/api_spec/operations/pleroma_settings_operation.ex
  lib/pleroma/web/pleroma_api/controllers/settings_controller.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/pleroma_api/controllers/settings_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

mix format
  lib/pleroma/web/graphql/schema.ex
  lib/pleroma/web/router.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Upgrade credo?
  mix.exs
  mix.lock
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Set better default scope for keycloak
  config/config.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

CommonFixes: more predictable context generation
  lib/pleroma/web/activity_pub/object_validators/common_fixes.ex
  test/fixtures/tesla_mock/mk.absturztau.be-93e7nm8wqg-activity.json
  test/pleroma/web/activity_pub/transmogrifier/note_handling_test.exs
  test/support/http_request_mock.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Migrations: delete contexts with BaseMigrator
  config/config.exs
  config/description.exs
  lib/pleroma/application.ex
  lib/pleroma/data_migration.ex
  lib/pleroma/migrators/context_objects_deletion_migrator.ex
  priv/repo/migrations/20220807125023_data_migration_delete_context_objects.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Soapbox: enable instance favicons
  config/soapbox.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Disable instance favicons in tests
  config/test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add tests
  test/pleroma/web/activity_pub/transmogrifier/question_handling_test.exs
  test/pleroma/web/mastodon_api/views/poll_view_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

fix resolution of GTS user keys
  lib/pleroma/signature.ex
  test/pleroma/signature_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Soapbox BE --> Rebased
  Dockerfile
  README.md
  app.json
  mix.exs
  priv/static/images/rebased-wide.svg
  priv/static/images/soapbox-logo-wide.svg
  priv/static/index.html
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

README: update rebased logo
  README.md
Due: none

Revert "Merge branch 'polls' into 'develop'"
  lib/pleroma/constants.ex
  lib/pleroma/web/activity_pub/object_validators/question_validator.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
  lib/pleroma/web/mastodon_api/views/poll_view.ex
  priv/static/schemas/litepub-0.1.jsonld
  test/pleroma/web/activity_pub/transmogrifier/question_handling_test.exs
  test/pleroma/web/mastodon_api/views/poll_view_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

HttpSignaturePlug: accept standard (request-target)
  lib/pleroma/web/plugs/http_signature_plug.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Revert "Merge branch 'revert-f6e02270' into 'develop'"
  lib/pleroma/constants.ex
  lib/pleroma/web/activity_pub/object_validators/question_validator.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
  lib/pleroma/web/mastodon_api/views/poll_view.ex
  priv/static/schemas/litepub-0.1.jsonld
  test/pleroma/web/activity_pub/transmogrifier/question_handling_test.exs
  test/pleroma/web/mastodon_api/views/poll_view_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix voters_count in polls from remote Pleroma instances
  lib/pleroma/constants.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
  test/pleroma/web/mastodon_api/views/poll_view_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

ArticleNotePageValidator: fix replies fixing
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Include join state in StatusView
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Notification for participation request/accepted participation
  lib/pleroma/notification.ex
  lib/pleroma/web/activity_pub/pipeline.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/api_spec/operations/notification_operation.ex
  lib/pleroma/web/federator.ex
  lib/pleroma/web/mastodon_api/controllers/notification_controller.ex
  lib/pleroma/web/mastodon_api/views/notification_view.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  priv/repo/migrations/20220819171321_add_pleroma_participation_accepted_to_notifications_enum.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

emoji-test: update to latest 15.0 draft
  lib/pleroma/emoji-test.txt
Due: none

Disconnect streaming sessions when token is revoked
  lib/pleroma/web/mastodon_api/websocket_handler.ex
  lib/pleroma/web/o_auth/token/strategy/revoke.ex
  lib/pleroma/web/streamer.ex
  test/pleroma/web/streamer_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Use Websockex to replace websocket_client
  mix.exs
  mix.lock
  test/pleroma/integration/mastodon_websocket_test.exs
  test/support/websocket_client.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Test that server will disconnect websocket upon token revocation
  test/pleroma/integration/mastodon_websocket_test.exs
  test/support/websocket_client.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles
