Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

build-1.13.4:
  tags:
  - amd64
  stage: build
  script:
  - mix compile --force

build-1.15.7-otp-25:
  tags:
  - amd64
  stage: build
  image: git.pleroma.social:5050/pleroma/pleroma/ci-base:elixir-1.15-otp25
  allow_failure: true
  script:
  - mix compile --force

spec-build:
  tags:
  - amd64
  stage: build
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

unit-testing-1.12.3:
  tags:
  - amd64
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  script:
  ...

unit-testing-1.15.7-otp-25:
  tags:
  - amd64
  stage: test
  image: git.pleroma.social:5050/pleroma/pleroma/ci-base:elixir-1.15-otp25
  allow_failure: true
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
  ...

unit-testing-1.12-erratic:
  tags:
  - amd64
  stage: test
  retry: 2
  allow_failure: true
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
  ...

formatting-1.13:
  image: elixir:1.13-alpine
  stage: lint
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  before_script:
  - apk update
  - apk add build-base cmake file-dev git openssl
  - mix local.hex --force
  - mix local.rebar --force
  - mix deps.get
  script:
  ...

cycles-1.13:
  image: elixir:1.13-alpine
  stage: lint
  cache: {}
  before_script:
  - apk update
  - apk add build-base cmake file-dev git openssl
  - mix local.hex --force
  - mix local.rebar --force
  - mix deps.get
  script:
  - mix compile
  ...

analysis:
  tags:
  - amd64
  stage: lint
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

dialyzer:
  tags:
  - feld
  stage: lint
  allow_failure: true
  when: manual
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix dialyzer

Rich Media: add stream byte counting as an extra protection against malicious URLs
  lib/pleroma/web/rich_media/helpers.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Formatting
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Move the check to the inbox
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
  lib/pleroma/workers/receiver_worker.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Use Pleroma.Object.Containment.get_actor/1 to reliably find the actor of an incoming activity or object
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Revert unintentional change
  lib/pleroma/workers/receiver_worker.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Switch test to the inbox
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
  test/pleroma/workers/receiver_worker_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Drop incoming Delete activities from unknown actors
  changelog.d/drop-unknown-deletes.change
  lib/pleroma/workers/receiver_worker.ex
  test/pleroma/workers/receiver_worker_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add ability to auto-approve followbacks
  docs/development/API/differences_in_mastoapi_responses.md
  lib/pleroma/user.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/api_spec/operations/account_operation.ex
  lib/pleroma/web/api_spec/schemas/account.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  lib/pleroma/web/mastodon_api/views/account_view.ex
  priv/repo/migrations/20240213120000_add_permit_followback.exs
  test/pleroma/web/common_api_test.exs
  test/pleroma/web/mastodon_api/views/account_view_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

paginate follow requests (#460)
  lib/pleroma/following_relationship.ex
  lib/pleroma/user.ex
  lib/pleroma/web/api_spec/operations/follow_request_operation.ex
  lib/pleroma/web/mastodon_api/controllers/follow_request_controller.ex
  lib/pleroma/web/mastodon_api/views/account_view.ex
  test/pleroma/web/activity_pub/object_validators/block_validation_test.exs
  test/pleroma/web/common_api_test.exs
  test/pleroma/web/mastodon_api/controllers/follow_request_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix test
  test/pleroma/web/common_api_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Convert to an Plug called InboxGuard
  lib/pleroma/constants.ex
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
  lib/pleroma/web/plugs/inbox_guard_plug.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Test more types we do not want to receive from strangers
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Update changelog
  changelog.d/drop-unknown-deletes.change
  changelog.d/drop-unwanted.change
Due: none

Fix test title to be more specific as it has a broader but incorrect meaning
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Remove unnecessary error match in ReceiverWorker
  lib/pleroma/workers/receiver_worker.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Change relay inbox response when not federating to a 403 for consistency
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Update allowed activity types from strangers
  lib/pleroma/constants.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add recognized activity types to a constant and use it in the test
  lib/pleroma/constants.ex
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

InboxGuardPlug: Add early rejection of unknown activity types
  lib/pleroma/web/plugs/inbox_guard_plug.ex
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Update changelog
  changelog.d/drop-unwanted.change
Due: none

NodeInfo: Accept application/activity+json requests
  changelog.d/well-known.change
  lib/pleroma/web/router.ex
  test/pleroma/web/node_info_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

add bubble timeline (#100)
  config/config.exs
  config/description.exs
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/api_spec/operations/timeline_operation.ex
  lib/pleroma/web/mastodon_api/controllers/timeline_controller.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/mastodon_api/controllers/timeline_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Remerge of hashtag following (#341)
  lib/pleroma/hashtag.ex
  lib/pleroma/user.ex
  lib/pleroma/user/hashtag_follow.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/api_spec/operations/tag_operation.ex
  lib/pleroma/web/api_spec/schemas/tag.ex
  lib/pleroma/web/mastodon_api/controllers/tag_controller.ex
  lib/pleroma/web/mastodon_api/controllers/timeline_controller.ex
  lib/pleroma/web/mastodon_api/views/tag_view.ex
  lib/pleroma/web/router.ex
  lib/pleroma/web/streamer.ex
  priv/repo/migrations/20221203232118_add_user_follows_hashtag.exs
  test/pleroma/user_test.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/mastodon_api/controllers/tag_controller_test.exs
  test/pleroma/web/streamer_test.exs
  test/support/factory.ex
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add /api/v1/followed_tags
  lib/pleroma/pagination.ex
  lib/pleroma/user/hashtag_follow.ex
  lib/pleroma/web/api_spec/operations/tag_operation.ex
  lib/pleroma/web/api_spec/schemas/tag.ex
  lib/pleroma/web/mastodon_api/controllers/tag_controller.ex
  lib/pleroma/web/mastodon_api/views/tag_view.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/mastodon_api/controllers/tag_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add timeline visibility options
  config/config.exs
  config/description.exs
  lib/pleroma/web/api_spec/operations/timeline_operation.ex
  lib/pleroma/web/mastodon_api/controllers/timeline_controller.ex
  lib/pleroma/web/nodeinfo/nodeinfo.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/mastodon_api/controllers/timeline_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

include local instance in bubble timeline (#117)
  lib/pleroma/web/router.ex
  priv/repo/migrations/20221203232118_add_user_follows_hashtag.exs
  test/mix/tasks/pleroma/database_test.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/mastodon_api/controllers/timeline_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add notifications for bites
  lib/pleroma/web/push/impl.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix tests
  test/pleroma/web/mastodon_api/controllers/marker_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

fix tests
  test/pleroma/web/common_api_test.exs
  test/pleroma/web/mastodon_api/controllers/timeline_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Actually notify of bites
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/push/impl.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Change scrobble external link param name to use snake case
  changelog.d/scrobbles.change
  docs/development/API/pleroma_api.md
  lib/pleroma/web/api_spec/operations/pleroma_scrobble_operation.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/pleroma_api/controllers/scrobble_controller.ex
  lib/pleroma/web/pleroma_api/views/scrobble_view.ex
  test/pleroma/web/pleroma_api/controllers/scrobble_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Prevent OAuth App flow from creating duplicate entries
  changelog.d/oauth-app.fix
  lib/pleroma/web/mastodon_api/controllers/app_controller.ex
  test/pleroma/web/mastodon_api/controllers/app_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Test that app scopes can be updated
  test/pleroma/web/mastodon_api/controllers/app_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Support OAuth App updating the website URL
  lib/pleroma/web/mastodon_api/controllers/app_controller.ex
  lib/pleroma/web/o_auth/app.ex
  test/pleroma/web/mastodon_api/controllers/app_controller_test.exs
  test/pleroma/web/o_auth/app_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Don't use the Soapbox scope
  lib/pleroma/web/router.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Include pl-fe in available frontends
  config/config.exs
  docs/administration/CLI_tasks/frontend.md
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

scrubbers/default: Allow "mention hashtag" classes used by Mastodon
  changelog.d/scrubbers-allow-mention-hashtag.add
  priv/scrubbers/default.ex
  priv/scrubbers/twitter_text.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

$INSTANCE$host$ replacement
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
  lib/pleroma/web/activity_pub/publisher.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
  lib/pleroma/web/activity_pub/views/object_view.ex
  lib/pleroma/web/activity_pub/views/user_view.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

fix permit_followback test
  test/pleroma/web/common_api_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Update README
  README.md
Due: none

Path conditions:
  build-1.13.4: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  build-1.15.7-otp-25: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  spec-build: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing-1.12.3: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  unit-testing-1.15.7-otp-25: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  unit-testing-1.12-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  formatting-1.13: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles-1.13: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  analysis: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  dialyzer: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
