Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Path conditions:
  build: any of: **/*.ex, **/*.exs, mix.lock
  spec-build: any of: lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing: any of: **/*.ex, **/*.exs, mix.lock
  unit-testing-rum: any of: **/*.ex, **/*.exs, mix.lock
  lint: any of: **/*.ex, **/*.exs, mix.lock
  analysis: any of: **/*.ex, **/*.exs, mix.lock
  cycles: any of: **/*.ex, **/*.exs, mix.lock

Put blockers_visible in the features list when it's enabled
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add blockers_visible to features list when it's enabled
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Update cheatsheet.md. Add `Pleroma.Web.ActivityPub.MRF.KeywordPolicy`.
  docs/configuration/cheatsheet.md
Due: none

Upgrade Linkify to v0.5.2
  mix.exs
  mix.lock
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

FormatterTest: fix nesting in expected output
  test/pleroma/formatter_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

CHANGELOG: hashtags markdown fix
  CHANGELOG.md
Due: none

mix format
  test/pleroma/formatter_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

unit-testing-erratic: allow failure
  .gitlab-ci.yml
Due: none

Birth dates, birthday reminders API, allow instance admins to require minimum age
  config/config.exs
  config/description.exs
  lib/pleroma/user.ex
  lib/pleroma/user/query.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/activity_pub/views/user_view.ex
  lib/pleroma/web/api_spec/operations/account_operation.ex
  lib/pleroma/web/api_spec/operations/pleroma_account_operation.ex
  lib/pleroma/web/api_spec/schemas/account.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  lib/pleroma/web/mastodon_api/views/account_view.ex
  lib/pleroma/web/pleroma_api/controllers/account_controller.ex
  lib/pleroma/web/router.ex
  lib/pleroma/web/twitter_api/twitter_api.ex
  priv/repo/migrations/29220116183110_add_birth_date_to_users.exs
  priv/static/schemas/litepub-0.1.jsonld
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Docs: PleromaAPI oauth_tokens endpoints
  docs/development/API/pleroma_api.md
Due: none

Format code, expose instance configuration related to birth dates
  config/description.exs
  lib/pleroma/user.ex
  lib/pleroma/web/api_spec/operations/account_operation.ex
  lib/pleroma/web/api_spec/schemas/account.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/pleroma_api/controllers/account_controller.ex
  test/pleroma/web/mastodon_api/views/account_view_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Birth dates: Add tests
  lib/pleroma/user.ex
  lib/pleroma/user/query.ex
  lib/pleroma/web/api_spec/schemas/account.ex
  lib/pleroma/web/mastodon_api/views/account_view.ex
  lib/pleroma/web/pleroma_api/controllers/account_controller.ex
  test/pleroma/user_test.exs
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
  test/pleroma/web/mastodon_api/update_credentials_test.exs
  test/pleroma/web/pleroma_api/controllers/account_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

check if remote bday is valid
  lib/pleroma/web/activity_pub/activity_pub.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add ForceMentionsInContentPolicy
  CHANGELOG.md
  docs/configuration/cheatsheet.md
  lib/pleroma/formatter.ex
  lib/pleroma/user.ex
  lib/pleroma/web/activity_pub/mrf/force_mentions_in_content.ex
  test/fixtures/soapbox_no_mentions_in_content.json
  test/pleroma/web/activity_pub/mrf/force_mentions_in_content_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Block notification policy
  lib/pleroma/web/activity_pub/mrf/block_notification_policy.ex
  test/pleroma/web/activity_pub/mrf/block_notification_policy_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Update changelog
  CHANGELOG.md
  lib/pleroma/web/mastodon_api/views/account_view.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add glitch-lily to clients.md
  docs/clients.md
Due: none

Support private pinned posts from Mastodon
  lib/pleroma/web/activity_pub/activity_pub.ex
  test/fixtures/mastodon/collections/external_featured.json
  test/pleroma/web/activity_pub/activity_pub_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Test pinned private statuses in AccountController
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

add nixos to supported distros
  README.md
  docs/installation/nixos_en.md
Due: none

Add autocompelete values suggested by Apple
  lib/pleroma/web/templates/o_auth/mfa/totp.html.eex
  lib/pleroma/web/templates/o_auth/o_auth/register.html.eex
  lib/pleroma/web/templates/o_auth/o_auth/show.html.eex
  lib/pleroma/web/templates/twitter_api/remote_follow/follow_login.html.eex
Due: none

asdf: upgrade to Erlang 24 and Elixir 1.13
  .tool-versions
Due: none

Fix RichMedia.ParserTest
  test/pleroma/web/rich_media/parser_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

FilterTest: tag erratic test
  test/pleroma/web/mastodon_api/controllers/filter_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make test less erratic by adding five second tolerance
  test/pleroma/web/mastodon_api/controllers/filter_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Birthdays: birth_date --> birthday
  CHANGELOG.md
  config/config.exs
  config/description.exs
  lib/pleroma/user.ex
  lib/pleroma/user/query.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/activity_pub/views/user_view.ex
  lib/pleroma/web/api_spec/operations/account_operation.ex
  lib/pleroma/web/api_spec/schemas/account.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  lib/pleroma/web/mastodon_api/views/account_view.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/twitter_api/twitter_api.ex
  priv/repo/migrations/29220116183110_add_birth_date_to_users.exs
  test/pleroma/user_test.exs
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
  test/pleroma/web/mastodon_api/update_credentials_test.exs
  test/pleroma/web/mastodon_api/views/account_view_test.exs
  test/pleroma/web/pleroma_api/controllers/account_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Update description.exs
  config/description.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

EmailListTest: tag erratic tests
  test/pleroma/user/email_list_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

SimplePolicy reasons: handle legacy config
  lib/pleroma/web/activity_pub/mrf.ex
  test/pleroma/web/activity_pub/mrf_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

MRF reasons: normalize config for backwards compatibility
  lib/pleroma/web/activity_pub/mrf.ex
  lib/pleroma/web/activity_pub/mrf/simple_policy.ex
  test/pleroma/web/activity_pub/mrf_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

ChangeObjectIdToFlake: lock tables
  priv/repo/migrations/20211218181632_change_object_id_to_flake.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add clippy
  priv/repo/migrations/20211218181632_change_object_id_to_flake.exs
  priv/repo/migrations/20211218181640_resolve_activity_object_conflicts.exs
  priv/repo/migrations/20211218181647_combine_activities_and_objects.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

ObjectValidators: accept "quoteUrl" field
  lib/pleroma/web/activity_pub/object_validators/common_fields.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Quote post: add fixtures
  test/fixtures/quote_post/fedibird_quote_post.json
  test/fixtures/quote_post/misskey_quote_post.json
Due: none

ObjectValidators: improve quoteUrl compatibility
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Transmogrifier: fetch quoted post
  lib/pleroma/web/activity_pub/transmogrifier.ex
  test/fixtures/tesla_mock/aimu@misskey.io.json
  test/fixtures/tesla_mock/misskey.io_8vs6wxufd0.json
  test/pleroma/web/activity_pub/transmogrifier_test.exs
  test/support/http_request_mock.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Transmogrifier: fix quoteUrl here too
  lib/pleroma/web/activity_pub/transmogrifier.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

StatusView: show quoted posts through the API, probably
  lib/pleroma/web/mastodon_api/views/status_view.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

StatusView: render the whole quoted status
  lib/pleroma/web/api_spec/schemas/status.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

ActivityDraft: create quote posts
  lib/pleroma/web/common_api/activity_draft.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles
