Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

build:
  stage: build
  script:
  - mix compile --force

spec-build:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

unit-testing:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: postgres:13
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  script:
  ...

unit-testing-rum:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  services:
  - name: minibikini/postgres-with-rum:12
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  variables:
  ...

lint:
  image: elixir:1.12
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix format --check-formatted

analysis:
  stage: test
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  image: elixir:1.11
  cache: {}
  script:
  - mix deps.get
  - mix compile
  - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

docker.exs: simplify database config
  config/docker.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

docker-entrypoint: use $DATABASE_URL for pg_isready
  docker-entrypoint.sh
Due: none

Reject requests from specified instances if `authorized_fetch_mode` is enabled
  config/config.exs
  config/description.exs
  docs/configuration/cheatsheet.md
  lib/pleroma/signature.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/plugs/http_signature_plug.ex
  test/pleroma/signature_test.exs
  test/pleroma/web/plugs/http_signature_plug_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Docker: respect PORT env, use 5000 by default
  Dockerfile
  config/docker.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Deploy review app with Dokku
  .gitlab-ci.yml
Due: none

GitLab CI: remove before_script from review_app
  .gitlab-ci.yml
Due: none

Dokku: add missing dokku@
  .gitlab-ci.yml
Due: none

Set GIT_DEPTH=0 for dokku deployment
  .gitlab-ci.yml
Due: none

Add app.json for Dokku
  app.json
Due: none

Use latest alpine version for docker image
  Dockerfile
Due: none

Treat MRF rejects as success in Oban worker
  lib/pleroma/workers/receiver_worker.ex
  test/pleroma/workers/receiver_worker_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix FederatorTest
  test/pleroma/web/federator_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Change default moderator privileges to better match what we previously had
  config/config.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

wip events
  lib/pleroma/web/activity_pub/builder.ex
  lib/pleroma/web/activity_pub/object_validators/common_fields.ex
  lib/pleroma/web/activity_pub/object_validators/join_validator.ex
  lib/pleroma/web/activity_pub/object_validators/place_validator.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/api_spec/operations/pleroma_event_operation.ex
  lib/pleroma/web/api_spec/schemas/participation_request.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  lib/pleroma/web/pleroma_api/controllers/event_controller.ex
  lib/pleroma/web/pleroma_api/views/event_view.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Expose nonAnonymous field from Smithereen polls
  lib/pleroma/web/activity_pub/object_validators/question_validator.ex
  lib/pleroma/web/api_spec/schemas/poll.ex
  lib/pleroma/web/mastodon_api/views/poll_view.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add entry to @context, tests
  priv/static/schemas/litepub-0.1.jsonld
  test/fixtures/tesla_mock/smithereen_non_anonymous_poll.json
  test/fixtures/tesla_mock/smithereen_user.json
  test/pleroma/web/mastodon_api/views/poll_view_test.exs
  test/support/http_request_mock.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Treat containment failure as cancel in ReceiverWorker
  lib/pleroma/workers/receiver_worker.ex
  test/pleroma/web/federator_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make backups require its own scope
  lib/pleroma/web/pleroma_api/controllers/backup_controller.ex
  test/pleroma/web/pleroma_api/controllers/backup_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Set update_nickname_on_user_fetch to false by default
  config/config.exs
  config/test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add update_nickname_on_user_fetch to description.exs
  config/description.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

CommonFields: remove context_id
  lib/pleroma/web/activity_pub/object_validators/common_fields.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

StatusView: clear MSB on calculated conversation_id
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/common_api/utils_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Object: remove context_id field
  lib/pleroma/object.ex
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
  lib/pleroma/web/activity_pub/object_validators/common_fixes.ex
  lib/pleroma/web/activity_pub/object_validators/event_validator.ex
  lib/pleroma/web/activity_pub/object_validators/question_validator.ex
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/common_api/utils.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/activity_pub/transmogrifier/question_handling_test.exs
  test/pleroma/web/activity_pub/transmogrifier_test.exs
  test/pleroma/web/activity_pub/utils_test.exs
  test/pleroma/web/common_api/utils_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Update api spec to reflect OAuth scope change
  lib/pleroma/web/api_spec/operations/pleroma_backup_operation.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add changelog
  CHANGELOG.md
Due: none

CreateGenericValidator: fix reply context fixing
  lib/pleroma/web/activity_pub/object_validators/create_generic_validator.ex
  test/fixtures/create-pleroma-reply-to-misskey-thread.json
  test/fixtures/tesla_mock/helene@p.helene.moe.json
  test/fixtures/tesla_mock/mametsuko@mk.absturztau.be.json
  test/fixtures/tesla_mock/mk.absturztau.be-93e7nm8wqg.json
  test/fixtures/tesla_mock/p.helene.moe-AM7S6vZQmL6pI9TgPY.json
  test/pleroma/web/activity_pub/object_validators/create_generic_validator_test.exs
  test/pleroma/web/activity_pub/transmogrifier_test.exs
  test/support/http_request_mock.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Migrations: delete context objects
  priv/repo/migrations/20220807125023_data_migration_delete_context_objects.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

StatusView: implement pleroma.context field
  lib/pleroma/web/api_spec/schemas/status.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

wip
  lib/pleroma/web/api_spec/operations/pleroma_event_operation.ex
  lib/pleroma/web/common_api/activity_draft.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix Varnish 7 support by ensuring Media Preview Proxy fetches headers with a capitalized HEAD verb
  lib/pleroma/web/media_proxy/media_proxy_controller.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Update the recommended VCL configuration
  installation/pleroma.vcl
Due: none

Fix the mocks to use uppercase as well
  test/pleroma/web/media_proxy/media_proxy_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Expose oauth_consumer_strategies in instance API
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  test/pleroma/web/mastodon_api/controllers/instance_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Dockerfile: build with OAUTH_CONSUMER_STRATEGIES
  Dockerfile
Due: none

Include OAUTH_CONSUMER_STRATEGIES deps in mix.lock
  mix.lock
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Document the changes for Varnish 7.0+ compatibility and RFC compliance
  CHANGELOG.md
Due: none

wip events
  lib/pleroma/object/fetcher.ex
  lib/pleroma/web/activity_pub/object_validator.ex
  lib/pleroma/web/activity_pub/object_validators/leave_validator.ex
  lib/pleroma/web/activity_pub/pipeline.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
  lib/pleroma/web/activity_pub/utils.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/federator.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  lib/pleroma/web/pleroma_api/controllers/event_controller.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Handle voters count correctly
  lib/pleroma/constants.ex
  lib/pleroma/web/activity_pub/object_validators/question_validator.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
  lib/pleroma/web/mastodon_api/views/poll_view.ex
  priv/static/schemas/litepub-0.1.jsonld
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Dockerfile: ENV --> ARG
  Dockerfile
Due: none

docker-entrypoint: fix DATABASE_URL building
  docker-entrypoint.sh
Due: none

Path conditions:
  build: any of: **/*.ex, **/*.exs, mix.lock
  spec-build: any of: lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing: any of: **/*.ex, **/*.exs, mix.lock
  unit-testing-rum: any of: **/*.ex, **/*.exs, mix.lock
  lint: any of: **/*.ex, **/*.exs, mix.lock
  analysis: any of: **/*.ex, **/*.exs, mix.lock
  cycles: any of: **/*.ex, **/*.exs, mix.lock
