Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Path conditions:
  build: any of: **/*.ex, **/*.exs, mix.lock
  spec-build: any of: lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing: any of: **/*.ex, **/*.exs, mix.lock
  unit-testing-rum: any of: **/*.ex, **/*.exs, mix.lock
  lint: any of: **/*.ex, **/*.exs, mix.lock
  analysis: any of: **/*.ex, **/*.exs, mix.lock
  cycles: any of: **/*.ex, **/*.exs, mix.lock

Make tag feed translatable
  lib/pleroma/web/feed/feed_view.ex
  lib/pleroma/web/templates/feed/feed/tag.atom.eex
  lib/pleroma/web/templates/feed/feed/tag.rss.eex
  priv/gettext/static_pages.pot
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Use proper lang attributes in htmls
  lib/pleroma/web/gettext.ex
  lib/pleroma/web/templates/feed/feed/tag.atom.eex
  lib/pleroma/web/templates/layout/app.html.eex
  lib/pleroma/web/templates/layout/email.html.eex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make oauth pages translatable
  lib/pleroma/web/o_auth/o_auth_view.ex
  lib/pleroma/web/templates/o_auth/o_auth/_scopes.html.eex
  lib/pleroma/web/templates/o_auth/o_auth/consumer.html.eex
  lib/pleroma/web/templates/o_auth/o_auth/oob_authorization_created.html.eex
  lib/pleroma/web/templates/o_auth/o_auth/oob_token_exists.html.eex
  lib/pleroma/web/templates/o_auth/o_auth/register.html.eex
  lib/pleroma/web/templates/o_auth/o_auth/show.html.eex
  priv/gettext/static_pages.pot
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make mfa pages translatable
  lib/pleroma/web/o_auth/mfa_view.ex
  lib/pleroma/web/templates/o_auth/mfa/recovery.html.eex
  lib/pleroma/web/templates/o_auth/mfa/totp.html.eex
  priv/gettext/static_pages.pot
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix tests
  lib/pleroma/web/feed/feed_view.ex
  lib/pleroma/web/templates/o_auth/o_auth/oob_authorization_created.html.eex
  lib/pleroma/web/templates/o_auth/o_auth/oob_token_exists.html.eex
  lib/pleroma/web/templates/o_auth/o_auth/show.html.eex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

SideEffects: don't stream Create/ChatMessage in an 'update' event
  lib/pleroma/web/activity_pub/side_effects.ex
  test/pleroma/web/streamer_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

use remote_ip repo under gitlab/soapbox/elixir_library in case git.pleroma.social is down
  mix.exs
  mix.lock
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Revert "Merge branch 'revert/notice-routes' into 'develop'"
  CHANGELOG.md
  lib/pleroma/web/router.ex
  lib/pleroma/web/static_fe/static_fe_controller.ex
  test/pleroma/web/o_status/o_status_controller_test.exs
  test/pleroma/web/plugs/frontend_static_plug_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add tests
  test/pleroma/rule_test.exs
  test/pleroma/web/common_api_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make static fe translatable
  lib/pleroma/web/templates/static_fe/static_fe/profile.html.eex
  priv/gettext/static_pages.pot
Due: none

Make mail and mailer translatable
  lib/pleroma/web/templates/email/digest.html.eex
  lib/pleroma/web/templates/mailer/subscription/unsubscribe_failure.html.eex
  lib/pleroma/web/templates/mailer/subscription/unsubscribe_success.html.eex
  lib/pleroma/web/views/email_view.ex
  lib/pleroma/web/views/mailer/subscription_view.ex
  priv/gettext/static_pages.pot
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fix digest test
  test/mix/tasks/pleroma/digest_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make all emails translatable
  lib/pleroma/emails/user_email.ex
  priv/gettext/static_pages.pot
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Send emails i18n'd using backend-stored user language
  lib/pleroma/emails/user_email.ex
  lib/pleroma/user.ex
  lib/pleroma/web/gettext.ex
  lib/pleroma/web/plugs/set_locale_plug.ex
  priv/gettext/en_test/LC_MESSAGES/default.po
  priv/gettext/en_test/LC_MESSAGES/errors.po
  priv/gettext/en_test/LC_MESSAGES/posix_errors.po
  priv/gettext/en_test/LC_MESSAGES/static_pages.po
  priv/repo/migrations/20220302013920_add_language_to_users.exs
  test/pleroma/emails/user_email_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Allow update_credentials to update User.language
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Allow user to register with custom language
  lib/pleroma/user.ex
  lib/pleroma/web/api_spec/operations/account_operation.ex
  lib/pleroma/web/gettext.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  lib/pleroma/web/plugs/set_locale_plug.ex
  lib/pleroma/web/twitter_api/twitter_api.ex
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

add tests
  lib/pleroma/web/common_api.ex
  test/pleroma/web/activity_pub/utils_test.exs
  test/pleroma/web/common_api_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Document API addition
  docs/development/API/differences_in_mastoapi_responses.md
Due: none

Add changelog
  CHANGELOG.md
Due: none

Update assign_account_operation
  lib/pleroma/web/api_spec/operations/admin/report_operation.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fallback to a variant if the language in general is not supported
  lib/pleroma/web/gettext.ex
  lib/pleroma/web/plugs/set_locale_plug.ex
  test/pleroma/web/plugs/set_locale_plug_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add test for fallbacking to a general language
  test/pleroma/web/plugs/set_locale_plug_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Make lint happy
  lib/pleroma/web/gettext.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Support multiple locales formally
  lib/pleroma/web/gettext.ex
  lib/pleroma/web/plugs/set_locale_plug.ex
  test/pleroma/web/plugs/set_locale_plug_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Support multiple locales from userLanguage cookie
  lib/pleroma/web/gettext.ex
  lib/pleroma/web/plugs/set_locale_plug.ex
  test/pleroma/web/plugs/set_locale_plug_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Lint
  lib/pleroma/web/gettext.ex
  test/pleroma/web/plugs/set_locale_plug_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Correctly order rules by id/creation date
  lib/pleroma/rule.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Update Caddyfile to Caddy v2
  installation/caddyfile-pleroma.example
Due: none

Delete report notifs when demoting from superuser
  lib/pleroma/notification.ex
  lib/pleroma/user.ex
  test/pleroma/notification_test.exs
  test/pleroma/user_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Support fallbacking to other languages
  lib/pleroma/web/gettext.ex
  mix.exs
  mix.lock
  priv/gettext/en_test/LC_MESSAGES/static_pages.po
  test/pleroma/web/gettext_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

After code review
  lib/pleroma/user.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Implement first pass of announcement admin api
  lib/pleroma/announcement.ex
  lib/pleroma/web/admin_api/controllers/announcement_controller.ex
  lib/pleroma/web/admin_api/views/announcement_view.ex
  lib/pleroma/web/api_spec/operations/admin/announcement_operation.ex
  lib/pleroma/web/api_spec/schemas/announcement.ex
  lib/pleroma/web/router.ex
  priv/repo/migrations/20220308012601_create_announcements.exs
  test/pleroma/web/admin_api/controllers/announcement_controller_test.exs
  test/support/factory.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Fill properties of announcements from Mastodon API spec
  lib/pleroma/announcement.ex
  lib/pleroma/web/admin_api/views/announcement_view.ex
  lib/pleroma/web/api_spec/schemas/announcement.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Implement announcement read relationships
  lib/pleroma/announcement.ex
  lib/pleroma/announcement_read_relationship.ex
  lib/pleroma/web/api_spec/operations/announcement_operation.ex
  lib/pleroma/web/mastodon_api/controllers/announcement_controller.ex
  lib/pleroma/web/mastodon_api/views/announcement_view.ex
  lib/pleroma/web/router.ex
  test/pleroma/announcement_read_relationship_test.exs
  test/pleroma/web/mastodon_api/controllers/announcement_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Implement GET /api/v1/announcements/:id
  lib/pleroma/web/mastodon_api/controllers/announcement_controller.ex
  test/pleroma/web/mastodon_api/controllers/announcement_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Implement POST /api/v1/announcements/:id/dismiss
  lib/pleroma/web/api_spec/operations/announcement_operation.ex
  lib/pleroma/web/mastodon_api/controllers/announcement_controller.ex
  test/pleroma/web/mastodon_api/controllers/announcement_controller_test.exs
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Correct docstring for AnnouncementController.show
  lib/pleroma/web/mastodon_api/controllers/announcement_controller.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Implement visibility filtering for announcements
  lib/pleroma/announcement.ex
  priv/repo/migrations/20220308012601_create_announcements.exs
  test/pleroma/announcement_test.exs
  test/support/factory.ex
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles

Add starts_at, ends_at and all_day parameters
  lib/pleroma/announcement.ex
  lib/pleroma/web/admin_api/controllers/announcement_controller.ex
  lib/pleroma/web/api_spec/operations/admin/announcement_operation.ex
  lib/pleroma/web/api_spec/schemas/announcement.ex
  test/pleroma/web/admin_api/controllers/announcement_controller_test.exs
  test/support/factory.ex
Due: build, spec-build, unit-testing, unit-testing-rum, lint, analysis, cycles

Show only visible announcements in MastodonAPI
  lib/pleroma/web/mastodon_api/controllers/announcement_controller.ex
  test/pleroma/web/mastodon_api/controllers/announcement_controller_test.exs
Due: build, unit-testing, unit-testing-rum, lint, analysis, cycles
