Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, analysis, cycles, release

deps:
  stage: deps
  script:
  - mix deps.get
  - mix deps.compile
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull-push

openapi:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

test:
  stage: test
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --cover --preload-modules
  ...

test-erratic:
  stage: test
  allow_failure: true
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --only=erratic

lint:
  stage: test
  script:
  - mix format --check-formatted

analysis:
  stage: test
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  script:
  - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
  - mix deps.get
  - mkdir release
  - mix release --path release
  artifacts:
    name: rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME
    paths:
    - release/*
  cache: {}

Allow inline images in tests (for now)
  config/test.exs
  test/pleroma/emoji/formatter_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

scrubbers: Scrub img class attribute
  priv/scrubbers/default.ex
  priv/scrubbers/twitter_text.ex
  test/pleroma/html_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Skip two unicode/kanji tests that can't pass on Mac.
  test/pleroma/activity_test.exs
  test/pleroma/web/mastodon_api/controllers/search_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Delete report notifs when demoting from superuser
  lib/pleroma/notification.ex
  lib/pleroma/user.ex
  test/pleroma/notification_test.exs
  test/pleroma/user_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Transmogrifier: Use validating regex for "mediaType"
  lib/pleroma/web/activity_pub/transmogrifier.ex
Due: test, test-erratic, lint, analysis, cycles, release

AttachmentValidator: Use custom ecto type and regex for "mediaType"
  lib/pleroma/web/activity_pub/object_validators/attachment_validator.ex
  test/pleroma/web/activity_pub/object_validators/attachment_validator_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

EctoType: Add MIME validator
  lib/pleroma/constants.ex
  lib/pleroma/ecto_type/activity_pub/object_validators/mime.ex
Due: test, test-erratic, lint, analysis, cycles, release

Make mutes and blocks behave the same as other lists
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

mix: Switch prometheus_ex to fix/elixir-1.14 branch
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, analysis, cycles, release

timeline_controller_test: Fix test name for elixir 1.14
  test/pleroma/web/mastodon_api/controllers/timeline_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

script_test: Fix %ErlangError for Elixir 1.14
  test/pleroma/web/media_proxy/invalidation/script_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix fedi-fe build URL
  config/config.exs
Due: test, test-erratic, lint, analysis, cycles, release

Make local-only posts stream in local timeline
  lib/pleroma/activity/ir/topics.ex
  test/pleroma/activity/ir/topics_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Do not stream out Create of ChatMessage
  lib/pleroma/activity/ir/topics.ex
  test/pleroma/activity/ir/topics_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

fix resolution of GTS user keys
  lib/pleroma/signature.ex
  test/pleroma/signature_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

ArticleNotePageValidator: fix replies fixing
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Release 2.4.5
  CHANGELOG.md
  mix.exs
Due: test, test-erratic, lint, analysis, cycles, release

Mergeback of release 2.4.5
  CHANGELOG.md
  mix.exs
Due: test, test-erratic, lint, analysis, cycles, release

Only allow valid content types, again
  lib/pleroma/object/fetcher.ex
Due: test, test-erratic, lint, analysis, cycles, release

Add Geospatial config to description.exs
  config/description.exs
Due: test, test-erratic, lint, analysis, cycles, release

mix format
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/api_spec/operations/pleroma_event_operation.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Cleanup, language detection
  lib/pleroma/web/activity_pub/builder.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/api_spec/operations/pleroma_event_operation.ex
  lib/pleroma/web/common_api/activity_draft.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Fix closing a report where the reporter is deactivated Fixes https://gitlab.com/soapbox-pub/rebased/-/issues/133
  lib/pleroma/web/common_api.ex
  test/pleroma/web/common_api_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

CHANGELOG.md: Fix date for 2.4.5
  CHANGELOG.md
Due: none

Change follow_operation schema to use type BooleanLike
  lib/pleroma/web/api_spec/operations/account_operation.ex
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Fix changelog date
  CHANGELOG.md
Due: none

Add Gitlab Release™ into Release MR template
  .gitlab/merge_request_templates/Release.md
Due: none

Only suggest Nominatim for now
  config/description.exs
Due: test, test-erratic, lint, analysis, cycles, release

Update geospatial package, update config and description.exs
  config/config.exs
  config/description.exs
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, analysis, cycles, release

Add events to features
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: test, test-erratic, lint, analysis, cycles, release

Use origin URL for remote_url
  lib/pleroma/web/mastodon_api/views/status_view.ex
Due: test, test-erratic, lint, analysis, cycles, release

Auto join own events
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/common_api.ex
Due: test, test-erratic, lint, analysis, cycles, release

Fix race condition, update tests
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/common_api.ex
  test/pleroma/web/pleroma_api/controllers/event_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Added translation using Weblate (Korean)
  priv/gettext/ko/LC_MESSAGES/default.po
Due: none

Add missing rel_me cache
  lib/pleroma/application.ex
Due: test, test-erratic, lint, analysis, cycles, release

Actually fix verified_at
  lib/pleroma/user.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
Due: test, test-erratic, lint, analysis, cycles, release

fix tests?
  test/pleroma/web/mastodon_api/update_credentials_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Add rate limiting for events actions
  config/config.exs
  config/description.exs
  docs/configuration/cheatsheet.md
  lib/pleroma/web/pleroma_api/controllers/event_controller.ex
Due: test, test-erratic, lint, analysis, cycles, release

format
  config/description.exs
Due: test, test-erratic, lint, analysis, cycles, release

Path conditions:
  deps: any of: mix.lock
  openapi: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  test: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  test-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  lint: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  analysis: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  release: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
