Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, analysis, cycles, release

deps:
  stage: deps
  script:
  - mix deps.get
  - mix deps.compile
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull-push

openapi:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

test:
  stage: test
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --cover --preload-modules
  ...

test-erratic:
  stage: test
  allow_failure: true
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --only=erratic

lint:
  stage: test
  script:
  - mix format --check-formatted

analysis:
  stage: test
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  script:
  - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
  - mix deps.get
  - mkdir release
  - mix release --path release
  artifacts:
    name: rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME
    paths:
    - release/*
  cache: {}

Skip changelog
  changelog.d/lint.skip
Due: none

Move is_good_locale_code? to object validator
  lib/pleroma/ecto_type/activity_pub/object_validators/language_code.ex
  lib/pleroma/ecto_type/activity_pub/object_validators/map_of_string.ex
  lib/pleroma/web/activity_pub/object_validators/common_fixes.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/common_api/utils.ex
Due: test, test-erratic, lint, analysis, cycles, release

CommonAPI: Prevent users from accessing media of other users
  changelog.d/check-attachment-attribution.security
  lib/pleroma/scheduled_activity.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/common_api/utils.ex
  test/pleroma/web/common_api/utils_test.exs
  test/pleroma/web/common_api_test.exs
  test/pleroma/web/mastodon_api/views/scheduled_activity_view_test.exs
  test/pleroma/web/pleroma_api/views/chat_message_reference_view_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

mix: version 2.5.5
  CHANGELOG.md
  mix.exs
Due: test, test-erratic, lint, analysis, cycles, release

Update pack.ex
  lib/pleroma/emoji/pack.ex
Due: test, test-erratic, lint, analysis, cycles, release

Update InstanceView.features
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: test, test-erratic, lint, analysis, cycles, release

Rename MapOfString to ContentLanguageMap
  lib/pleroma/ecto_type/activity_pub/object_validators/map_of_string.ex
  lib/pleroma/web/activity_pub/object_validators/common_fields.ex
  test/pleroma/ecto_type/activity_pub/object_validators/map_of_string_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Rename test
  lib/pleroma/ecto_type/activity_pub/object_validators/content_language_map.ex
  test/pleroma/ecto_type/activity_pub/object_validators/content_language_map_test.exs
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

ObjectValidators: accept "quoteUrl" field
  lib/pleroma/web/activity_pub/object_validators/common_fields.ex
Due: test, test-erratic, lint, analysis, cycles, release

Quote post: add fixtures
  test/fixtures/quote_post/fedibird_quote_post.json
  test/fixtures/quote_post/misskey_quote_post.json
Due: none

StatusView: render the whole quoted status
  lib/pleroma/web/api_spec/schemas/status.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

StatusControllerTest: test creating a quote post
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

InstanceView: add "quote_posting" feature
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: test, test-erratic, lint, analysis, cycles, release

ActivityDraft: create quote posts
  lib/pleroma/web/common_api/activity_draft.ex
Due: test, test-erratic, lint, analysis, cycles, release

ObjectValidators: improve quoteUrl compatibility
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

mix format
  lib/pleroma/web/api_spec/operations/status_operation.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Transmogrifier: fetch quoted post
  lib/pleroma/web/activity_pub/transmogrifier.ex
  test/fixtures/tesla_mock/aimu@misskey.io.json
  test/fixtures/tesla_mock/misskey.io_8vs6wxufd0.json
  test/pleroma/web/activity_pub/transmogrifier_test.exs
  test/support/http_request_mock.ex
Due: test, test-erratic, lint, analysis, cycles, release

BuilderTest: build quote post
  test/pleroma/web/activity_pub/builder_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

TransmogrifierTest: prepare an outgoing quote post
  test/pleroma/web/activity_pub/transmogrifier_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Transmogrifier: fix quoteUrl here too
  lib/pleroma/web/activity_pub/transmogrifier.ex
Due: test, test-erratic, lint, analysis, cycles, release

StatusView: show quoted posts through the API, probably
  lib/pleroma/web/mastodon_api/views/status_view.ex
Due: test, test-erratic, lint, analysis, cycles, release

ActivityDraft: allow quoting
  lib/pleroma/web/activity_pub/builder.ex
  lib/pleroma/web/api_spec/operations/status_operation.ex
  test/pleroma/web/common_api_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Fix typos
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
  test/pleroma/web/common_api_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

ActivityDraft: mix format, defensive actor ID
  lib/pleroma/web/common_api/activity_draft.ex
  test/pleroma/web/common_api_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Scrubber.Default: allow span.quote-inline for quote post compatibility
  priv/scrubbers/default.ex
Due: test, test-erratic, lint, analysis, cycles, release

Transmogrifier: federate quotes with _misskey_quote field
  lib/pleroma/web/activity_pub/transmogrifier.ex
  priv/static/schemas/litepub-0.1.jsonld
  test/pleroma/web/activity_pub/transmogrifier_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

ActivityDraft: mention the OP of a quoted post
  lib/pleroma/web/common_api/activity_draft.ex
  test/pleroma/web/common_api_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Add InlineQuotePolicy to force quote URLs inline
  config/config.exs
  docs/configuration/cheatsheet.md
  lib/pleroma/web/activity_pub/mrf/inline_quote_policy.ex
  test/pleroma/web/activity_pub/mrf/inline_quote_policy_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

CommonAPI: disallow quoting private posts through the API
  lib/pleroma/web/common_api/activity_draft.ex
  test/pleroma/web/common_api/activity_draft_test.exs
  test/pleroma/web/common_api_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

StatusView: fix quote visibility
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

StatusView: add `quote_visible` param
  lib/pleroma/web/api_spec/schemas/status.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Return quote_url through the API, don't render quotes more than 1 level deep
  lib/pleroma/web/api_spec/schemas/status.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Add InlineQuotePolicy as a default MRF
  config/config.exs
Due: test, test-erratic, lint, analysis, cycles, release

InlineQuotePolicy: don't add line breaks to markdown posts
  lib/pleroma/web/activity_pub/mrf/inline_quote_policy.ex
  test/pleroma/web/activity_pub/mrf/inline_quote_policy_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

StatusView: return quote post inside a reblog
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

@context: add quoteUrl
  priv/static/schemas/litepub-0.1.jsonld
Due: none

Allow more flexibility in InlineQuotePolicy
  config/config.exs
  config/description.exs
  docs/configuration/cheatsheet.md
  lib/pleroma/web/activity_pub/mrf/inline_quote_policy.ex
  priv/scrubbers/default.ex
  test/pleroma/web/activity_pub/mrf/inline_quote_policy_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

InlineQuotePolicy: improve the way Markdown quotes are displayed by other software
  lib/pleroma/web/activity_pub/mrf/inline_quote_policy.ex
  test/pleroma/web/activity_pub/mrf/inline_quote_policy_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix CommonAPITest
  test/pleroma/web/common_api_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Path conditions:
  deps: any of: mix.lock
  openapi: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  test: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  test-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  lint: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  analysis: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  release: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
