Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, analysis, cycles, release

deps:
  stage: deps
  script:
  - mix deps.get
  - mix deps.compile
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull-push

openapi:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

test:
  stage: test
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --cover --preload-modules
  ...

test-erratic:
  stage: test
  allow_failure: true
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --only=erratic

lint:
  stage: test
  script:
  - mix format --check-formatted

analysis:
  stage: test
  script:
  - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  script:
  - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
  - mix deps.get
  - mkdir release
  - mix release --path release
  artifacts:
    name: rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME
    paths:
    - release/*
  cache: {}

Git merge is not my favorite tool
  CHANGELOG.md
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

CHANGELOG: Set 2.5.0
  CHANGELOG.md
Due: none

mix: Release 2.5.0
  mix.exs
Due: test, test-erratic, lint, analysis, cycles, release

mix: version 2.5.50
  mix.exs
Due: test, test-erratic, lint, analysis, cycles, release

Try to use the new privileges system for mastodon admin api
  lib/pleroma/web/router.ex
Due: test, test-erratic, lint, analysis, cycles, release

Add class=emoji to emojify test, related to commit 8f3e7505
  test/pleroma/emoji/formatter_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Detail backup states
  lib/pleroma/ecto_enums.ex
  lib/pleroma/user/backup.ex
  lib/pleroma/workers/backup_worker.ex
  priv/repo/migrations/20221216052127_add_state_to_backups.exs
  test/pleroma/user/backup_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Simplify backup update clause
  lib/pleroma/user/backup.ex
Due: test, test-erratic, lint, analysis, cycles, release

Fix compile error
  lib/pleroma/web/api_spec/operations/pleroma_backup_operation.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Expose backup status via Pleroma API
  lib/pleroma/web/api_spec/operations/pleroma_backup_operation.ex
  lib/pleroma/web/pleroma_api/views/backup_view.ex
  test/pleroma/web/pleroma_api/views/backup_view_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Lint
  lib/pleroma/web/api_spec/operations/pleroma_backup_operation.ex
  lib/pleroma/web/pleroma_api/views/backup_view.ex
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Log errors more extensively
  lib/pleroma/user/backup.ex
  test/pleroma/user/backup_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Make backup parameters configurable
  config/config.exs
  config/description.exs
  lib/pleroma/user/backup.ex
Due: test, test-erratic, lint, analysis, cycles, release

Extract translatable strings
  priv/gettext/config_descriptions.pot
  priv/gettext/errors.pot
Due: none

delete test for destroy_multiple_from_types/2
  test/pleroma/notification_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Add ObanHelpers.perform_all to notifications test
  test/pleroma/web/mastodon_api/controllers/notification_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Bump version to v3.0
  CHANGELOG_soapbox.md
  lib/soapbox.ex
Due: test, test-erratic, lint, analysis, cycles, release

Actually fix CSP
  lib/pleroma/web/plugs/http_security_plug.ex
Due: test, test-erratic, lint, analysis, cycles, release

Bump earmark to 1.4.22
  mix.exs
  mix.lock
  test/pleroma/web/common_api/utils_test.exs
Due: deps, test, test-erratic, lint, analysis, cycles, release

Add support for *Map attributes
  lib/pleroma/ecto_type/activity_pub/object_validators/map_of_string.ex
  lib/pleroma/web/activity_pub/object_validators/attachment_validator.ex
  lib/pleroma/web/activity_pub/object_validators/common_fields.ex
  lib/pleroma/web/activity_pub/object_validators/question_options_validator.ex
  test/pleroma/ecto_type/activity_pub/object_validators/map_of_string_test.exs
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
  test/pleroma/web/activity_pub/object_validators/attachment_validator_test.exs
  test/pleroma/web/activity_pub/object_validators/question_options_validator_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Add functions to process multi-language content
  config/config.exs
  lib/pleroma/multi_language.ex
  test/pleroma/multi_language_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Validate language codes in MapOfString
  lib/pleroma/ecto_type/activity_pub/object_validators/map_of_string.ex
  test/pleroma/ecto_type/activity_pub/object_validators/map_of_string_test.exs
  test/pleroma/multi_language_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix compile warning
  lib/pleroma/ecto_type/activity_pub/object_validators/map_of_string.ex
Due: test, test-erratic, lint, analysis, cycles, release

Treat empty maps as nils
  lib/pleroma/ecto_type/activity_pub/object_validators/map_of_string.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

TagValidator: Allow unrecognized Tag types
  lib/pleroma/web/activity_pub/object_validators/tag_validator.ex
Due: test, test-erratic, lint, analysis, cycles, release

Generate * from *Map
  lib/pleroma/multi_language.ex
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
  lib/pleroma/web/activity_pub/object_validators/audio_video_validator.ex
  lib/pleroma/web/activity_pub/object_validators/common_fixes.ex
  lib/pleroma/web/activity_pub/object_validators/question_validator.ex
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Fix rel="me"
  CHANGELOG.md
  lib/pleroma/application.ex
Due: test, test-erratic, lint, analysis, cycles, release

Respect restrict_unauthenticated in /api/v1/accounts/lookup
  lib/pleroma/web/api_spec/operations/account_operation.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Remove unwanted code specific to MIX_ENV=test
  lib/pleroma/web/rel_me.ex
Due: test, test-erratic, lint, analysis, cycles, release

TagValidator: Add test for Link tag
  test/fixtures/fep-e232.json
  test/pleroma/web/activity_pub/transmogrifier_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Convert nameMap in question options
  lib/pleroma/web/activity_pub/object_validators/question_options_validator.ex
  test/pleroma/web/activity_pub/object_validators/question_options_validator_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Render status with multilang maps
  lib/pleroma/web/api_spec/helpers.ex
  lib/pleroma/web/api_spec/schemas/status.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Display multilang in history items
  lib/pleroma/web/api_spec/operations/status_operation.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Render multilang of sources
  lib/pleroma/web/api_spec/helpers.ex
  lib/pleroma/web/api_spec/operations/status_operation.ex
  lib/pleroma/web/api_spec/schemas/status.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Render multilang for attachments
  lib/pleroma/web/api_spec/schemas/attachment.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Render multilang in polls
  lib/pleroma/web/api_spec/schemas/poll.ex
  lib/pleroma/web/mastodon_api/views/poll_view.ex
  test/pleroma/web/mastodon_api/views/poll_view_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Accept map of strings in ActivityDraft
  lib/pleroma/web/activity_pub/builder.ex
  lib/pleroma/web/api_spec/operations/status_operation.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/common_api/utils.ex
  test/pleroma/web/activity_pub/builder_test.exs
  test/pleroma/web/common_api/activity_draft_test.exs
  test/pleroma/web/common_api/utils_test.exs
Due: openapi, test, test-erratic, lint, analysis, cycles, release

Accept status_map and spoiler_text_map in POST statuses
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/mastodon_api/controllers/status_controller.ex
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
Due: test, test-erratic, lint, analysis, cycles, release

Path conditions:
  deps: any of: mix.lock
  openapi: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  test: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  test-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  lint: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  analysis: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  release: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
