Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Path conditions:
  build-1.13.4: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  build-1.15.7-otp-25: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  spec-build: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing-1.12.3: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  unit-testing-1.15.7-otp-25: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  unit-testing-1.12-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  formatting-1.13: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles-1.13: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  analysis: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  dialyzer: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock

Remove C2S endpoints
  lib/pleroma/web/router.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Config: Deactivate client api by default
  config/config.exs
  config/test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Transmogrifier: Strip internal fields
  lib/pleroma/web/activity_pub/transmogrifier.ex
  test/pleroma/web/activity_pub/transmogrifier_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Linting
  lib/pleroma/emoji/pack.ex
  lib/pleroma/user/backup.ex
  test/pleroma/emoji/pack_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Register APNG MIME type
  config/config.exs
  test/pleroma/web/activity_pub/object_validators/attachment_validator_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Mix: Bump version to 2.9.0
  mix.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Update changelog
  CHANGELOG.md
  changelog.d/ci-builder-skip-arm32.skip
  changelog.d/hexpm-build-images.skip
Due: none

Linting
  lib/pleroma/safe_zip.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

SafeZip Test: Skip failing CI tests for the release (tests work fine locally)
  test/pleroma/safe_zip_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Optimize followed hashtag ids query, add test for hashtags in home timeline
  changelog.d/follow-hashtags.change
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/mastodon_api/controllers/timeline_controller.ex
  test/pleroma/web/mastodon_api/controllers/timeline_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Actually, update the existing test
  changelog.d/follow-hashtags.change
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/pleroma/web/mastodon_api/controllers/timeline_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

oops
  lib/pleroma/user/backup.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

oops
  lib/pleroma/web/activity_pub/transmogrifier.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

format
  lib/pleroma/user/backup.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

remove changelog entries from changelog.d
  changelog.d/301-small-image-redirect.change
  changelog.d/actor-published-date.add
  changelog.d/backup-links.add
  changelog.d/c2s-update-verify.fix
  changelog.d/description-update-suggestions.skip
  changelog.d/ensure-authorized-fetch.security
  changelog.d/fix-mastodon-edits.fix
  changelog.d/fix-wrong-config-section.skip
  changelog.d/follow-hashtags.add
  changelog.d/incoming-scrobbles.fix
  changelog.d/post-languages.add
  changelog.d/retire_mrfs.remove
  changelog.d/rich-media-ignore-host.fix
  changelog.d/rich-media-twittercard.fix
  changelog.d/twittercard-tag-order.fix
  changelog.d/vips-blurhash.fix
Due: none

Include my frontend in available frontends
  changelog.d/pl-fe.change
  config/config.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

nodeinfo improvements
  lib/pleroma/web/nodeinfo/nodeinfo.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

i hate my life
  lib/pleroma/web/mastodon_api/views/status_view.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Safezip: Fix test (issue was a difference in file ordering between otp26 and otp27)
  test/pleroma/safe_zip_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Edit debian_based_en.md
  docs/installation/debian_based_en.md
Due: none

Add new file
  changelog.d/debian-distro-docs-pleromaBE.fix
Due: none

Edit debian-distro-docs-pleromaBE.fix
  changelog.d/debian-distro-docs-pleromaBE.fix
Due: none

.
  changelog.d/content-type-sanitize.security
  config/config.exs
  config/description.exs
  lib/pleroma/web/plugs/uploaded_media.ex
  lib/pleroma/web/plugs/utils.ex
  test/pleroma/web/plugs/uploaded_media_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Sanitize media uploads.
  lib/pleroma/web/plugs/uploaded_media.ex
  test/pleroma/web/mastodon_api/controllers/media_controller_test.exs
  test/pleroma/web/plugs/uploaded_media_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

More fixes for InstanceStatic
  config/config.exs
  lib/pleroma/web/plugs/instance_static.ex
  test/pleroma/web/plugs/instance_static_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

InstanceStatic: Extra-sanitize emoji
  config/config.exs
  lib/pleroma/web/plugs/instance_static.ex
  test/pleroma/web/plugs/instance_static_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

ReverseProxy: Sanitize content.
  lib/pleroma/reverse_proxy.ex
  test/pleroma/reverse_proxy_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

StealEmojiPolicy: Sanitise emoji names.
  lib/pleroma/web/activity_pub/mrf/steal_emoji_policy.ex
  test/pleroma/web/activity_pub/mrf/steal_emoji_policy_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Object.Fetcher: Don't do cross-site redirects.
  lib/pleroma/object/fetcher.ex
  test/pleroma/object/fetcher_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fetcher Tests: Add tests validating the content-type
  test/pleroma/object/fetcher_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Containment: Never fetch locally
  changelog.d/local-fetch-prevention.security
  lib/pleroma/object/containment.ex
  lib/pleroma/object/fetcher.ex
  test/pleroma/object/fetcher_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Tests: Fix tests.
  test/fixtures/users_mock/friendica_followers.json
  test/fixtures/users_mock/friendica_following.json
  test/fixtures/users_mock/masto_closed_followers.json
  test/fixtures/users_mock/masto_closed_followers_page.json
  test/fixtures/users_mock/masto_closed_following.json
  test/fixtures/users_mock/masto_closed_following_page.json
  test/fixtures/users_mock/pleroma_followers.json
  test/fixtures/users_mock/pleroma_following.json
  test/pleroma/user_test.exs
  test/pleroma/web/activity_pub/activity_pub_test.exs
  test/support/http_request_mock.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Changelog: Add missing changelog entries
  changelog.d/c2s-update-authorization.security
  changelog.d/cross-domain-redirect-check.security
  changelog.d/emoji-shortcode-validation.security
  changelog.d/local-fetch-prevention.security
  changelog.d/media-proxy-sanitize.security
  changelog.d/object-fetcher-content-type.security
Due: none

Mix: Update version
  mix.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Update changelog
  CHANGELOG.md
  changelog.d/c2s-update-authorization.security
  changelog.d/content-type-sanitize.security
  changelog.d/cross-domain-redirect-check.security
  changelog.d/debian-distro-docs-pleromaBE.fix
  changelog.d/emoji-shortcode-validation.security
  changelog.d/local-fetch-prevention.security
  changelog.d/media-proxy-sanitize.security
  changelog.d/object-fetcher-content-type.security
  changelog.d/pl-fe.change
Due: none

Linting
  lib/pleroma/date_time.ex
  lib/pleroma/date_time/impl.ex
  lib/pleroma/mogrify_behaviour.ex
  lib/pleroma/mogrify_wrapper.ex
  test/pleroma/upload/filter/anonymize_filename_test.exs
  test/pleroma/upload/filter/mogrifun_test.exs
  test/pleroma/upload/filter/mogrify_test.exs
  test/pleroma/upload/filter_test.exs
  test/pleroma/web/plugs/instance_static_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fully remove upload_media endpoint
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
  lib/pleroma/web/activity_pub/views/user_view.ex
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fully remove C2S update_outbox endpoint
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Remove dokku review job
  .gitlab-ci.yml
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Remove more unused code
  lib/pleroma/web/activity_pub/activity_pub_controller.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer
