Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Path conditions:
  build-1.13.4: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  build-1.15.7-otp-25: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  spec-build: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  unit-testing-1.12.3: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  unit-testing-1.15.7-otp-25: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  unit-testing-1.12-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  formatting-1.13: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles-1.13: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  analysis: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  dialyzer: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock

Remove old elixir 1.12 build image generation script
  ci/elixir-1.12/Dockerfile
  ci/elixir-1.12/build_and_push.sh
Due: none

CI script to build and publish an image for Elixir 1.14
  ci/elixir-1.13.4-otp-25/build_and_push.sh
  ci/elixir-1.14.5-otp-25/Dockerfile
  ci/elixir-1.14.5-otp-25/build_and_push.sh
Due: none

Include session scopes in TokenView
  changelog.d/token-view-scopes.add
  lib/pleroma/web/twitter_api/views/token_view.ex
  test/pleroma/web/twitter_api/controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

MRF: Add filtering against AP id
  changelog.d/mrf-id_filter.add
  lib/pleroma/web/activity_pub/mrf.ex
  lib/pleroma/web/activity_pub/mrf/policy.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

MRF.DropPolicy: Add id_filter/1
  lib/pleroma/web/activity_pub/mrf/drop_policy.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Object.Fetcher: Hook to MRF.id_filter
  lib/pleroma/object/fetcher.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

MRF.SimplePolicy: Add id_filter/1
  lib/pleroma/web/activity_pub/mrf/simple_policy.ex
  test/pleroma/web/activity_pub/mrf/simple_policy_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Dockerfile: Elixir 1.14
  Dockerfile
  changelog.d/elixir-1.14-docker.skip
Due: none

push: make vapid_config fallback to empty array
  changelog.d/vapid_keyword_fallback.fix
  lib/pleroma/web/push.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Remove Object.get_by_id_and_maybe_refetch/2
  lib/pleroma/object.ex
  lib/pleroma/web/mastodon_api/controllers/poll_controller.ex
  test/pleroma/object_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Validate an Oban job is inserted for poll refreshes
  test/pleroma/web/mastodon_api/controllers/poll_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add Oban job to handle poll refreshing and stream out the update
  lib/pleroma/web/mastodon_api/controllers/poll_controller.ex
  lib/pleroma/workers/poll_worker.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Skip refetching poll results if the object's updated_at is newer than the poll closed timestamp
  lib/pleroma/workers/poll_worker.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Schedule a final poll refresh before streaming out the notifications
  lib/pleroma/workers/poll_worker.ex
  test/pleroma/workers/poll_worker_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Rename assignment for consistency
  lib/pleroma/workers/poll_worker.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Test Poll refresh jobs stream out updates after refetching the object
  test/pleroma/workers/poll_worker_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Permit backdating the poll closed timestamp
  test/support/factory.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Test that a poll refresh is cancelled if updated_at on the object is newer than the poll closing time
  test/pleroma/workers/poll_worker_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Poll refreshing changelog
  changelog.d/poll-refresh.change
Due: none

Improve assertion
  test/pleroma/workers/poll_worker_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Credo
  lib/pleroma/web/mastodon_api/controllers/poll_controller.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Do not attempt to schedule poll refresh jobs for local activities
  lib/pleroma/web/mastodon_api/controllers/poll_controller.ex
  test/pleroma/web/mastodon_api/controllers/poll_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix nonexisting user will not generate metadata for search engine opt-out
  changelog.d/se-opt-out.change
  lib/pleroma/web/fallback/redirect_controller.ex
  lib/pleroma/web/feed/user_controller.ex
  lib/pleroma/web/metadata/providers/feed.ex
  lib/pleroma/web/metadata/providers/open_graph.ex
  lib/pleroma/web/metadata/providers/rel_me.ex
  lib/pleroma/web/metadata/providers/twitter_card.ex
  test/pleroma/web/fallback_test.exs
  test/pleroma/web/feed/user_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Check if a refresh is permitted by comparing timestamps before attempting to insert an Oban job
  lib/pleroma/web/mastodon_api/controllers/poll_controller.ex
  lib/pleroma/workers/poll_worker.ex
  test/pleroma/web/mastodon_api/controllers/poll_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Remove test superceded by logic change
  test/pleroma/workers/poll_worker_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Remove pattern that can never match
  lib/pleroma/workers/poll_worker.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Increase poll refresh interval to 120 seconds
  lib/pleroma/web/mastodon_api/controllers/poll_controller.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add RemoteReportPolicy to reject reports without enough information
  config/config.exs
  lib/pleroma/web/activity_pub/mrf/remote_report_policy.ex
  test/pleroma/web/activity_pub/mrf/remote_report_policy_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

RemoteReportPolicy: add `:reject_all` option, fix tests
  config/config.exs
  lib/pleroma/web/activity_pub/mrf/remote_report_policy.ex
  test/pleroma/web/activity_pub/mrf/remote_report_policy_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

mix format
  lib/pleroma/web/activity_pub/mrf/remote_report_policy.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

RemoteReportPolicy: add `reject_third_party` option
  lib/pleroma/web/activity_pub/mrf/remote_report_policy.ex
  test/pleroma/web/activity_pub/mrf/remote_report_policy_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

RemoteReportPolicy: Fix third-party report detection
  lib/pleroma/web/activity_pub/mrf/remote_report_policy.ex
  test/pleroma/web/activity_pub/mrf/remote_report_policy_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Changelog
  changelog.d/remote-report-policy.add
Due: none

bump postgresql version for CI
  .github/workflows/pl.yaml
Due: none

Fix readability issues
  lib/pleroma/hashtag.ex
  lib/pleroma/user.ex
  lib/pleroma/user/hashtag_follow.ex
  lib/pleroma/web/api_spec/operations/akkoma_compat_operation.ex
  lib/pleroma/web/mastodon_api/controllers/follow_request_controller.ex
  lib/pleroma/web/mastodon_api/controllers/tag_controller.ex
Due: build-1.13.4, build-1.15.7-otp-25, spec-build, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Metadata: Do not include .atom feed links for remote accounts
  changelog.d/atom-tag.change
  lib/pleroma/web/metadata/providers/feed.ex
  test/pleroma/web/metadata/providers/feed_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Add replacement for $
  lib/pleroma/web/activity_pub/transmogrifier.ex
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Fix incoming Blocks being rejected
  changelog.d/incoming-blocks.fix
  lib/pleroma/constants.ex
  lib/pleroma/web/activity_pub/object_validator.ex
  test/pleroma/web/activity_pub/activity_pub_controller_test.exs
Due: build-1.13.4, build-1.15.7-otp-25, unit-testing-1.12.3, unit-testing-1.15.7-otp-25, unit-testing-1.12-erratic, formatting-1.13, cycles-1.13, analysis, dialyzer

Should probably also include vips in the media/graphics packages section, as you need it to compile some library
  docs/installation/freebsd_en.md
Due: none
